[2020-04-14 17:43] ppwwyyxx commented on #2275
I agree that having a split would be good. Many people still use TF 1.x and recently there are complains for better TF 1.x docs (https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/ubiq9tzms7s).

The code https://github.com/ppwwyyxx/dash-docset-tensorflow I wrote to generate 1.x docs probably won't work for 2.x though, given how much their HTMLs have changed.

[2020-04-15 13:06] gavinr opened #2733 "request: svelte"
- https://svelte.dev/
- https://svelte.dev/docs

[2020-04-16 17:15] mharju commented on #2714
Just received an update to my Dash and this version works perfectly. Thanks again!

[2020-04-16 17:15] #2714 closed

[2020-04-16 19:36] shaunlebron commented on #2714
thanks for making the issue, keep me in the loop if stuff looks weird again

[2020-04-22 10:39] reuben commented on #2275
TF 2.1 docs are now available!

[2020-04-23 07:59] cocoonkid opened #2751 "request: Mozilla Webdocs"
https://developer.mozilla.org/en-US/

Bery helpful :-)

[2020-04-24 17:00] schrodincat commented on #1355
Should be closed

[2020-04-28 08:00] patlefort opened #2759 "Boost.Hana wrong link"
Small problem with Boost docset: Boost.Hana links to Boost.GraphParallel.

[2020-04-28 14:57] Kapeli commented on #2759
Fixed

[2020-04-28 14:57] #2759 closed

[2020-04-30 20:38] yanwork commented on #595
Hello! Are there any updates? Checking new version of Dash and looking for Spring Boot docset https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/

[2020-05-05 12:08] vonagam commented on #2254
Closed by #2774

[2020-05-05 13:49] #2254 closed

[2020-05-06 12:23] milouse commented on #2751
They are already available through individual docsets `HTML`, `CSS` and `Javascript`. Or am I wrong?

[2020-05-08 17:43] knowler commented on #2522
I would love this, particularly the [ARIA reference](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques).

[2020-05-10 14:06] cocoonkid commented on #2751
Unfortunately I forgot what I was trying to find recently but it was available via MDN but nowhere to be found in Dash. I will update when I remember which item it specifically was.

[2020-05-18 19:57] ddaza opened #2795 "question: How Can I update/contribute to a Github generated docset"
For instance It looks like a lot of Github Docset exists and when you download them there are complete sections that are missed or never were added.

### For instance:
https://github.com/microsoft/TypeScript-New-Handbook

Awesome that it exists:
<img width="684" alt="Screen Shot 2020-05-18 at 2 47 37 PM" src="https://user-images.githubusercontent.com/290254/82253398-894bd500-9916-11ea-8672-c53c6d5

[2020-05-19 07:05] Kapeli commented on #2795
GitHub docsets are generated locally on your Mac, they're not pre-generated by someone else like user contributed docsets are. There seems to be a bug in the generation of the docsets. I'll look into it.

If you want to report further issues regarding GitHub docsets, please email me about it.

[2020-05-19 07:05] #2795 closed

[2020-05-20 15:23] Kapeli commented on #2795
This should now be fixed. Please let me know if you notice any other issues.

[2020-05-24 14:44] godbout commented on #2014
is this still on? this doc?: https://stripe.com/docs

[2020-05-24 21:24] wkoszek commented on #2014
@godbout  My commitment of $20 is still there. You'll have to check if @mikerogne is in as well. For me, getting https://stripe.com/docs and https://stripe.com/docs/api/terminal/connection_tokens/create (aka - API reference) would be amazing.

[2020-05-24 22:27] mikerogne commented on #2014
Yes, I'm still good for it as well.

[2020-05-25 02:44] godbout commented on #2014
ok i'll have a look at it. but no promise 😅️

[2020-05-25 08:41] godbout commented on #2014
have a look: https://www.dropbox.com/sh/pf4v2l294kpg8e2/AAAgS_8Tw_E7VyRQ3RT9-OCta?dl=0

it's huge. and it's a pain to download. i haven't cleaned it so it comes with all the menus and shit, and it probably still access some stuff online, which i'll solve later. what i need from you now is to let me know if you're getting the pages you want, or if some are extra and could be removed. i don't use th

[2020-05-25 13:09] godbout commented on #2014
added a second version. removed headers, menus, etc. added the TOC. but the Stripe doc is heavy on JavaScript, and you can't the JavaScript of the doc AND the TOC at the same time (you can still make it work weirdly by double-clicking the TOC entry rather than using the keyboard shortcuts). this is due to the fact that Dash adds hashtags to the page URL and the Strip JavaScript is trying to read i

[2020-05-25 23:14] wkoszek commented on #2014
@godbout It looks like a good start. I loaded "Start with a guide" sections first and it look good. Then I disconnected from Wifi. I clicked  "Clone a sample project" section, and it didn't load. Is that expected?

[2020-05-26 11:33] godbout commented on #2014
clicking the section works for me. you don't mean clicking the sections from `Clone a sample project` right? because those ones would send you to GitHub.

[2020-05-26 11:41] godbout commented on #2014
but anyways, no wonder nobody did a Docset for Stripe. it's a huge pain. their doc is basically a React app. the JavaScript breaks when downloaded. so it's not just an issue of downloading the doc, and formatting. you need to go understand and update their JS. not worth it (i mean it was not worth it from the start 😅️😂️ i wanted to do it for fun and coz it's a library used by a lot of people so th

[2020-05-26 15:19] godbout commented on #2014
that's all i'll be able to do folks:
* Stripe API: https://github.com/godbout/dash-docset-builder/blob/stripe-api/storage/stripe-api/stripe-api.tgz
* Stripe: https://github.com/godbout/dash-docset-builder/blob/stripe/storage/stripe/stripe.tgz

that's in the philosophy of better than nothing. if you find something who's able to deal with their JavaScript i'd be interested to know!

good luck.

[2020-05-27 03:31] wkoszek commented on #2014
@godbout Maybe I'd not give up some easily. I've pinged some people from Stripe and pointed them to this thread.

[2020-05-28 19:38] #2715 closed

[2020-05-30 04:14] godbout commented on #2014
let's see what they say.

[2020-06-03 09:03] hologerry commented on #2275
Latest PyTorch and torch related vision, text, audio docs are now available!

[2020-06-04 10:50] #2275 closed

[2020-06-04 22:18] haroldofurtado commented on #1861
I still don't know why don't have Ruby 2.5.8

[2020-06-05 18:34] gingerbeardman commented on #2704
Any update @Kapeli ?

[2020-06-05 19:17] Kapeli commented on #2704
It's not a priority currently as it's still in beta. It will be a priority once it becomes stable.

[2020-06-06 11:39] gingerbeardman commented on #2704
It became stable 2020-06-01

[2020-06-07 10:14] jonashaag opened #2829 "Update libROSA docset"
Updated from v0.6 to v0.7.2. See archive attached.

[2020-06-07 10:16] jonashaag commented on #2829
Ok, I can't attach it here due to file size. Is there a way for me to upload it to CDN? Not sure how update procedure for contributors works...

[2020-06-09 14:01] Kapeli commented on #2829
Please submit a pull request containing the required changes. If the docset itself is too large you need to upload anywhere you want (e.g. Dropbox) and send me a link.

[2020-06-09 14:01] #2829 closed

[2020-06-09 17:27] JoaoTMDias opened #2834 "Request: Cypress"
Hello!
I'd like to propose a request for adding [Cypress](https://www.cypress.io/) (Javascript End to End testing framework) docs, please.

[Documentation Url](https://docs.cypress.io/guides/overview/why-cypress.html)

[2020-06-09 17:31] JoaoTMDias opened #2835 "Request: Testing Library (React)"
Hello!
I'd like to propose a request for adding [Testing Library](https://testing-library.com/) docs, please.
I would like to help, but I'm a bit lost on the documentation on how to add this to the list of docsets.

[Documentation Url](https://testing-library.com/docs/intro)

A big thank you in advance!

[2020-06-24 23:31] mgrandi commented on #2486
I am working on this now

[2020-06-28 01:01] noahlh commented on #2733
I'm about to take a long international flight sans WiFi so had some extra motivation to put this together (I'm working on a Svelte project).  This docset includes the core API docs as well as the Tutorial.  I couldn't quite get the REPL working in this first versio, but I'm pretty sure it's doable with some tweaks.  Will explore.

Hope this is helpful!

[2020-06-29 15:59] niloct opened #2856 "No sidebar and no section keystroke jumping"
Hi, good afternoon!

I’ve downloaded the RFC docset and found that it has no support for sections on the left sidepanel, neither navigation with Option+Down on the keyboard.

It would be nice to have these features. Is is possible to add those ?

Thanks!

[2020-06-30 06:10] #1962 closed

[2020-06-30 09:13] #2733 closed

[2020-07-02 16:42] Aekewu opened #2862 "APP"

[2020-07-03 08:38] #2862 closed

[2020-07-04 16:09] godbout commented on #2093
bulma is now up to date with 0.9.x. enjoy 🌿️

[2020-07-06 13:08] #2093 closed

[2020-07-24 00:45] Aekewu opened #2898 "APP"

[2020-07-27 02:05] Aekewu opened #2902 "App"

[2020-07-27 17:26] #2898 closed

[2020-07-27 17:27] #2902 closed

[2020-07-31 11:52] Thulium-Drake opened #2911 "Ansible Collections Docsets?"
Ansible will be including some module documetation that lives in other collections. Will the Dash docset include these?

For the documentation in Web form, please see: https://docs.ansible.com/ansible/2.10/collections/index.html

For the announcement, please see: https://groups.google.com/forum/#!topic/ansible-devel/ugrPk9AG7Co

If not, what is the script used to generate the current Ansible docse

[2020-07-31 11:59] Kapeli commented on #2911
Thanks for letting me know about this. I'll make sure those are included with the Ansible 2.10 docset.

[2020-07-31 12:50] #2911 closed

[2020-08-03 14:03] reuben opened #2916 "Links broken in TensorFlow 2 docset home page"
The links in the TensorFlow 1.15.3 docset main page are broken. Example link (tf.AttrValue): dfile:///Users/reubenmorais/Library/Application%20Support/Dash/User%20Contributed/TensorFlow/TensorFlow.docset/Contents/Resources/Documents/tf/AttrValue

@ppwwyyxx

[2020-08-03 14:13] reuben opened #2917 "Some inter-page links in TensorFlow 2 docset are broken"
Example: tf.nn.conv1d page, click on the tf.nn.conv2d link.

@ppwwyyxx

[2020-08-03 16:07] reuben commented on #2917
I was accidentally testing with my own TensorFlow 2 docset 😅

[2020-08-03 16:07] reuben commented on #2916
I was accidentally testing with my own TensorFlow 2 dataset 😅

[2020-08-06 19:00] kassane opened #2923 "Request: C++ draft"
https://eel.is/c++draft/

[2020-08-10 15:36] mvshmakov commented on #2522
+ for the accessibility.

[2020-08-12 11:34] nmyster commented on #2601
Any updates on this or how we get it

[2020-08-17 14:11] ddevault opened #2941 "Docset license?"
What is the license for this repository?

[2020-08-25 22:02] eddiewang commented on #2014
would love to see this as well

[2020-08-25 22:03] wkoszek commented on #2014
@eddiewang How much are you pitching in? :)

[2020-08-26 15:21] ilpianista opened #2951 "Request: TOML"
Url: https://toml.io/en/v1.0.0-rc.2
Project: https://toml.io/

[2020-08-26 15:21] #917 closed

[2020-08-26 15:21] #1928 closed

[2020-08-27 23:05] f3d0r opened #2953 "Terraform AWS Provider Missing in recent Docset update"
The AWS Provider documentation for Terraform is missing in the latest update (published ~8 hours ago)

[2020-08-28 15:04] aviflax commented on #2953
To be specific: 0.13.1.

For now I’ve downgraded to 0.13.0, which has all the AWS docs.

[2020-08-28 15:15] yangxyo opened #2956 "webpack4"
webpack4 should update

[2020-08-28 18:53] hryamzik commented on #2953
Most likely it's better to downgrade to 0.12.28 or 0.12.29. Note that they'll appear as a separate docset.

[2020-08-31 21:46] ThatsJustCheesy opened #2957 "Update discord.js to v12"
discord.js has undergone a major version upgrade to v12, with breaking changes. The docset is for v11 and needs an update.

@n3oney ;)

[2020-09-01 17:27] sheldonhull commented on #2953
I was about to open request on this. I'm seeing the results mixed up with other providers in my dash docs.
Was thinking it it maybe was related to the new provider updates, as they have some newer registry/module stuff. Haven't looked at how this all is gathered but might be part of the problem.

[2020-09-05 07:54] n3oney commented on #2957
Stopped using Dash, won't update the docset. Sorry.

[2020-09-10 09:42] abeluck commented on #2953
I'm a Zeal user. Could someone advise how to construct the appropriate url to download the older 0.13.0 version?

http://frankfurt.kapeli.com/feeds/zzz/user_contributed/build/Terraform/Terraform.tgz leads to the latest broken 0.13.1one

[2020-09-10 13:55] reubenavery opened #2969 "Terraform docset suddenly missing all the aws provider?"
I'm seeing this across two different computers now too.  Terraform docset suddenly appears to be missing everything from AWS provider?

[2020-09-10 17:05] mflopez79 commented on #2969
check issue #2953

[2020-09-11 14:42] #2957 closed

[2020-09-13 13:54] RUSshy opened #2979 "Update D docset to latest version"
Is it possible to have the latest version?

In the feed the version is super old

Latest version: ``2.093.1``

https://dlang.org/library/index.html

[2020-09-13 14:00] RUSshy commented on #2979
PR here: https://github.com/Kapeli/Dash-User-Contributions/pull/2980

[2020-09-13 18:34] NoNamePro0 opened #2981 "Request: Syncthing Docs"
A great simple documention about the Syncthing Applicaton _(Sync and Backup Client/Server)_.

https://docs.syncthing.net/

Website is saved in a repository with `.rst`-Files: https://github.com/syncthing/docs

[2020-09-14 16:07] mflopez79 commented on #2953
Seems to be fixed on 0.13.2 (just got an update)

[2020-09-15 23:08] duncanbeevers commented on #2384
Opened https://github.com/mui-org/material-ui/issues/22610 on material-ui repository.

[2020-09-16 14:28] godbout commented on #818
gonna try to take care of that one. v5.

[2020-09-16 15:49] godbout commented on #818
one more doc full of js that breaks everywhere. but gonna get it.

[2020-09-16 15:49] godbout commented on #2956
working on latest doc, v5. coming sooooooooon.

[2020-09-17 15:38] godbout commented on #2956
v4 too actually.

[2020-09-17 15:39] godbout commented on #818
v4 coming too.

[2020-09-21 11:18] #818 closed

[2020-09-21 11:21] #2956 closed

[2020-10-01 17:30] f3d0r commented on #2953
Confirmed! Closing this unless the issue resurfaces.

[2020-10-01 17:30] #2953 closed

[2020-10-04 02:50] RbBtSn0w opened #3008 "Have a new RxSwift version doc, please support it."

[2020-10-11 14:36] godbout opened #3015 "the Apple API Reference is missing the Swift sections"
![Technologies___Apple_Developer_Documentation](https://user-images.githubusercontent.com/121373/95681403-3ac70c00-0c12-11eb-924f-a4efda7c444d.jpg)

or is it supposed to be somewhere else?

[2020-10-12 09:18] Kapeli commented on #3015
Can you tell me where this screenshot is from? I don't recognise the page you're on.

[2020-10-12 15:53] godbout commented on #3015
oh sorry, i thought you'd recognized where it's from. the page is here: https://developer.apple.com/documentation/technologies?language=objc

i've reached that page through Dash. tried to download the Swift Docset, said it was in the Apple API Reference, downloaded that one. then went through the *Frameworks* entries. they're all there except the Swift ones. so i've just `cmd+shift+B` to open the

[2020-10-13 10:07] Kapeli commented on #3015
I'm pretty sure the `?language=objc` indicates that you have the Apple API Reference docset set to Objective-C and not Swift. You should be able to find the Swift docs if you switch the docset to Swift.

[2020-10-13 15:13] godbout commented on #3015
ah shit, yes. i was not aware of that feature of Dash. i downloaded the Docset and was accessing it through Alfred. got it now. it's working. thanks!

[2020-10-13 15:17] godbout commented on #3015
btw, the inner TOC for that Docset, is it special for Main Docsets handled by you or can we have the same kind?

![the_Apple_API_Reference_is_missing_the_Swift_sections_·_Issue__3015_·_Kapeli_Dash-User-Contributions](https://user-images.githubusercontent.com/121373/95880170-ce7f1080-0da9-11eb-9a3c-660f53eac396.jpg)

when i tried to use different types of entries on mine, then the types of entries

[2020-10-14 03:27] zzfnohell opened #3017 "Request: FreeSWITCH"
Reference documentation of core API functions: http://docs.freeswitch.org/
Project: https://github.com/signalwire/freeswitch.git

[2020-10-14 07:50] Kapeli commented on #3015
This is possible, but undocumented.

There are several types of "dashtoc":
1. `dashtoc`: the one you're using
2. `unsorteddashtoc`: the same as `dashtoc`, but the entries aren't sorted alphabetically and instead show up in the order they are in the page
3. `dashtoc2`: you add the sections of the ToC and the entries, but the order is the one that's in the page (you can't change the order)
4. `dasht

[2020-10-14 15:26] godbout commented on #3015
ah! very nice.

well, `unsorteddashtoc` would already be better to what i have currently. `dashtoc2` seems the way to go ultimately. i'm not gonna need `dashtoc3`. thanks!

just out of curiosity, any reason why you didn't document that?

[2020-10-14 18:37] Kapeli commented on #3015
I just didn't get around to it yet 😞, it's a bit hard to explain in the docs without showing screenshots and so on and I just can't find the time for it. I'll try to prioritise it.

[2020-10-15 08:16] godbout commented on #3015
Dash 6 in the making? 😃️

[2020-10-15 08:18] Kapeli commented on #3015
Not yet.

[2020-10-15 08:36] godbout commented on #3015
well, i'll try to be the first buyer once it's there. i love Dash and your work man. can't live without it. there's a couple of apps that make my days brighter and make me smile every time i use them and Dash is one of them. which is also why i'm having a look at Swift. till now i've been doing web stuff or plugins/workflows/extensions for other macOS apps, but i think in the future i might make s

[2020-10-15 08:44] Kapeli commented on #3015
Thanks a lot for the kind words! I'm looking forward to see what you'll make ❤️

[2020-10-15 08:50] godbout commented on #3015
Dash 7.

🤣 just kidding. have a good time!

[2020-10-19 06:33] KongFanJin opened #3023 "request Blender Manual Doc"
Address: https://docs.blender.org/manual/en/dev/

[2020-10-23 10:45] iamthen0ise opened #3030 "Header issue in Kotlin Docset"
Hi! Tried Dash lately. Love it, but there's an issue with Kotlin docset. The header occupies all my screen.
<img width="1312" alt="Снимок экрана 2020-10-23 в 13 44 15" src="https://user-images.githubusercontent.com/1730030/96994851-f7d03700-1535-11eb-9353-1f86fcca7f75.png">

Is there any way to solve it? Thank you!

[2020-10-24 18:10] godbout commented on #3015
hey, sorry to bother you with that one again, but it seems the Docset is not up to date?

for example, check the `Stepper` entry in Dash, and then run the Online Redirection. you'll see that the doc is way different. thanks!

[2020-10-26 10:35] Kapeli commented on #3015
Dash uses the docs from within Xcode (the version of Xcode to which your `xcode-select -p` points to). Are the docs different in Xcode than Dash?

The online docs are almost always better than the Xcode docs. My assumption is that they're handled by 2 different teams at Apple.

[2020-10-26 10:42] Kapeli commented on #3030
Seems to be a CSS issue inside the docset. Adding `.global-header {display:none}` should fix it.

@pthariensflame any chance you could fix this?

[2020-10-26 16:36] godbout commented on #3015
shit you're right. this is so fucking dumb 😂️
to be honest i haven't been impressed by Xcode so far. will probably switch back to Sublime and some custom build when i'm more familiar APIs.

thanks again!

[2020-10-26 16:36] #3015 closed

[2020-10-27 08:18] mtelgkamp opened #3031 "Update TYPO3 docset"
Hi @Kapeli
According to https://github.com/Kapeli/Dash-User-Contributions/pull/529 TYPO3 is one of the officially supported Dash docsets, so I suppose that it should not be added as a User Contributed Docset. I would like to offer my help to get a more recent docset of typo3.
The current online documentation is available at https://api.typo3.org/. There also is a ticket in the TYPO3 Documentation

[2020-11-03 11:21] #2699 closed

[2020-11-14 17:20] dcastil commented on #2835
Here is also the source of the documentation website: https://github.com/testing-library/testing-library-docs

[2020-11-15 09:21] godbout commented on #3015
project settled. i don't know where to start. i have no idea if it's possible. but here we go.

[2020-11-17 05:19] techdragon commented on #2969
It looks like the AWS (and other providers) content is being moved out of the terraform website repo build process, which means that the current build script will not pull in the AWS content, this may need a new build script or (I think this is more likely) a separate docset which can be built when the AWS provider version updates.

[2020-11-19 16:26] manishrc opened #3056 "Request: Next.js"
**52.7K** Stars on GitHub (30% as popular as React itself and almost as popular as Angular)
**1,366** Contributors
**993,124** Weekly Downloads on NPM

https://github.com/vercel/next.js

https://nextjs.org/docs/getting-started

[2020-11-24 20:24] tnull opened #3060 "Newer ns-3 docsets too big."
While in the past I managed to keep the ns-3 docsets under github's 100MB limit by disabling `dot` graphs, it seems that this does not work for ns-3.31 and above.

In fact I have two docsets (ns-3.31 and ns-3.32) ready, however, they slightly surpass the 100MB mark. Is there another way I can upload these and maybe only provide the `docset.json` via a pull request?

[2020-11-24 20:54] Kapeli commented on #3060
Yes. Submit a pull request with just the `docset.json` and in the pull request comment include a link (e.g. Dropbox) to where I can download the docsets from.

[2020-11-24 20:54] #3060 closed

[2020-11-25 19:31] hayleyism opened #3065 "Dash"

[2020-11-26 18:32] #3065 closed

[2020-11-28 11:08] godbout opened #3069 "docs integrated Dark Mode"
seems there's more and more docs that have their own Dark Mode. guess it's switched when the browser itself switches. it's pretty cool because it removes the need to mark one's own Docset with a lot of `ignore-dark-mode` classes. but does Dash handle this? could it? like passing the Dark Mode to the docs itself?

[2020-12-01 14:15] tnull opened #3075 "Docset generation with ARM-based Macs."
So far I relied on Apple's deprecated `docsetutil` retrieved from an old Xcode installation for docset generation. However, this old version likely won't run on upcoming ARM-based Macs.

Is there any 'plan B' how to build docsets that previously relied on `docsetutil`?

[2020-12-01 19:07] silvenon opened #3076 "Request: TSConfig Reference"
https://www.typescriptlang.org/tsconfig

Maybe it would be best if this was added to the official TypeScript docset.

[2020-12-03 17:26] Kapeli commented on #3069
Can you give me some examples of docs that do this?

[2020-12-03 17:32] Kapeli commented on #3075
It should be possible to run `docsetutil` on ARM too, see https://news.ycombinator.com/item?id=25132217#25132679 for a way.

[2020-12-07 15:47] godbout commented on #3069
https://webpack.js.org/concepts/ would be one.

[2020-12-07 15:50] godbout commented on #3069
TailwindCSS 2.0 comes with Dark Mode support (https://tailwindcss.com/docs/dark-mode) so i'm foreseeing the trend.

StackOverflow switches modes too.

[2020-12-07 15:51] godbout commented on #3069
https://share.getcloudapp.com/5zudGmWQ

[2020-12-09 10:51] svenjacobs commented on #1638
The URL returns a 404. What is the current state of adding Flutter doc to Dash?

[2020-12-09 16:04] uc-cjdavis opened #3087 "Docset Request: jq"
It would take ages for me to contribute a docset based on the jq manual so I'm requesting it here.  If there's a backlog, reply indicating as such and I'll hack something out.

jq manual:  https://stedolan.github.io/jq/manual/v1.6/
Building documentation:  https://stedolan.github.io/jq/download/
Relevant section from the link:

Easiest way to get the docs (installing it on MacOS doesn't install th

[2020-12-10 18:32] Kapeli commented on #3069
Thanks for the info. I'll look into it!

[2020-12-11 05:50] godbout commented on #3069
great. thank you!

[2020-12-26 13:24] syphar commented on #2364
@Kapeli is there any news about having rust crate docs in dash? I would love to have it.

I know about https://github.com/rust-lang/docs.rs/issues/174 and https://github.com/rust-lang/docs.rs/issues/1004 ,

while currently I'm not sure if that's not too much effort only for offline download.

What are the requirements for Dash?

Just the package docs as HTML? Only for the most recent version? Or a

[2020-12-27 05:20] hacker1024 commented on #1638
The master URL is now at https://master-api.flutter.dev/offline/flutter.xml

[2020-12-28 10:25] #2917 closed

[2020-12-28 10:25] #2916 closed

[2020-12-31 09:06] Donkey1022 opened #3110 "doc"

[2021-01-03 17:11] Kapeli commented on #2364
There are no news. There's nothing I can do without a way to download the docs.

Just the docs as HTML, yes. Preferably for all versions, but just the most recent stable version is also ok.

[2021-01-03 17:51] #3110 closed

[2021-01-04 14:19] msimav commented on #3087
I have created a script for myself and I am willing to contribute the docset.

Meanwhile, the script can be found at https://gist.github.com/msimav/ae9eb41b1262f06bff878a099fe0c3db.

[2021-01-08 17:12] likeabbas commented on #2601
@huyphan has created the script to make the Typescript docset here https://github.com/huyphan/aws-cdk-typescript-dash-docset

Now we just need him to complete the PR for it.

[2021-01-08 19:11] jhogervorst commented on #2014
+ $20 bounty from me!

[2021-01-09 21:01] wader commented on #3087
Hello PR https://github.com/Kapeli/Dash-User-Contributions/pull/3117 adds a jq docset with no external dependecies

[2021-01-10 17:54] #3087 closed

[2021-01-11 14:28] daviscyd commented on #3087
Huge thanks @wader and @msimav

[2021-01-11 14:52] wader commented on #3087
@daviscyd  👍   there is an update coming also https://github.com/Kapeli/Dash-User-Contributions/pull/3118 ... of course noticed some issues after it got merged

[2021-01-11 14:56] wader commented on #3087
I kind of feel i'm pushing how far https://github.com/technosophos/dashing is suppose to be used, maybe the way @msimav   builds the index is better if we want something even nicer

[2021-01-13 08:14] ilpianista opened #3121 "Request: Jsonnet"
Project: https://jsonnet.org/

[2021-01-15 07:02] msimav commented on #3087
I just downloaded to test your docset, @wader and I really like function/expression distinction.

[2021-01-17 18:56] #3030 closed

[2021-01-19 19:07] svoop opened #3132 "Update Ruby docsets to feature Ruby 3"
Ruby 3 has been released on Xmas day last year. 🎉

Thank you for including Ruby 3, in fact, I suggest you use the opportunity to clean up things a little:

* Drop the "Ruby" docset which contains Ruby 1.x only. Both Ruby 1.8 and 1.9 have EOLed a long time ago.
* Rename the "Ruby 2" dockset to just "Ruby" and include Ruby 3 there.

Thanks a bunch!

(I've just sent the same as feedback via the app,

[2021-01-22 18:58] Kapeli commented on #3132
Thanks for the feedback. This repo is for user contributed docsets only, so I'll close this issue.

[2021-01-22 18:58] #3132 closed

[2021-01-24 23:21] xilopaint opened #3140 "[Request] Pine Script"
[Pine Script Language Reference Manual](https://www.tradingview.com/pine-script-reference/v4/)

[2021-01-24 23:38] xilopaint commented on #2720
This is a duplicate of #2665.

[2021-01-28 15:51] #2720 closed

[2021-01-28 15:52] Kapeli commented on #2720
@xilopaint thanks for spotting the duplicate

[2021-02-04 07:36] #3075 closed

[2021-02-04 13:10] dannysteenman commented on #2601
I noticed there was also an open issue on the aws-cdk repo: https://github.com/aws/aws-cdk/issues/8617. I mentioned in that issue that someone already did the heavy lifting in https://github.com/huyphan/aws-cdk-typescript-dash-docset/issues/1

Maybe both parties can collaborate in order to get this into Dash 👍

[2021-02-12 09:53] McYoda opened #3162 "Docset Request for Apache FreeMarker"
Could you please create a docset for Apache FreeMarker?
https://freemarker.apache.org/

Thanks a lot
Martin

[2021-02-16 15:59] lolleko opened #3165 "dash-ignore-dark-mode class not working"
Adding the class does not prevent images from being inverted.

Or am I missing something?

![Screenshot 2021-02-16 at 16 58 08](https://user-images.githubusercontent.com/4759511/108087890-2b504780-7078-11eb-943b-74ccd42bd6ce.png)

[2021-02-16 16:52] Kapeli commented on #3165
Can you upload the affected docset somewhere so I can check?

[2021-02-16 19:29] lolleko commented on #3165
https://drive.google.com/file/d/1nFyOdR0PZnDXE12Cs0gHQtmW8aloREff/view?usp=sharing

[2021-02-16 20:30] Kapeli commented on #3165
The way `dash-ignore-dark-mode` works is by reverting back the effect Dash applies. If you add it several times or on elements that don't need it you end up actually inverting something that Dash wouldn't invert by default.

Try to remove `dash-ignore-dark-mode` everywhere and add it one at a time to the elements that need it.

The hero image is not inverted by Dash by default and there's no `dash

[2021-02-16 22:03] lolleko commented on #3165
I see, thanks!
How does dash decide wether it inverts an image? Or are images not inverted anymore?
I remember that being the case a few versions ago.

[2021-02-17 09:52] Kapeli commented on #3165
Currently only SVG images are inverted.

[2021-02-17 12:04] thedoglett opened #3169 "Bulma dockset showing adverts in Dash (v6.0)"
I've noticed that the Bulma docset is showing adverts in Dash (v6.0 - all paid for) and @Kapeli said to raise an issue here as its a user contributed docset (so here it is!).

This is what I'm seeing…

![Imgur](https://i.imgur.com/lVynm4x.jpg)

[2021-02-17 15:27] lolleko commented on #3165
What about the brightness change? anyway to turn that off for images?

![Screenshot 2021-02-17 at 16 25 37](https://user-images.githubusercontent.com/4759511/108226061-d3c7df80-713c-11eb-9e1b-d8c92f8265b1.png)
![Screenshot 2021-02-17 at 16 25 43](https://user-images.githubusercontent.com/4759511/108226073-d4f90c80-713c-11eb-9345-33757cdf5ad5.png)

[2021-02-17 15:37] Kapeli commented on #3165
Nope, sorry. The images are actually inverted with the whole page, and then inverted back to normal, but unfortunately some colors are lost because they overflow. What you see is the best I could come up with after a lot of trial & error.

[2021-02-17 20:06] lolleko commented on #3165
Okay it seems like that brightness effects gets messed up when the image is within `<picture>` tags:

### Normal:

![Screenshot 2021-02-17 at 20 50 47](https://user-images.githubusercontent.com/4759511/108259944-fc160500-7161-11eb-8177-a4dc9d6c9841.png)

### `<picture><img><img/></picture>`

![Screenshot 2021-02-17 at 20 51 28](https://user-images.githubusercontent.com/4759511/108259959-033d1300-7

[2021-02-18 16:43] desilinguist opened #3173 "Request: Update scikit-learn docset to 0.24.1"
I will submit a PR.

[2021-02-19 10:01] #3056 closed

[2021-02-19 10:02] #3173 closed

[2021-02-19 10:46] #3165 closed

[2021-02-22 14:56] xilopaint opened #3181 "[Request] Backtesting.py"
Docs: https://kernc.github.io/backtesting.py/doc/backtesting/index.html

[2021-02-26 01:18] asolopovas commented on #2005
+1

[2021-03-02 12:52] finferflu commented on #2969
This is still an issue. Not all of the AWS provider resources are currently missing, however, they are out of date (see for example `aws_cloudfront_distribution`) and some of them are missing (e.g. `aws_cloudfront_cache_policy`). Can this be addressed? As @techdragon suggests, we either need the build script updated or a separate docset for the AWS provider.

Thanks!

[2021-03-18 00:30] qingbozhou opened #3213 "alicloud provider missing in latest Terraform docsets"
It existed in version 0.12.29, but is missing from 0.13.5 and 0.14.0.

[2021-03-18 01:53] svenlito opened #3214 "terraform docset a few versions behind"
The latest published version is `0.14.0` whereas the latest available terraform version as currently `0.14.6`. So the current docset is missing a whole bunch of things.

[2021-03-18 09:02] Kapeli commented on #3213
@rolandjohann

[2021-03-18 09:02] Kapeli commented on #3214
@rolandjohann

[2021-03-22 08:40] #3214 closed

[2021-03-22 10:04] svenlito commented on #3214
@Kapeli you can unpublish this one, the archive is no good. will resubmit

[2021-03-22 10:26] svenlito opened #3223 "terraform 0.14.8 docset incomplete"
you can unpublish this version. it seems as hashicorp has changed the way they host documentation. Basically, they moved it all from their website - which the docset generator was relying on - to the registry. So it isn't currently possible to generate new docsets using the current method.

[2021-03-22 10:29] #3223 closed

[2021-03-23 03:30] dearfat opened #3225 "lack of flutter 2.0 api"
lack of flutter 2.0 api

[2021-04-09 07:34] buikhoa40 commented on #3225
Yes, so long

[2021-04-10 14:36] quashact opened #3249 "With Node.js docset, the search field loses its focus after page is loaded."
With node.js docset, the search field loses its focus after the page is loaded. So if i want to search a something, i should continuously type a `cmd+f` to enforce the focus to it every time keystroke happens.

[2021-04-11 17:20] Kapeli commented on #3249
This repo is for user contributed docsets. Please [contact me](https://kapeli.com/contact) directly regarding this.

[2021-04-11 20:31] #3249 closed

[2021-04-13 19:10] 646b commented on #3225
Dart but no flutter 😥

[2021-04-16 16:09] Kapeli commented on #3225
This might be relevant: https://twitter.com/maxlapides/status/1381054676926222337

[2021-04-22 09:29] hologerry opened #3261 "The doc the is not aligned to the query"
When using Alfred to open a query the viewpoint is not aligned to the item:
![image](https://user-images.githubusercontent.com/11660168/115690919-2073a500-a390-11eb-83ab-224c24be21d3.png)
![image](https://user-images.githubusercontent.com/11660168/115690986-341f0b80-a390-11eb-9288-f00906fdebcf.png)

[2021-04-22 14:48] Kapeli commented on #3261
What docset does this happen with?

[2021-04-22 14:50] hologerry commented on #3261
PyTorch and PyTorchLightning

[2021-04-22 14:51] hologerry commented on #3261
This issue does not happen in previous version of Dash, when I creating the PyTorch docset.

[2021-04-22 14:52] Kapeli commented on #3261
Previous version of Dash and also a previous version of the docset?

[2021-04-22 14:53] hologerry commented on #3261
Both.
I did not test it on current version of Dash with a previous version of the docset.

[2021-04-22 18:56] MJAguilera opened #3265 "favor ayuda con el framework"
favor ayuda con el framework

gracias ,,, thank you,,,,,,

[2021-04-23 13:50] #3265 closed

[2021-04-26 12:24] hologerry commented on #3261
Any news?
Could this be fixed in the next version of Dash?

[2021-04-26 12:46] Kapeli commented on #3261
This isn't a Dash issue as far as I can tell, but a docset issue.

If the current docset works fine with previous versions of Dash, but not with latest, please let me know and I'll investigate further.

[2021-04-28 18:24] #1844 closed

[2021-05-03 14:10] JWandscheer opened #3278 "Commands only show Paragraph Symbol"
The Command List in the PySide2 docset only shows the Paragraph Symbol instead of commands (as you can see in Screenshot below).
This holds in every Class, not only the shown QSpinBox.

Dash Version 6.0.5

![Bildschirmfoto 2021-05-03 um 16 10 07](https://user-images.githubusercontent.com/5305887/116886984-09ec0a00-ac2a-11eb-9654-63aa0ce66a2f.png)

[2021-05-04 15:55] drAlberT opened #3279 "AWS Cloudformation docset outdated"
aws-resource-stepfunctions-statemachine local documentation is outdated and doe not reflects last changes in the online version.

For example "Definition" property is missing in the local version.

ONLINE:
<img width="925" alt="ONLINE" src="https://user-images.githubusercontent.com/1442700/117032115-830a6080-ad01-11eb-93f2-c12d2fb63c44.png">

LOCAL:
<img width="1117" alt="LOCAL" src="https://user-

[2021-05-06 14:58] niloct opened #3284 "PEP layout is broken"
<img width="1242" alt="Captura de Tela 2021-05-06 às 11 56 34" src="https://user-images.githubusercontent.com/1529383/117319982-312d1c00-ae62-11eb-8ba8-c195f9812cd2.png">

Searching for Python PEP pages shows broken layout, please see screenshot.

Thanks for your attention.

[2021-05-10 03:07] tshu-w opened #3289 "Automatically update docsets"
Most docsets in this repository are outdated. I think expecting users to update is slow and impossible. Maybe we should leverage Github Action to provide a CI/CD template for automatically updating docsets based on releases, and users just need to refine the scripts that generate the docsets.

[2021-05-12 08:40] Kapeli commented on #3279
@pdhodgkinson Can you update when you get a chance please?

[2021-05-15 16:45] ertoorule opened #3297 "how can i add webflow docs!"

[2021-05-24 14:42] yadadamean commented on #3140
Hi can somebody help me out.I whant to combine 2 script code indecator into 1script code indecator.The 1 sript code indecator is //@version=3
study("Bill Williams. Alligator, Fractals & Res-Sup combined", shorttitle="🐲 AlFReSco", overlay=true)

// Alligator
smma(src, length) =>
    smma = 0.0
    smma := na(smma[1]) ? sma(src, length) : (smma[1] * (length - 1) + src) / length
lipsLength  = input(t

[2021-05-27 09:06] hazcod opened #3307 "Terraform double search results"
Hi!

I have an unusual thing happening for terraform searches.
So I trigger a search via the Alfred integration ‘tf:’ which shows up the item just fine, so I press enter.
But then it shows up twice in the Dash window as seen on the screenshot.
Any idea why? Thank you.

[2021-05-27 09:07] hazcod commented on #3307
![Uploading dash-double-results.png…]()

[2021-05-27 15:05] Kapeli commented on #3307
@bartoszj There seem to be duplicate entries in the docset index, the only difference being that some have `/google-beta/` in their path, while others have `/google/`.

[2021-06-01 13:14] andreiborisov opened #3313 "Issues with some pub.dev Dart docsets"
Some Dart docsets from pub.dev don't contain any documentation when adding them via Dash macOS app.

Here is one example: https://pub.dev/packages/graphql

[2021-06-10 17:47] andreiborisov commented on #1638
Can it be added in the Main Docsets section, perhaps? I mean, the docset itself is supported and rebuild by the Flutter team, so all you need to do is to include their feed URL and maybe a simple GitHub action to update it when the new Flutter version comes out.

Downloading it every time it's updated and importing it by hand is not really convenient.

[2021-06-12 15:19] d-damien commented on #2005
Found this : https://github.com/jonboiser/vue-libs-dash-docs

Seems to work in Zeal 0.6.1

[2021-06-25 14:16] Kapeli commented on #3313
Sorry for the wait. Thanks a lot for letting me know about this. I've fixed it.

[2021-06-25 14:16] #3313 closed

[2021-06-25 17:43] bartoszj commented on #3307
Hello. Sorry for delay. This double search result is "expected". There are two, official, Terraform providers: [google](https://registry.terraform.io/providers/hashicorp/google/latest) and [google-beta](https://registry.terraform.io/providers/hashicorp/google-beta/latest). I know that it could be confused, so in the #3338 I've removed google-beta provider.

[2021-06-26 09:20] jasonzhouu commented on #1638
They both work fine, but for different version of flutter.

|url| flutter version|
|-|-|
|https://api.flutter.dev/offline/flutter.xml| 2.2.2(lastest version) |
| https://master-api.flutter.dev/offline/flutter.xml | 2.3.0-17.0.pre.529(preview version) |

[2021-06-28 18:39] #3307 closed

[2021-07-09 19:01] 0xErnie opened #3355 "Providers for terraform (proxmox, ovh, openstack)"
Terraform has lots of plugins which documantation can be found at https://registry.terraform.io/ , those are each versioned independently from terraform.

I would be happy if those three could be included:

https://registry.terraform.io/providers/terraform-provider-openstack/openstack/latest/docs
https://registry.terraform.io/providers/ovh/ovh/latest/docs
https://registry.terraform.io/providers/Te

[2021-07-11 10:13] SimonEast commented on #2263
I'd also like to have this included, as it's the default templating language not only for Shopify, but also for Jekyll, the main static site generator used on Github. I guess there's not a lot of demand for it yet, though, if I'm only the third requester.

If I had more time I'd try building and contributing the package myself. Will see if I get to it at some point.

[2021-07-14 15:54] messismore opened #3358 "Request: Rhinoceros 3D"
There's already a docset for the `RhinoScriptSyntax`, but it would be great to have support for the other APIs as well, especially `RhinoCommon`, `Grasshopper`, `compute_rhino3d`, and `rhino3dm.py`.

Url: https://developer.rhino3d.com/api/

[2021-07-22 03:13] mouson opened #3365 "Request: GitLab Docs"
[GitLab Documentation](https://docs.gitlab.com/)

[2021-07-30 12:54] godbout commented on #3015
OK SORRY FOR THE NOTIFICATION BUT ALSO NOT SORRY BECAUSE IF YOU"RE STILL INTERESTED TO KNOW WHAT I"M BUILDING it is starting: https://www.youtube.com/watch?v=tsqNhX3TelE

[2021-08-05 08:49] mathieug opened #3377 "Request: NestJS"
https://docs.nestjs.com/
https://github.com/nestjs/docs.nestjs.com

[2021-08-13 04:24] NeuroForLunch commented on #3289
I think this is a good idea. However, a script to provide to the users would be best because that is a difficult thing to properly do so once someone makes a good one, it can be disseminated to everyone. Kinda like dash2doc

[2021-08-16 13:40] SnakeHit commented on #1457
three years... How's it going

[2021-08-20 12:03] tobias-grasse commented on #2371
@eschaefer Would you be so kind to update the docs for the current version 1.7.8? If you don't have capacity right now, I can set up your generator and submit a PR myself; but I guess you have everything up and running way faster 😉 Thanks in advance!

[2021-08-22 20:08] godbout commented on #3169
yes. i've let those on purpose. using Dash to view the docs is convenient but it shouldn't cut funding for those projects.

[2021-08-24 03:04] ivaquero opened #3408 "Request: ArviZ"
Please provide a docset for ArviZ: https://arviz-devs.github.io/arviz/index.html

[2021-09-15 10:15] jespertheend commented on #2751
I think HTTP is missing: https://developer.mozilla.org/en-US/docs/Web/HTTP
This includes pages like the list of HTTP headers for example.

[2021-09-25 10:53] holyjak opened #3432 "Provide cheatsheet creation instructions, correct ToC instructions"
Hello! In Dash I see it distinguishes between docsets and cheat sheets. So how does a cheat sheet differ from a normal doc set? How do I make one?

Also, playing with cheatset, I see that the ToC support it generates differs from https://kapeli.com/docsets#tableofcontents in multiple ways:

* No `class="dashAnchor"` on the links
* The format is not `//apple_ref/cpp/Entry Type/Entry Name` but `//da

[2021-09-25 10:55] holyjak commented on #1682
Here you go https://github.com/holyjak/dash-asciidoc-cheatsheet, even though it is only a cheat sheet

[2021-09-28 10:54] Kapeli commented on #3432
They're the same as far as internal workings are concerned. The only difference you could say is that cheatsheets are generated using `cheatset`, while docsets can be generated using anything.

You can generate a cheatsheet using [cheatset](https://github.com/Kapeli/cheatset/blob/master/README.md).

Cheatsheets use a more complicated format of table of contents. In this format, you can define the

[2021-09-28 13:03] holyjak commented on #3432
Thank you! I cannot really use cheatset since I have a HTML as a starting point and convertin that to ruby to generate html is ... painful :) I have tried to copy what cheatset does but not sure how well I succeeded.

Perhaps if you could be so very kind and have a brief look at the docset html I have generated (either the full [docset](https://github.com/holyjak/dash-asciidoc-cheatsheet/releases/

[2021-09-30 11:35] Kapeli commented on #3432
`notes` in the cheatset format can contain HTML instead of Markdown as far as I know. Converting should just be copy pasting to the right place.

[2021-09-30 11:36] Kapeli commented on #3432
Closing this as it's not related to user contributed docsets. Please open an issue in the `cheatset` repo.

[2021-09-30 11:36] #3432 closed

[2021-10-20 22:34] pepe-invest-git opened #3457 "PEPE"

[2021-10-30 04:17] gitony0101 opened #3464 "mac os 12 dash quit unexpectedly"
Process:               Dash [29954]
Path:                  /Applications/Dash.app/Contents/MacOS/Dash
Identifier:            com.kapeli.dashdoc
Version:               6.0.7 (980)
Code Type:             X86-64 (Native)
Parent Process:        launchd [1]
User ID:               501

Date/Time:             2021-10-30 12:13:11.1682 +0800
OS Version:            macOS 12.0.1 (21A559)
Report Version:

[2021-10-30 11:55] stefankolb opened #3465 "Question: Local playground possible?"
I want to add a playground to a docset, but instead of having a link to an external resource, the playground will be included in the docset itself. How would I reference the playground in `Info.plist`? I know that the key is `DashDocSetPlayURL`, but what would be the string value? So far, I tried the following, but none of these work:

* `demo.html`
* `/demo.html`
* `file:///demo.html`
* `file:///

[2021-11-02 13:20] Kapeli commented on #3464
Please email me about this and include the complete crash report.

[2021-11-02 13:20] #3464 closed

[2021-11-05 11:38] Kapeli commented on #3465
This is not currently possible. I'll add support for it in the next Dash update.

You should set the path as `demo.html`, where `demo.html` can be found within the `Documents` folder of the docset.

[2021-11-05 11:38] #3465 closed

[2021-11-06 21:24] stefankolb commented on #3465
Awesome, thanks for that. 🙂

In retrospect, using `demo.html` might not be a good idea, though. `playground.html` sounds like a better fit. What do you think?

[2021-11-09 09:44] Kapeli commented on #3465
Sorry for the confusion. You can set `DashDocSetPlayURL` to any path you want. `demo.html` was just an example.

[2021-11-23 17:24] sreilly opened #3492 "Third party Java docsets never seem to work"
The main javaSE docsets work, but trying to install anything from the Third-party source Java Docsets section results in the same error:

Error Installing Docset

An error occured while installing the docset. The error message is:

Error: Could not find the javadoc index file.

Please contact Dash's developer if you can't recover from this error.

<img width="820" alt="image" src="https://user-ima

[2021-11-24 12:52] Kapeli commented on #3492
This is not the right place for this issue, as this repo is for user contributed docsets. You've already contacted me by email regarding this, there's no need to open an issue here.

[2021-11-24 12:52] #3492 closed

[2021-11-29 14:12] sturmer opened #3500 "Missing docset @testing-library/react-hooks"
Hi, I'm new to Dash but I haven't managed to find a docset for this library. Not really asking for it, just wondered if it's out there and I've missed it :)

[2021-12-04 05:17] ivaquero opened #3506 "Allow to install pre-downloaded local docsets."
Sometime downloading docsets from the App is very slow. So please allow installing pre-downloaded local docsets.

[2021-12-08 11:12] #3506 closed

[2021-12-08 11:12] Kapeli commented on #3506
This repo is for user contributed docsets. It does not track Dash feature requests.

[2021-12-14 19:29] roguesherlock opened #3525 "Tailwind v3 Docs overflow issue"
Hi guys,

First of all, I really love dash. Thanks for working on it!

It looks like the tailwind css docs was recently updated to version 3. Thanks for the quick update. It works fine for most of the pages. Except for when the pages have a lot of classes to display. I believe in that cases the page tries to hide it behind a show more button which doesn't work. I guess it's because javascript is d

[2021-12-15 08:13] roguesherlock commented on #3525
Looks like they're not going to update the site to support it without javascript in the near future. We'd have to figure something out

[2021-12-18 13:00] roguesherlock commented on #3525
looks like I can increase the dash app window size to not trigger the responsive mode which kinda resolves this, so closing it for now :)

[2021-12-18 13:00] #3525 closed

[2021-12-19 15:04] wgordon17 opened #3531 "What would be needed to add Readthedocs.io as a Third-party source?"
Is there any documentation around the process of adding a new third-party source? I think RTD is a pretty good general location for a _lot_ of python-based documentation, and it's fairly well standardized/structured. It would be great to be able to provide this as a third-party source (I'm happy to take a crack at it).

[2021-12-20 14:40] Kapeli commented on #3531
Please see https://github.com/readthedocs/readthedocs.org/issues/662.

[2022-01-16 04:47] allejo opened #3557 "request: Bootstrap Icons docset"
Similar to the Font Awesome docset that's available in the main distribution, it'd be nice if Bootstrap Icons was supported as well for searching: https://icons.getbootstrap.com/

[2022-01-16 07:36] Jasonssh opened #3558 "https://github.com/Jasonssh/linux-tutorial"

[2022-01-24 20:04] ianizaguirre commented on #3500
Any updates on this because I can not find https://testing-library.com/docs/ in any doc sets ?

[2022-01-28 00:46] AjayShanker-geek opened #3568 "Request: Microcontroller support - Updated Datasheets"
Hi, is it possible to have support for Ardunio Bare Metal, ATMEL, STM32 HAL Lib, and Verilog (FPGA)? Further on the datasheet collection.

[2022-02-06 14:12] stefankolb opened #3582 "Question: Docset download statistics"
I was wondering, are there any download statistics available for individual docsets? Especially of those one has contributed themself.

[2022-02-12 13:51] Kapeli commented on #3582
Not currently, no 😞

[2022-02-13 08:35] stefankolb commented on #3582
That's too bad. Any plans to add download statistics in the future? I'm not talking about a full fledged analytics software; that would cause problems with things like GDPR anyways. A simple download counter would be a good start, I think.

[2022-02-28 11:16] almndbtr opened #3605 "Request: Solidity Docs (v0.{5,6,7,8}.x)"
## Summary

This is a follow-up issue to https://github.com/Kapeli/Dash-User-Contributions/issues/1685 and https://github.com/Kapeli/Dash-User-Contributions/pull/1783, last touched on December 2017 and March 2018 respectively.

Solidity has gone through four breaking version changes since then:

- [v0.5.0](https://docs.soliditylang.org/en/v0.8.12/050-breaking-changes.html)
- [v0.6.0](https://docs.

[2022-02-28 11:17] almndbtr commented on #3605
👋 @Kapeli, hello! I'm interested in [contributing a new docset](https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset) for these if you are still accepting contributions and it's a welcome change.

I'll hold off from any work until I get your respective feedback. Thank you! ✨

[2022-03-01 12:45] Kapeli commented on #3605
All docset contributions are welcome.

[2022-03-03 22:16] almndbtr commented on #3605
I'll take a first pass on it and loop back with progress. Thanks @Kapeli !

[2022-03-08 12:25] almokhtarbr opened #3615 "Request: stimulus, turbo"
https://stimulus.hotwired.dev
https://turbo.hotwired.dev

[2022-03-17 04:54] davidawad commented on #3605
I just discovered dash and would love an up to date solidity resource, thanks!

[2022-03-25 09:09] neo-apz opened #3632 "Request: MySQL HeatWave"
I noticed the MySQL docset doesn't include the [HeatWave-related](https://dev.mysql.com/doc/heatwave/en/) doc pages.
Knowing that this dedicated section looks exactly like the default MySQL manual, I'm assuming the same script/tool used to generate the default docset should also work for this one and it can be included in the same docset or published as a separated docset.
Thanks for consideration

[2022-03-28 06:27] aiotter opened #3637 "deno.land/x as a third party documentation provider"
https://deno.land/x is a package registry for deno. Currently 4045 modules are registered there.

I made [Dash docset generator for Deno doc](https://github.com/aiotter/deno-dash-doc) to contribute #3633.
This is a general docset generator which generates any of the packages you can import in Deno in theory.
I believe you can build a third party documentation provider for deno by combining the den

[2022-03-28 06:29] aiotter commented on #3637
For your reference:
https://github.com/denoland/dotland (repository for deno.land)
https://github.com/denoland/dotland/blob/453450c5b3ef987f45fe3fc34b8d2ad503591447/util/registry_utils.ts#L178-L211 (deno.land/x API endpoint implementation)

[2022-04-22 11:31] hbarr opened #3668 "Updating to latest docsets when contributor is absent"
I came back to Dash after a year of not programming.  I found that some docsets are woefully out of date.
For example,I wanted to update the Electron docset to the latest version, from 2.0.2 to 18.0.3.
However, I cannot find an easy way to do that because the docset Download button only knows a few ancient versions.
The docsets are associated with a named contributor which limits the ability to up

[2022-04-25 08:43] capaldo opened #3671 "Request: Swift Language Guide - Add the Language Reference and fix online links, will pay if need be"
So I've tried using the archived repository to try to update the Swift Language Guide but unfortunately, it does not work.

At this time, the docset runs into two issues:
1. The links to the [Language Reference](https://docs.swift.org/swift-book/ReferenceManual/AboutTheLanguageReference.html) do not work offline.
2. Trying to open the "Open Online Page" produces an error.  [This](https://docs.swif

[2022-04-26 10:13] 3288103265 opened #3672 "torchmetrics seems to be outdated"
The version of [torchmetrics](https://torchmetrics.readthedocs.io/en/latest/) is 0.8.0, but the version of docset is 0.3.1.
The docset version:
<img width="486" alt="image" src="https://user-images.githubusercontent.com/34595906/165277499-5d3d5540-d730-4238-8734-696656ea61c6.png">
The current version:
<img width="278" alt="image" src="https://user-images.githubusercontent.com/34595906/165277631-8d

[2022-04-26 13:15] Kapeli commented on #3668
Anyone can submit a docset update, not just the original contributor. You can generate the docset for the latest version and contribute it.

[2022-04-26 13:15] #3668 closed

[2022-04-26 13:16] Kapeli commented on #3671
// cc @roeybiran

[2022-04-26 13:17] Kapeli commented on #3672
// cc @seanexplode

[2022-04-27 09:59] roeybiran commented on #3671
Working on it!

[2022-04-27 13:37] jwhitcraft opened #3673 "Terrafrom 1.1.x w/ AWS v4 provider"
Hello,

The latest version of Terraform is missing and so is the most recent version of the AWS provider.  I tried running the script that is in the repo, but it's fraught with errors and really outdated.  If someone can provide more detailed instructions on how terrafrom was recently updated, i'd be more than happy to provide an update.

[2022-04-30 15:34] roeybiran commented on #3671
Done! #3684

[2022-05-13 20:58] capaldo commented on #3671
@roeybiran I saw the edits you made to the script and I definitely over complicated it. Thank you for taking the time to add the reference portion. Let me know if theres a link where I can grab a coffee or something for you. Thank you 🙏.

[2022-05-13 20:58] #3671 closed

[2022-05-17 06:06] roeybiran commented on #3671
That is very kind of you @capaldo, thanks! [Here’s the link](http://paypal.me/roeybiran).

[2022-05-29 15:42] LeoCalbi opened #3723 "Request: Ortools for python"
I'll be interested in a docset for the **python** version of the Google ortools package.

Urls:

- [ortools official documentation](https://developers.google.com/optimization/reference/python/index_python)
- [ortools github-pages documentation](https://google.github.io/or-tools/)
- [ortools repository](https://github.com/google/or-tools)

[2022-05-30 09:35] #3673 closed

[2022-06-01 01:22] wkoszek opened #3725 "Request: RabbitMQ"
It'd be nice to have RabbitMQ docset

[2022-06-17 19:27] jaller94 opened #3750 "Request: Matrix"
![Screenshot_2022-09-29_19-17-00](https://user-images.githubusercontent.com/10872136/193098489-5e1e27c0-c045-4a05-bf8a-d9f8590849a3.png)

Matrix is a decentralised, real-time communication protocol. The homepage is https://matrix.org .

Its specification would be a valuable resource to have offline for building clients, servers, bots, bridges and other integrations.

Currently, a new version of th

[2022-06-17 21:03] jaller94 commented on #3750
## Attempt at rendering with Hugo

Instead of creating a copy with the HTTrack Website Copier, I'm looking into how viable it is to build the page with Hugo.

### Making links references

The repository does not use Hugo references, which prevents Hugo from effectively generating links.
Use this find replace Regular Expression (compatible with VS Code) on every file in the `contents` folder:

Find

[2022-06-18 00:40] jaller94 commented on #3750
Repo to build the docset on CI:
https://gitlab.com/jaller94/dash-matrix-spec

[2022-07-06 03:55] aiotter opened #3774 "Sidebar should be removed on zig docset"
[zig docset](https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zig#readme) contains sidebar on the left side.
According to the [contribution guide](https://github.com/Kapeli/Dash-User-Contributions/wiki/Docset-Contribution-Checklist#optional-but-highly-recommended), sidebars is better to be removed.

@kassane is responsible for this docset. How do you think of this?

[2022-07-06 12:20] kassane commented on #3774
Oops! I just forgot to remove it.🤦
I will need to edit the HTML by removing the column referring to the page menu.

[2022-07-09 08:57] #3774 closed

[2022-07-14 05:17] #2665 closed

[2022-07-14 18:31] munhouiani opened #3790 "[Help Needed] Pytorch Lightning Document exceeds 100MB limit"
Hi, I am the maintainer of the PyTorch lightning document. Unfortunately, the latest document (version 1.6.5) exceeds the 100MB limit, and I couldn't push it to this repo. What options do I have?

[2022-07-15 18:34] Kapeli commented on #3790
Submit a pull request without the docset in it, and provide a link to the docset (e.g. on Dropbox) within the pull request comment. See https://github.com/Kapeli/Dash-User-Contributions/pull/3361 for an example.

[2022-07-15 18:34] #3790 closed

[2022-07-15 21:49] jaller94 opened #3792 "Request: JSON Schema"
List of published versions: https://json-schema.org/specification-links.html

Repo: https://github.com/json-schema-org/json-schema-spec

Difficulties:
* Each version of JSON Schema consists of multiple specification documents and guides that would be helpful.

[2022-07-18 00:02] patlefort opened #3797 "Boost.Hana wrong link"
Same problem as the last time: #2759, Boost.Hana links to Boost.GraphParallel.

Since it's not user contributed, is it still fine to report it here?

[2022-07-26 07:53] Kapeli commented on #3797
Thanks for letting me know about it. I'll fix it ASAP. It's best if you report issues for contributed docsets directly to me (https://kapeli.com/contact), but here is fine as well.

[2022-07-26 07:53] #3797 closed

[2022-07-27 02:10] Ruth-Seven opened #3807 "Request: tensorRT"

[2022-07-27 02:10] #3807 closed

[2022-08-10 07:33] keeprock opened #3830 "Request: React-Native update to 0.69"
https://reactnative.dev/versions

[2022-08-12 09:40] Kapeli commented on #3830
// cc @mnmaraes

[2022-08-18 12:05] stolowski opened #3838 "Formatting is broken in Poco docset"
Formatting is broken in Poco docset - see the screenshots (Logger term is an example of this)

<img width="1608" alt="Zrzut ekranu 2022-08-18 o 14 04 00" src="https://user-images.githubusercontent.com/168604/185390249-bf100931-b7ab-4280-845f-61ad4bdefefd.png">
<img width="736" alt="Zrzut ekranu 2022-08-18 o 14 04 33" src="https://user-images.githubusercontent.com/168604/185390356-c3617497-1e6e-468

[2022-08-25 16:47] Kapeli commented on #3838
// cc @wxk6b1203

[2022-08-26 05:43] jameshale opened #3854 "User docset not showing up on iPad version"
Hi,
I know the iod version of Dash is no longer supported but wondering if that is the reason my Livecode docset is not showing up in the list od user contributrd docsets?

[2022-08-29 23:34] jameshale commented on #3854
Hhmm. Today I opened Dash on my iPad and was notified of the update to my docset.
I accepted the update and thought I would check the list of user contributed docsets under settings.
My docset was still nowhere to be seen.
after a minute or so, I went back to my main screen (which listed my installed docsets) and selected mIne.
Sure enough it was the latest??
So it was recognized as had being upda

[2022-09-16 10:46] domstubbs commented on #2751
It looks like these are now available as a user contribution ([HTTP](https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/HTTP#readme) 1.1 by Ice White).

They seem to be very out of date though. E.g. Content-Security-Policy says it was last updated in 2016, versus September 2022 for the [live page](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/

[2022-09-29 17:16] jaller94 commented on #3750
I've updated my Docset to Matrix Spec v1.4 which was released today.

[2022-10-04 11:44] Kapeli commented on #3750
Have you considered contributing your docset?

[2022-10-07 11:19] jhogervorst opened #3915 "Expo docset outdated"
The [Expo docset](https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Expo) is quite outdated. It’s for version 37, which is from [April 2020](https://blog.expo.dev/expo-sdk-37-is-now-available-dd5770f066a6). The current Expo SDK is already at [version 46](https://blog.expo.dev/expo-sdk-46-c2a1655f63f7).

If it’s no longer being maintained, maybe it would be better to remove it?

[2022-10-08 08:07] Kapeli commented on #3915
// cc @adrum

[2022-10-09 07:30] ssbarnea opened #3916 "Requires: podman docs"
As podman is replacing docker almost everywhere, having podman docs in dash would be awesome.

* https://docs.podman.io/en/latest/
* They are sphinxbased

[2022-10-11 12:44] puqeko opened #3921 "Zig Improvements"
I'm interested in contributing some improvements to the Zig docset currently maintained by @kassane. How best to go about this?

Proposed changes:
- Table of Contents support for improved navigation.
- Add type entries "Builtin", "Keyword", and "Type" for @ builtins, language keywords, and primitive types.
- Improved search results where guides display the the name of their parent guide as a menu

[2022-10-11 12:53] kassane commented on #3921
Hi @puqeko

Great that you have shown interest in contributing to the zig documentation in docset.

I have a simple script in python3 that uses beautifulsoup. But I would still need to adjust HTML to avoid redundancy.
Last year I tried it in autodoc but the interface didn't interact very well. It may have solved this problem, or it would need some adjustments.

I will review the script I have and

[2022-10-11 22:03] puqeko commented on #3921
Great! Happy to help and happy to have a look at your script.

The issue I found with autodoc was that its implemented as a dynamic web app which means it takes far too long to load results in Dash. This also makes it a pain to generate an index without knowledge of ZIR. It doesn't look like there is an option to output static html yet. A work around I've toyed with is to programmatically load the

[2022-10-12 15:06] kassane commented on #3921
[Here](https://gist.github.com/kassane/bf8f4c91fea82d42911b6714f3f423d4) my simple script test.
Obviously it would still need adjustments. If memory serves me well in my first attempt at generating db it needed manual adjustments to the static documentation. Because it was broken at several points.

Anyway, it still looks promising.
Exact, autodoc will be the most complicated although it is under

[2022-10-13 10:53] puqeko commented on #3921
How about something like [this](https://gist.github.com/puqeko/2c78036035b6c67aa5104ba3ddaf673f)? I'd added Table of Contents support, more type entires, menu descriptions, and online redirection support to your script.

If you're short of time I'd be happy to make a PR for 0.9.1 and perhaps a dev release of 0.10.0?

Regards the std lib, are you worried about redundancy and reproducibility with re

[2022-10-13 17:11] kassane commented on #3921
It would be interesting if you could present a new update with your solution (v0.10) or fix v0.9.1.

Really, I don't know anything in nodejs just abstract to run some solutions. If you can improve the python script appreciate it is even nicer for other possible maintainers (who have time or interest).

But if your solution solves the autodoc great it could be reviewed.

[2022-10-15 14:25] ari-becker commented on #1638
I didn't see a way to add a feed to Dash 6, but I figured it out based on other documentation -

Go into a Terminal and run `open dash-feed://https://api.flutter.dev/offline/flutter.xml` and it'll add the feed.

[2022-10-18 19:55] jaller94 commented on #3750
Yes, I'd like to contribute it.

https://gitlab.com/jaller94/dash-matrix-spec/-/issues/2

I'm not exactly sure what needs to be done next.
Sadly, generating a proper search index seems difficult.
The Spec uses Hugo and I guess I'd have to write a custom script to extract headings and URLs to those.

[2022-10-23 23:27] kassane commented on #3921
@puqeko, please close this issue. Well, it's solved!

[2022-10-23 23:53] #3921 closed

[2022-10-24 14:49] xxdavid opened #3953 "Request: sections in Hex docs"
Hi, thank you for making Dash. I've been happily using it for years!

I also really love the tremendous support of Hex docsets. The only thing I think is missing is *sections* in the left sidebar. Each module in Elixir has something like an introduction to the module (called *moduledoc*) with information regarding the module as a whole. The moduledoc is usually structured with headings and these a

[2022-10-26 10:47] #3750 closed

[2022-10-26 20:35] proelf98 opened #3957 "I want to create a docset for VSCode Doc, but I couldn't find a suitable method in the Docset Generation Guide"
I've trying to create a docset out of the documentation from VSCode https://github.com/microsoft/vscode-docs, but all the documentation is written in Markdown. I didn't find a suitable method for generating a Docset in the [Docset Generation Guide](https://kapeli.com/docsets)

What I've tried also:
- Generating a docset with [Dashing](https://github.com/technosophos/dashing#readme) and the officia

[2022-10-27 12:02] Kapeli commented on #3957
There is no docset generator available for Markdown as far as I'm aware. You need to convert the Markdown to HTML and then write a custom docset generator for it: https://kapeli.com/docsets#dashDocset.

[2022-10-27 14:32] proelf98 commented on #3957
Ah I see thanks!

[2022-10-28 05:30] timnew commented on #1638
Server kept responding 503 for a few days

[2022-10-31 11:05] mzvast commented on #214
Can anyone help update it to latest?r77 seems so out of date.

[2022-11-01 18:55] #991 closed

[2022-11-07 04:09] mzvast opened #3973 "update Threejs docset to r146"

[2022-11-18 10:57] Kapeli commented on #3953
Thanks for suggesting this! I've added support for this.

Please reinstall the docsets you need.

[2022-11-18 10:57] #3953 closed

[2022-11-18 11:16] xxdavid commented on #3953
Thanks! 🙂

[2022-11-23 06:51] wxk6b1203 commented on #3838
When I first committed version 1.9.4 of this docset I copied HTML from the original DOC page and deleted the sidebar. Another committer uploaded a new version 1.10.x while forgetting to do this job.

I cannot find the committer of 1.10.1 because of @Kapeli squashing commitments on Mar 19, 2022, at 01:09.

I can try to fix this problem maybe before the Chinese New Year (2023-01-23), while I am busy

[2022-11-24 10:30] #3408 closed

[2022-11-24 14:39] ivaquero opened #4005 "Request: PyPDF"
Url: https://pypdf.readthedocs.io/en/latest/

[2022-11-26 04:43] paw-lu opened #4009 "Seaborn docs missing some images (included link to oversized fixed docsets)"
#3951 (created by me) updated the seaborn docs, but is missing some images. I've rebuilt the docs to include all the missing images, but it's over the GitHub size limit.

I've hosted it here for now for a quick fix:

https://drive.google.com/drive/folders/10_9NQaMuo8xzBpWeLRXbFNN52ANpApvy?usp=share_link

I'm trying to think of a better way to do this is the future so that it's more automated. I do

[2022-11-26 20:39] alexcom commented on #3297
Is this supposed to be a question?
If so read  [Docset Generation Guide](https://kapeli.com/docsets)  and generate your docset.
Then follow [README](https://github.com/Kapeli/Dash-User-Contributions/blob/master/README.md) to create Pull Request with your docset.

[2022-11-28 09:28] #3297 closed

[2022-11-28 09:34] Kapeli commented on #4009
I'm not sure. I'm ok with doing it manually on my end, as long as it doesn't update really often (e.g. once every 2 weeks is fine), and maybe there's a way to automate uploading to Google Drive?

Can you upload it as a `tgz` to Google Drive? I've tried downloading it and the docset I'm getting has no CSS, so the pages look wrong.

[2022-11-28 19:31] paw-lu commented on #4009
Oh weird, sorry about that. Can confrim it looks okay locally. I'll upload again as `tgz`.

https://drive.google.com/file/d/19QuZ1bn9MDkzHRVFI6JSe5ImoY_LS8fT/view?usp=share_link

[2022-11-29 10:49] ilpianista opened #4016 "Request: Helm"
Project: https://helm.sh/docs/chart_template_guide/

[2022-11-30 05:24] ivaquero opened #4018 "Request: pdfcpu"
url: https://pdfcpu.io/

[2022-11-30 10:22] GabDug opened #4020 "Request: alpinejs"
Doc source (MD, custom generation?) : https://github.com/alpinejs/alpine/tree/main/packages/docs/src/en
URL: https://alpinejs.dev/

[2022-11-30 10:24] GabDug opened #4021 "Request: htmx"
URL: https://htmx.org/
Docs source (uses eleventy): https://github.com/bigskysoftware/htmx/tree/master/www

[2022-11-30 13:04] hmpf opened #4022 "Postgresql doc hardcodes background color, becoming unreadable in dark mode"
This holds for normal body text and headings but not text in tables.

I don't know whether this is to be considered a bug or a feature though.