[2014-04-18 01:42] chase opened #1 "Generation Scripts"
For the `Copy your docset generation script or any other required resources` step of the process, would it be acceptable to add my generation script repo as a submodule?

[2014-04-18 01:51] #1 closed, assigned to nobody

[2014-04-18 10:29] andreineculau opened #2 "workflow"
Bogdan,
I'm a bit confused by the proposed workflow.

If I understood it right, you'd like contributors to fork this repo, containg n docset, in order to work on 1 docset. That aside, I don't get if you want to keep track of source, generation and final docset, or just some of these?

You say that once the tarballs are on the CDN, you'll remove them from the repo, meaning you'll rewrite git histor

[2014-04-18 16:44] ifree opened #4 "SDL2 docset, sawfish docset, glut docset"
My repo is newer than this repo, Is there a way to send pull request without folk?
https://github.com/ifree/glut-docset
https://github.com/ifree/sawfish-docset
https://github.com/ifree/sdl2-docset

[2014-04-18 16:47] #4 closed, assigned to nobody

[2014-04-20 20:05] #2 closed, assigned to nobody

[2014-05-24 13:34] tfeldmann opened #41 "Add a PySide docset"
API Reference can be found here:
http://pyside.github.io/docs/pyside/

Craig Bishop already created a docset of an older version:
https://github.com/craig-bishop/pyside-dash-docset

[2014-05-24 15:16] tfeldmann opened #42 "Add a peewee docset"
http://peewee.readthedocs.org/en/latest/

[2014-05-30 09:04] tfeldmann opened #53 "Add docset for matplotlib"
The official documentation is located here:
http://matplotlib.org/contents.html

[2014-05-30 19:42] booc0mtaco opened #54 "Questions on contributing new Docsets"
First, apologies if I'm breaking the process! Two questions on the submission process for you:
- in the [versioning guidelines](https://github.com/Kapeli/Dash-User-Contributions/wiki/Docset-Versioning-Guidelines) it talks about the format expected for version numbers. does this just apply to the `version` keys in docset.json, the directory names under the `versions` subdirectory, or both? For my d

[2014-05-30 23:22] #54 closed, assigned to nobody

[2014-06-18 02:24] iamaziz opened #71 "Add matplotlib 1.3.1"
I made a docset for matplotlib, but it's 117.82MB so github did not let me upload it :[

Here it is on Dropbox:
http://goo.gl/5edDnH
is there a way to add it from there ?

[2014-06-18 10:38] #71 closed, assigned to nobody

[2014-06-19 16:57] #53 closed, assigned to nobody

[2014-06-27 14:53] #42 closed, assigned to nobody

[2014-07-02 18:27] djsutherland opened #85 ""Scikit" docset should be renamed "scikit-learn""
"scikit" is a confusing name for @iamaziz's [scikit-learn](https://github.com/scikit-learn/scikit-learn) docset, since there's also scikit-image that's fairly widely used and a [bunch of others](http://scikits.appspot.com/scikits) that are less used.

[2014-07-17 17:19] #85 closed, assigned to nobody

[2014-07-20 12:45] rainchen opened #101 "Add a chrome extension docset"
API Reference can be found here:
https://developer.chrome.com/extensions
API index:
https://developer.chrome.com/extensions/api_index

or the one by Opera
https://github.com/operasoftware/extension-docs

[2014-08-08 17:21] newkind opened #114 "Timber docs request"
Hi,

I'd like to request Timber docs to be added to the Dash. I was able to get them by myself using a PHP generator but I know it's not looking the way it should ie. every HTML converted file is set as a Class in Dash. It would be great if someone could do the proper ones from this github wiki : https://github.com/jarednova/timber/wiki

If anyone is interested in the version I created via the gen

[2014-08-11 21:44] felixrabe opened #120 "Add HTTP/1.1 docset"
From https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead:
- RFC7230 - [HTTP/1.1: Message Syntax and
  Routing](http://tools.ietf.org/html/rfc7230)&nbsp;-
  low-level message parsing and connection management
- RFC7231 - [HTTP/1.1: Semantics and
  Content](http://tools.ietf.org/html/rfc7231)&nbsp;-
  methods, status codes and headers
- RFC7232 - [HTTP/1.1: Conditional Requests](http://tools.ietf.o

[2014-09-03 15:10] sdegutis opened #134 "Question about Docset version numbers"
Normally my Docset would have the same version as my app, i.e. my app is at 0.3 so my docset is called 0.3, etc. But my Docset changes more frequently than my version. This is because I have decoupled my modules from my app itself into two separate projects, so that the modules may have any number of updates when the app itself is on the same version. What do you recommend for a versioning scheme

[2014-09-03 16:29] #134 closed, assigned to nobody

[2014-10-02 09:35] rkern opened #169 "IPython capitalization"
"IPython", not "iPython"

http://ipython.org/

[2014-10-02 13:04] #169 closed, assigned to nobody

[2014-10-03 15:46] JuanCab opened #171 "Updating Astropy docset failing"
I am trying to follow the instructions for creating an updated version of the Astropy docset at

https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Astropy

since the repository version is for astropy 0.3.2 (the current version is astropy 0.4.2).  I dumped the site using

httrack "http://docs.astropy.org/en/stable/" -O "Astropy" "+_docs.astropy.org/en/stable/_" -v

and that appe

[2014-10-03 16:50] #171 closed, assigned to nobody

[2014-10-19 12:29] xiangzi888 opened #186 "why is my CI build failed?"
https://github.com/Kapeli/Dash-User-Contributions/pull/185

[code]

[2014-10-19 13:05] #186 closed, assigned to nobody

[2014-10-19 23:18] mikeseven opened #189 "update OpenCL docset to OpenCL 1.2 and 2.0"
OpenCL 1.2: https://www.khronos.org/registry/cl/sdk/1.2/docs/man/xhtml/
OpenCL 2.0: https://www.khronos.org/registry/cl/sdk/2.0/docs/man/xhtml/

[2014-11-04 22:01] adarshk opened #214 "Threejs docset"
Is it possible to add threejs docset?

[2014-11-10 20:43] CodeBrauer opened #223 "docset: slim framework (php)"
http://docs.slimframework.com/

I tried to follow the tutorial, but I don't know how to add the HTML things into the sqlite-file.

Maybe somebody want to do this?

[2014-11-24 17:17] Kendysond opened #233 "Bootstrap 3 Documentation Crashes App"
First,your app is the best thing to happen to Developers on Macintosh :)
But anytime i open the bootstrap 3 documentation,the app crashes, i have installed about 3 different versions of the bootstrap documentation
Kindly Help me fix this problem thank You,

[2014-11-25 21:58] davidolrik opened #234 "Add CPAN doc set"
It would be really nice with a local copy of https://metacpan.org

[2014-11-26 00:02] #234 closed, assigned to nobody

[2014-12-02 21:26] yomybaby opened #238 "Can you share docset generator for Appcelerator Titanium?"
I found a docset generator for Appcelerator Titanium.
https://github.com/jkozera/zeal/blob/master/gendocsets/extjs/parse.py
But It looks a old version.

Can you share your docset generator for Appcelerator Titanium?
If you can, I'll make a docset for other Appcelerator Docs & Guide easily.

[2014-12-04 00:15] #238 closed, assigned to nobody

[2014-12-08 19:11] jkatzer opened #243 "SQLAlchemy Docset"
http://docs.sqlalchemy.org/en/rel_0_9/

[2014-12-08 20:04] #243 closed, assigned to nobody

[2014-12-08 20:04] #233 closed, assigned to nobody

[2014-12-11 15:53] mohammad-rahchamani opened #245 "Request for sequelizejs docket integration"
here is documentation link : http://sequelize.readthedocs.org

[2014-12-14 23:43] #214 closed, assigned to nobody

[2014-12-23 02:25] lazywei opened #256 "scikit-learn document is outdated"
Hi, the sklearn doc in Dash is 0.14, while the latest version should be 0.15.
Anyone could help with updating the doc? Or anyone can give me a hint how I can translate the http://scikit-learn.org/stable/documentation.html into Dash's flavor format?

[2014-12-23 16:39] #256 closed, assigned to nobody

[2014-12-24 06:44] moul opened #261 "Request: Sails.js"
Here is the documentation: http://sailsjs.org/#/documentation/

[2015-01-03 08:40] emoon commented on #189
Will start work on this today.

[2015-01-03 11:05] emoon commented on #189
Added PL here: https://github.com/Kapeli/Dash-User-Contributions/pull/272

[2015-01-10 13:40] emoon commented on #189
@mikeseven The 1.2 and 2.0 versions are now live in Dash.

[2015-01-10 16:16] Zearin opened #277 "Update Ampersand.js docset"
Thanks for Dash!  I’ve been using it daily for weeks now, and it is the first documentation app that I really love using.

There are a few things the Ampersand docset could do with in the next update:

----

* **General Updates:** There have been several minor updates to the Ampersand.js docs that add up to a reasonably-sized update.
* **Missing docs (in `ampersand-state`):**
  * The Dash docs hav

[2015-01-10 23:16] Kapeli commented on #277
@remko can you take a look at this if you can? @Zearin, you can also improve the docset yourself if you want.

[2015-01-11 08:58] remko commented on #277
Thanks for the report, shall look into it.

[2015-01-11 13:06] remko commented on #277
Updated the documentation (which also fixed the missing docs), and added the 'Learn' pages as guides.
See #278

[2015-01-11 13:09] Kapeli commented on #277
Thanks @remko. @Zearin please check if everything is ok and let me know if I can close the issue.

[2015-01-16 12:24] gebrkn commented on #101
This has been added: https://github.com/Kapeli/Dash-User-Contributions/pull/283

[2015-01-16 13:05] #101 closed

[2015-01-17 08:28] greatghoul commented on #101
Thank you for your nice work!

[2015-01-17 09:18] gilmoreorless commented on #101
Nicely done, thanks @gebrkn

[2015-01-18 09:45] rainchen commented on #101
excellent work! @gebrkn

[2015-01-20 05:17] speedcell4 opened #287 "theano is needed"
http://deeplearning.net/software/theano/library/index.html#libdoc

[2015-01-21 09:27] Blackskyliner opened #288 "Request: Magento"
The documentation is here: https://docs.magentocommerce.com/

Would be really cool to have this. Maybe if I someday get how the docset generation is "done right" I may create an PR, but if someone is faster than me he may contribute. :)

[2015-01-22 15:59] jzf2101 opened #292 "Request: Julia"
Julia please!

http://docs.julialang.org/en/release-0.3/

[2015-01-30 12:31] emoon commented on #189
@Kapeli As @mikeseven hasn't replied to this for quite a while I think it's fine to close this one now.

[2015-01-30 14:03] #189 closed

[2015-01-30 14:03] Kapeli commented on #189
Thank you! I should have closed this issue as soon as you added the docsets. I forgot.

[2015-01-31 15:06] MineTheCube opened #312 "translated docs"
Hi,

I enjoy using your software, but I think that one thing is missing: use translated docs.

For instance, PHP docs exists in french, but Dash has only the english one.. so what about adding locale settings ?

[2015-01-31 16:50] Kapeli commented on #312
I don't want to support translated docs as it would be too much work. It would also be sometimes impossible for me to index a docset in a language I don't know.

Please note that you can generate your own docsets - http://kapeli.com/docsets.

[2015-01-31 16:50] #312 closed

[2015-02-05 14:46] ddelrio1986 commented on #261
Please add this!

[2015-02-06 18:39] kymist opened #319 "Basic4Android"
Newly called B4A

[2015-02-09 22:52] iamaziz commented on #287
Theano is already out there now :] #305

[2015-02-10 01:46] #287 closed

[2015-02-10 01:48] Kapeli commented on #292
Closed by https://github.com/Kapeli/Dash-User-Contributions/pull/325.

[2015-02-10 01:48] #292 closed

[2015-02-10 06:22] speedcell4 commented on #287
thank you~‍

------------------ 原始邮件 ------------------
发件人: "Aziz Alto";<notifications@github.com>;
发送时间: 2015年2月10日(星期二) 上午6:52
收件人: "Kapeli/Dash-User-Contributions"<Dash-User-Contributions@noreply.github.com>;
抄送: "(Lambdell)"<376154626@qq.com>;
主题: Re: [Dash-User-Contributions] theano is needed (#287)

Theano is already out there now :] #305

—
Reply to this email directly or view it on GitHub

[2015-02-10 10:29] tfeldmann opened #326 "Request: Kivy"
http://kivy.org/docs/api-kivy.html

[2015-02-11 15:46] francoismassart opened #329 "FYI npm.docset Work in progress"
FYI I created a docket for npm.
I'll look into the checklist and see how to share it with others...

[2015-02-11 16:10] Kapeli commented on #329
:+1:

[2015-02-12 06:25] francoismassart opened #333 "MINOR wording error in my lastname"
![credit](https://cloud.githubusercontent.com/assets/704026/6162755/0d798690-b288-11e4-82de-ed007dc0705b.png)
Hello,
just to let you know you made an error on my name: it is *Massart*, not -Massaer-

Thank you

[2015-02-12 12:20] Imagle opened #335 "Create For DashLookup repositories"
I installed DashLookup, when Export dashlookup as deployable plugin, I got some error, below is error info, Could you help me deal with this?

/Users/lynn/Documents/workspace-java/.metadata/.plugins/org.eclipse.pde.core/temp/org.eclipse.pde.container.feature/assemble.org.eclipse.pde.container.feature.p2.xml:38: The following error occurred while executing this line:
/Users/lynn/Documents/workspace

[2015-02-12 13:52] Kapeli commented on #335
This is the wrong repo. Please report this issue here: https://github.com/justinkb/DashLookup.

[2015-02-12 13:52] #335 closed

[2015-02-12 14:08] Kapeli commented on #333
Nope, you made an error: https://github.com/francoismassart/Dash-User-Contributions/blob/master/docsets/npm/docset.json#L6.

Submit a pull request to fix it when you can :+1:

[2015-02-12 14:08] #333 closed

[2015-02-12 14:10] #329 closed

[2015-02-12 14:12] Kapeli commented on #333
Nevermind, I fixed it.

[2015-02-14 05:26] speedcell4 opened #336 "PyGraphviz request"
http://pygraphviz.github.io/documentation/pygraphviz-1.3rc1/

thx

[2015-02-21 21:15] skarfacegc opened #345 "Question about URL paths"
I'm wondering how URL paths are supposed to work.

My database looks like:
[code]

A sample row is:
[code]

Test::Able::Planner shows up in the index, but won't load the URL specified in the path.  I think pulling the full set of HTML for CPAN will be north of 250MB which seems a bit large.

[2015-02-21 21:20] skarfacegc commented on #345
I'm dumb.  Columns are wrong....  Didn't catch it until now.  Will retry with even more correctness.

[2015-02-21 21:20] #345 closed

[2015-02-21 21:27] Kapeli commented on #345
A 250MB docset is perfectly fine. The Mono docset is 1.7 GB. Generally, go for offline support whenever you can.

The next version of Dash will also support archived docsets (i.e. docsets are kept archived and individual files are only unarchived when needed), so that will make large docsets even more ok.

However, are you sure the whole CPAN is only 250MB?

[2015-02-21 22:29] keitayabu commented on #345
I have been pay but Dash ask again . I don't know how to use ,so I 'v never used it . I want to know my problem that what I have to do .
Dash answer is upper grade . ......?   Pay many never use . I do't know how to ,
It's me strange . pay many do thing . So is it good or just ask some mony ?

[2015-02-21 22:35] keitayabu commented on #345
I cheat iTune last year I payed 10 Boxs
It has been change system ?
Pay and can't finish it mea unusedfl to me ?
Wash my money .

[2015-02-21 22:48] skarfacegc commented on #345
Not at all.  :) A full mirror is 18G (including outdated modules) but I suspect the POD docs are much smaller.  (could be wrong about that though)

[2015-02-24 02:15] iamaziz commented on #336
#347

[2015-02-24 02:17] iamaziz commented on #326
Will be available with this pull #347

[2015-02-25 00:37] skarfacegc opened #348 "CPAN docset almost ready"
So I have a functional CPAN docset (with all docs downloaded locally!)

tar'ed and gzip -9 gives me a 140M tarball (down from 1.2G)

If I understand correctly I need the following:

- Tarball of my CPAN.docset
- Icons 16x16 and 32x32 (I have these in the docset already)
- json file

Do the icons and json file go into the docset tarball or do they stay outside?  What's the best way for me to get yo

[2015-02-25 00:49] Kapeli commented on #348
The icons and json file should not be inside the tgz. Follow the sample structure here: https://github.com/Kapeli/Dash-User-Contributions/tree/master/Sample_Docset. Don't worry about `specific_versions` as I don't think you'll be using it for CPAN.

Dropbox is fine. When you submit the pull request, add a comment with the Dropbox link and I'll take it from there.

Please note that the final tarbal

[2015-02-25 00:49] #348 closed

[2015-02-25 01:01] skarfacegc commented on #348
Just to make sure I grok what should be in the submission (I'm probably reading too much into this)

- README.md
- CPAN.docset.tgz
   - Contains the actual docset (plist/resources/database/html/etc)
- docset.json
- icon.png
- icon@2x.png

Also, I think I'm going to do one more run on this thing to add the TOC info.  Is there a way to add a CSS file as well, or do I need to inline everything?

[2015-02-25 01:05] Kapeli commented on #348
Yep, those files are all that's needed. Don't worry too much about missing something, I'll check and let you know.

The docset is just like any folder that contains HTML files. You can add a CSS file and then include it in your HTML files as per usual. Inline CSS would increase the unarchived size, so I'd recommend against it.

[2015-02-25 01:08] skarfacegc commented on #348
awesome.  thanks, I should have something for you in the next few days.  (script takes about 26 hours to run)

[2015-02-26 18:21] dudymas opened #355 "Openstack docset"
Hey. I've made the docset for openstack and it literally is about 110 MB... just over the 100MB limit. If you include the pdf's, it goes to 140MB or so.

Can we work out a way to host the docset somewhere else?

Thanks.

[2015-02-26 20:05] Kapeli commented on #355
Sure. Upload the docset anywhere you can (Dropbox) and submit a pull request that sets up the directory structure without the docset. I'll do the rest.

[2015-02-26 20:05] #355 closed

[2015-02-27 05:15] skarfacegc commented on #348
Hopefully this is the last run before I get something to you.  Added styling and syntax highlighting.
![screen shot 2015-02-27 at 12 13 15 am](https://cloud.githubusercontent.com/assets/1668735/6407791/acaa5b48-be15-11e4-9102-08567dc5797b.png)

[2015-02-27 05:16] Kapeli commented on #348
Looks good :+1:

[2015-03-03 12:19] TimonVS opened #362 "Request: Materialize"
Add support for Materialize (http://materializecss.com/).

[2015-03-09 00:14] jason0x43 opened #368 "Problems generating a ToC"
The "Generating Dash Docsets" instructions state that a ToC can be generated by adding special "//apple_ref" links to a docset. There seems to be more to it than that, though. I've tried adding tags to a docset as described, then removing and re-adding my docset in Dash's preferences, but Dash never shows a ToC. I've looked through a number of existing docsets that have tables of contents, and the

[2015-03-09 07:23] Kapeli commented on #368
No. None.

Can you upload the docset somewhere so I can look into it and figure out what's going wrong?

[2015-03-10 08:52] byCedric commented on #261
+1 for adding Sails.js documentation

[2015-03-10 12:14] tfeldmann commented on #326
Thank you for your work!

[2015-03-10 12:14] #326 closed

[2015-03-11 03:37] jason0x43 commented on #368
Thanks for taking a look. I uploaded it to https://dl.dropboxusercontent.com/u/721526/DojoN.docset.tbz

It's quite rough at the moment -- there will be much reformatting once I have a better idea of how things should work.

[2015-03-11 10:42] Kapeli commented on #368
Your anchors look like this:

[code]

They should be:
[code]

You're missing the `dashAnchor` class and the `/cpp/` bit in the name.

[2015-03-11 10:42] #368 closed

[2015-03-11 12:37] jason0x43 commented on #368
Ah, I tried that format before, but at that point I wasn't completely adding and removing the docset from Dash to see if it worked. Success!

I've seen various other formats that work, too, which makes me wonder what exactly the requirements are. The Node.js docset doesn't use the dashAnchor class or "/cpp" in its `//apple_ref` links, but its pages have ToCs. The current Dojo docset uses `//dash_r

[2015-03-11 12:46] Kapeli commented on #368
No.

`.dashtoc` files are used by Dash for iOS because I don't have access to the DOM over there. These files are automatically generated when I upload a docset for iOS. Don't worry about them.

All other styles of defining TOCs are just different flavours that allow different things. For example, the current TOC in the Dojo docset allows for custom section titles (i.e. "Public Methods" instead of

[2015-03-12 02:13] iROCKBUNNY opened #373 "Update matplotlib docset to latest version (1.4.3)"
Current version of the matplotlib docset is 1.3.1, please update it to 1.4.3 if possible.

Thanks very much!!!!

[2015-03-12 10:03] Kapeli commented on #373
@iamaziz Can you look into this?

[2015-03-12 10:13] iROCKBUNNY commented on #373
@Kapeli Thanks for forwarding this message.
@iamaziz Thank you very much!

[2015-03-12 17:56] iamaziz commented on #373
@iROCKBUNNY  your very welcome, thanks for pointing out the new version.

@Kapeli the pull #374 doesn't have the docset, it exceeds GitHub limit

[code]
So, I share it in dropbox here:
https://dl.dropboxusercontent.com/u/12327637/test-files/matplotlib.tgz

Is there a way to have uploaded from there?

[2015-03-12 17:57] iamaziz commented on #373
the pull request does update the README and the json file however

[2015-03-12 18:03] Kapeli commented on #373
That's fine. I'll merge and post the update soon.

[2015-03-12 18:03] #373 closed

[2015-03-12 18:05] iamaziz commented on #373
Great, thanks.

[2015-03-18 09:37] pfefferle commented on #223
I've build one: https://github.com/pfefferle/dash-slimframework

[2015-03-18 17:30] Kapeli commented on #223
@pfefferle Please [contribute it](https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset) if you can.

[2015-03-19 09:55] pfefferle commented on #223
Sure, will do!

[2015-03-19 13:49] gingerbeardman opened #377 "Phaser docs outdated"
Currently: 2.2.1

Should be: 2.2.2

[2015-03-19 15:14] Kapeli commented on #377
@rcolinray can you look into this please?

[2015-03-19 17:03] #377 closed

[2015-03-25 03:26] Kapeli opened #388 "React docset out of date"
@chenglou can you please update the React docset?

[2015-03-25 03:27] chenglou commented on #388
Will do tomorrow, super busy right now, thanks for the reminder.

[2015-03-26 17:12] #388 closed

[2015-03-29 06:14] speedcell4 opened #392 "Pillow please"
http://pillow.readthedocs.org/reference/index.html
thx~

[2015-04-06 00:49] iamaziz commented on #336
@Kapeli this docset is already added #365 .

[2015-04-06 01:06] #336 closed

[2015-04-06 01:07] Kapeli commented on #336
Thanks @iamaziz :)

[2015-04-07 11:47] bkbooth opened #407 "Atom docset outdated"
I'm the contributor of the Atom.io docset, it's quite outdated now and I don't have the time to keep up with the changes.

Perhaps it might be best to remove this docset for now and I'll take another look at it once they reach a 1.0 version and hopefully the changes to the API slow down a little.

Also happy for anyone else to take over this if they have time/interest.

[2015-04-07 14:07] Kapeli commented on #407
I'll leave it alone for now. I might remove it if it bothers anyone in the future. Thanks for the heads up!

[2015-04-07 14:08] Kapeli commented on #407
I'll leave this issue open in case anyone wants to take over.

[2015-04-10 16:43] strider72 opened #414 "Contributing Cheat Sheets"
I'd like to contribute a cheat sheet, but I'm a bit confused.  Is the method different for Cheat Sheets as opposed to DocSets?  When I look at the source of some cheat sheets I have installed it appears to have a different file structure than what you recommend in the contribution instructions.

Should I just add a copy of a different cheat sheet to my fork and modify that?

[2015-04-10 17:57] Kapeli commented on #414
Cheat sheets have their own repo.

See https://github.com/Kapeli/cheatset#readme for instructions on how to create cheat sheets (it's a lot easier than docsets) and see https://github.com/Kapeli/cheatsheets#readme for instructions on how to contribute a cheat sheet.

[2015-04-10 17:57] #414 closed

[2015-04-10 17:58] #407 closed

[2015-04-17 07:20] gsmlg opened #419 "Reauest: Raphael.js"
docsets: https://github.com/gsmlg/raphael-dash-gen

[2015-04-17 16:11] Kapeli commented on #419
@gsmlg: It would be nice if you could contribute the docset :)

[2015-04-17 16:13] #419 closed

[2015-04-18 09:20] jackmasa commented on #261
+1

[2015-04-21 15:05] skt041959 opened #426 "Request: ffmpeg"
I know that the Doxygen documents can be convert to docset easily on Mac OS. But I use Zeal on Linux. When I try to generate the docset, I can't found the  alternatives for the 'docsetutil' provided by Xcode.
So, would you please offer the ffmpeg docset?

[2015-04-29 13:20] mayel opened #431 "Request: Phalcon 2.0"
A new version of Phalcon has been released. Would appreciate having the docs in Dash.

[2015-05-02 10:11] Kapeli commented on #431
@saimusdev Please update when you can.

[2015-05-06 12:24] Zearin opened #442 "Add docset: path.py"
I want to add a docset for the Python module `Path.py`.

I started to follow your instructions, but your `doc2dash` tool does not work for online resources.

Here are my requests for the new docset:
- Source: http://pythonhosted.org/path.py/api.html
- That is the only page worth adding to Dash.  (There’s a homepage that contains a link to the API page, and an auto-generated index page, but that’s

[2015-05-10 16:29] jjarava opened #448 "Update Requests library docset? Latest is 2.7.0"
The Docset at the repo is for v1.0.0; I've found a feed for Dash docsets at http://python-dashapp.tk/ that provides v.2.3.0 but I'd appreciate having the latest docs available.

Thanks!!!

[2015-05-11 06:31] Kapeli commented on #448
@mcowger Can you update when you get a chance?

[2015-05-11 13:34] WoLpH opened #449 "Best way to create docset from asciidoc?"
The logstash documentation would be very useful to have within Dash, but I'm not entirely sure what's the easiest way to convert asciidoc files.

The asciidoc files are automatically generated towards this repo: https://github.com/elastic/logstash-docs

But I'm not sure what would be the best way to convert this to a readable format for Dash. Preferably I'd create a script to automatically update

[2015-05-11 13:53] Kapeli commented on #449
As far as I know, there's no easy way to index asciidoc-generated docs. I also think it's impossible to make a script that can index arbitrary asciidoc-generated docs because they don't have a common structure.

My best recommendation: write your own generation script just for logstash. Follow the steps at https://kapeli.com/docsets#dashDocset

[2015-05-11 13:53] #449 closed

[2015-05-12 20:38] mcowger commented on #448
I dont actually use Dash anymore :(

[2015-05-20 13:32] speedcell4 opened #461 "gensim please"
https://radimrehurek.com/gensim/apiref.html

[2015-05-28 20:35] robbiet480 commented on #261
:+1:

[2015-06-09 10:31] oracleyue opened #487 "How can I use icon.png to create icon for docset (e.g. Eigen)"
For example, I created docset for Eigen by following the author's guideline. However, I don't know where to copy the icon.png icon@2x.png (maybe docset.json) in this ./Eigen/, as result the docset doesn't have icon, shown as
![screen shot 2015-06-09 at 12 26 09](https://cloud.githubusercontent.com/assets/5046605/8055861/08b6e608-0ea3-11e5-84d6-56cb16f34692.png)
Thanks a lot!

[2015-06-09 11:56] Kapeli commented on #487
For the purpose of this repo, you're supposed to copy it right next to `docset.json`. After that, the icon will show in Dash when users install the docset from Preferences > Downloads > User Contributed.

If you just want to add an icon to the docset itself, see https://kapeli.com/docsets#addingicon.

[2015-06-09 11:56] #487 closed

[2015-06-09 12:13] oracleyue commented on #487
Oh, I got it. Actually I don't need to compile it by myself and copy the Eigen.docset to the ~/Library/Application ..... /docset/. I can directly installed them from the Dash preference. Thanks!

[2015-06-12 03:43] samnabi opened #492 "Issue with file paths"
Hi there,

I keep getting a "File not found" message when I try to browse a docset I created. I've checked my paths and I'm not sure where the issue is.

The sqlite3 database is `Kirby.docset/Contents/Resources/docSet.dsidx`

Sample document: `Kirby.docset/Contents/Resources/Documents/docs/cheatsheet/camera/make.html`

Sample SQL query: `INSERT OR IGNORE INTO searchIndex(name, type, path) VALUES (

[2015-06-12 06:41] Kapeli commented on #492
That looks fine. Upload the docset somewhere so I can take a look what's going on.

[2015-06-12 11:19] samnabi commented on #492
I've uploaded it here: https://github.com/samnabi/Dash-User-Contributions/tree/master/docsets/Kirby

[2015-06-12 13:00] Kapeli commented on #492
I've attached a screenshot of what your docSet.dsidx contains when opened in a SQLite app.

Paths should be `docs/cheatsheet/camera/make.html` instead of `Documents/docs/cheatsheet/camera/make.html`.

![screen shot 2015-06-12 at 15 58 51](https://cloud.githubusercontent.com/assets/1445635/8130551/f271115e-111b-11e5-8eb6-53d7c7438903.png)

[2015-06-12 13:00] #492 closed

[2015-06-12 13:52] samnabi commented on #492
Thank you :) I guess I should have taken a good night's sleep before opening an issue.

[2015-06-14 18:32] erik-stephens opened #504 "PySpark::Classes::RDD truncated"
Content is truncated at foreachPartition().

[2015-06-14 19:07] Kapeli commented on #504
@ronert Can you look into this?

[2015-06-15 21:15] ronert commented on #504
Have a look at https://github.com/Kapeli/Dash-User-Contributions/pull/506 please

[2015-06-25 14:29] HERRKIN commented on #261
+1

[2015-06-25 14:38] #504 closed

[2015-06-27 02:39] #431 closed

[2015-06-27 02:40] #277 closed

[2015-06-27 11:22] victorhooi commented on #120
Yeah, a docset with HTTP codes would be awesome!

[2015-06-30 08:03] 153957 commented on #120
@victorhooi there is a Cheat Sheet in Dash called [HTTP Status Codes](https://github.com/Kapeli/cheatsheets/blob/master/cheatsheets/HTTP_Status_Codes.rb)

[2015-06-30 11:30] #392 closed

[2015-07-08 10:15] bkristensen opened #533 "Is there any Typescript Docset out there?"
Any one found a TypeScript docset for Dash?

[2015-07-22 07:23] alexrockt opened #548 "Request: networkX"
Please add docset for http://networkx.github.io

[2015-07-30 01:43] ablipan commented on #261
+1

[2015-08-01 09:37] alexwidener opened #565 "Docset larger than 100 MB."
How would you like to transfer it?
PyMel: http://help.autodesk.com/cloudhelp/2016/ENU/Maya-Tech-Docs/PyMel/

[2015-08-01 21:31] Kapeli commented on #565
Upload it anywhere you can (e.g. Dropbox) and I'll take it from there.

[2015-08-01 22:22] alexwidener commented on #565
My fault, it was 3 AM when I was working on this. I skipped over the 'archive' part and the docset itself was over 100 MB. Closing issue and submitting pull request.

[2015-08-01 22:22] #565 closed

[2015-08-07 19:01] BigBlockStudios opened #586 "Possible to use docs sets with Zeal"
I'm trying to add the modx docset to zeal.

how do I do this?

[2015-08-07 19:20] Kapeli commented on #586
Please open an issue on Zeal's repo for help with Zeal. I'm only able to provide support for Dash.

This issue might be related to your request: https://github.com/zealdocs/zeal/issues/170.

[2015-08-07 19:20] #586 closed

[2015-08-07 19:24] BigBlockStudios commented on #586
I will - though, it seems to be looking for a "Feed URL" I assumed it was just downloading a tarball or something - right in the Zeal config it says doc repos are provided by Dash, so I assumed to start here first.

[2015-08-07 19:29] BigBlockStudios commented on #586
Actually, your link there was just the ticket about halfway down it describes how to "find" the feeds in this case it's:

http://newyork.kapeli.com/feeds/zzz/user_contributed/build/MODX/MODX.tgz

However I get an invalid docset after it finishes downloading :(

[2015-08-10 07:34] schinckel opened #590 "Uikit documentation is out of date."
Currently available version is 2.16.2.

The current UIKit release is 2.21.0.

[2015-08-10 11:21] #590 closed

[2015-08-12 12:35] mihkels opened #595 "Request: Spring Boot Reference"
Could You add Spring Boot Reference docset to Dash.
http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/

JavaDoc for Spring Boot is not sufficient.

[2015-08-18 17:32] matiskay opened #599 "Update Scrapy library docset? Latest is 1.0."
The version that the repository provides is 0.22 and the latest version is 1.0.

* Docset: https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Scrapy.

* Scrapy Documentation: http://doc.scrapy.org/en/1.0/

[2015-08-18 17:47] Kapeli commented on #599
@iamaziz Can you update when you get a chance?

[2015-08-27 08:04] manuel-reil commented on #261
+1

[2015-08-31 05:27] cvogt opened #614 "Manuals for various scala libraries"
In Scala land, the api docs are often pretty sparse and separate manuals are published. I wrote a generator that downloads a hand full of them, turns them into docsets using dashing and publishes them as feeds here http://cvogt.org/releases/docsets/ .

Feel free to integrate into the main docset repository.

my generator tool is here https://github.com/cvogt/scala-dash

[2015-08-31 11:05] Kapeli commented on #614
To contribute a docset please follow the instructions: https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset. I can't integrate docsets myself as I'd also have to make sure they're updated and for user-contributed docsets it would take too much time.

[2015-08-31 11:05] #614 closed

[2015-08-31 15:07] emgeee opened #615 "Request: Mocha"
http://mochajs.org/

[2015-09-04 06:29] fbcom opened #622 "Generation fails on OSX"
After installing doc2dash and cloning the repo I get:

[code]

I am using: OSX 10.9.5, bash 3.2.53(1), inside venv using virtual environment wrapper.

Best regards

[2015-09-04 12:11] Kapeli commented on #622
This repo is for user contributions, not support regarding docset generation. Please contact the maintainer of the docset for help with generating.

[2015-09-04 12:11] #622 closed

[2015-09-07 18:35] joaocc commented on #533
That would be great!

[2015-09-08 14:36] espen opened #629 "FullCalendar"
Docs at http://fullcalendar.io/docs/

[2015-09-08 15:58] iamaziz commented on #599
Here it is #630 :-)

[2015-09-08 17:41] Kapeli commented on #599
:purple_heart:

[2015-09-08 17:41] #599 closed

[2015-09-13 08:23] speedcell4 opened #637 "Request: Keras"
http://keras.io/examples/

thx~

[2015-09-15 19:09] poteto opened #641 "Request: Phoenix"
http://hexdocs.pm/phoenix/Phoenix.html

Thank you!

[2015-09-15 19:10] danmcclain commented on #641
+1

[2015-09-15 19:11] linstula commented on #641
:+1:

[2015-09-15 19:26] michaeldupuisjr commented on #641
+1

[2015-09-15 20:26] Kapeli commented on #641
You can install docs for anything on hexdocs.pm from Preferences > Downloads > Hex Docsets since Dash 3.1.1. Are those docsets not suitable for your needs?

[2015-09-15 23:15] poteto commented on #641
Sorry, you're right! I didn't realize the option was there.

[2015-09-15 23:15] #641 closed

[2015-09-16 00:49] Kapeli commented on #641
No problem. Thanks to your issue I found out that the hexdocs.pm team changed the doc style and my generator wasn't working properly anymore. I've updated it and everything should be ok now.

:+1:

[2015-09-16 01:35] poteto commented on #641
Thanks for responding so quickly, and for an awesome piece of software!

[2015-09-16 09:37] pirafrank opened #642 "Update React Native to 0.11.0 stable"
Please update react native docset 0.11.0 from rc to stable.

[2015-09-16 14:11] Kapeli commented on #642
@epitaphmike Can you look into this when you get a chance?

[2015-09-16 14:17] epitaphmike commented on #642
No problem. The docs are actually 0.11.0 stable, I will update the repo to reflect the appropriate title and version.

[2015-09-16 14:47] pirafrank commented on #642
I thought it was different reading at the official changelog.
Thank you, man!

[2015-09-16 14:57] epitaphmike commented on #642
Awaiting pull request. Should be updated momentarily.

[2015-09-16 14:57] Kapeli commented on #642
Closed: https://github.com/Kapeli/Dash-User-Contributions/pull/644. Thank you @epitaphmike!

[2015-09-16 14:57] #642 closed

[2015-09-18 01:43] epitaphmike commented on #261
In the works. Phase 1 (85% complete) is the core concepts, Phase 2 will include the reference section.

[2015-09-19 18:01] saneef opened #645 "Request: Nunjucks"
https://github.com/mozilla/nunjucks

[2015-09-30 10:57] 0x001D commented on #533
+1

[2015-09-30 20:25] Kapeli commented on #533
A TypeScript docset made by me will be added to Dash in the next update.

[2015-09-30 20:25] #533 closed

[2015-10-01 16:26] mknabe opened #660 "Request: Geb"
http://www.gebish.org/manual/current/

I've gotten really close with Dashing but it's not picking up the syntax highlighting and the fonts. Any help would be appreciated

[2015-10-05 01:53] TigerWolf opened #663 "Docset Generation Help"
Im generating a docset, this docset has 2 seperate components (the framework has a seperate repository for helper functions). Is there an easy way to combine these docsets?

[2015-10-05 05:12] Kapeli commented on #663
Nope. You'll have to come up with something custom.

[2015-10-05 05:12] #663 closed

[2015-10-09 22:53] sdegutis opened #671 "Datomic in Clojure would be great"
http://docs.datomic.com/clojure/

Forgot how to do this process though. Any hints?

[2015-10-26 03:07] erantapaa opened #686 "Haskell docset is missing the GHC API modules"
The Haskell docsets are missing the docs for the `ghc` module which comes with the Haskell Platform but is "hidden" by default.

For the latest version of the Haskell Platform, if you run:

    ghc-pkg expose ghc-7.10.2

before running your docset generation command I believe you will include the `ghc` module.

See https://gist.github.com/erantapaa/987d44dca7ee2e919dae for more info on the matter.

[2015-10-26 18:11] Kapeli commented on #686
Are GHC docs needed by most users? No one else reported this issue yet so I'm not sure if I should include them.

[2015-10-26 19:04] erantapaa commented on #686
The GHC API is used extensively by programs which need to parse / analyze Haskell programs like __haddock__ - the documentation generator, __ghc-mod__ - the helper program for vi / emacs / etc., __HaRe__ - the Haskell refactoring tool, __haste__ - the Haskell to JS compiler, and others. All told, about 100 packages directly used the GHC API.

It's your call. Everyone who downloads Haskell has thos

[2015-10-27 14:40] princed opened #688 "Add React 0.14 docset"
[Original repo](https://github.com/chenglou/react-dash) says React docset is now officially maintained by Dash.
But there are no signs of actual version :(

[2015-10-27 14:58] Kapeli commented on #688
What do you mean there are no signs of actual version?

[2015-10-27 15:30] princed commented on #688
I mean there is no React 0.14 docset. Could you please publish it?

[2015-10-27 15:45] spantons opened #689 "Add support for django rest framework (http://www.django-rest-framework.org/)."

[2015-10-27 16:16] Kapeli commented on #688
React is available in Dash in Preferences > Downloads > All Docsets since v3.1.0. The latest version of the docset is 0.14.0. If you don't see it, it means you're not using Dash 3.1.

[2015-10-27 16:16] #688 closed

[2015-10-27 19:55] princed commented on #688
Well, it looks very disappointing now. One of my most-used open source docset stopped updating, and I have to install paid upgrade (in fact, buy Dash again for the full price) to be able to use it again.
What's more, I had to create issue to understand the situation.

[2015-10-31 14:42] danbob123 commented on #637
+1

[2015-10-31 14:42] danbob123 commented on #548
+1

[2015-11-02 08:18] bilekt3 commented on #671
I have same thoughts about Datomic - but  generally I will prefer something like my attachment.

Despite fact that Datomic has relative strict license I do not know if public redistribution will be possible.

How many will be interested? I will start process to ask Congnitect for permission to publish documentation and make my private docs public and Dash fully compatible.

![screen shot 2015-11-0

[2015-11-02 08:18] bilekt3 opened #690 "ClojureScript documentation is outdated."
I have realized that ClojureScript is outdated.

[2015-11-02 08:20] bilekt3 opened #691 "Google Closure documentation is outdated"
I found that attached docs for Google Closure is from google code, but it was moved to GitHub and new generated API look much better - http://google.github.io/closure-library/api/

[2015-11-02 14:35] Kapeli commented on #691
@wesalvaro can you take a look when you can?

[2015-11-02 14:36] Kapeli commented on #690
@shaunlebron can you take a look when you can?

[2015-11-02 21:09] shaunlebron commented on #690
@bilekt3 thanks, pending here: https://github.com/Kapeli/Dash-User-Contributions/pull/692

[2015-11-02 22:28] #690 closed

[2015-11-03 15:36] 153957 opened #693 "Remove MatPlotLib as it is now provided by kapeli"
This docset can be removed, in favor of the officially included one:
https://github.com/Kapeli/Dash-User-Contributions/tree/6ca97fba3b98845b92274d0d99ebac2e3e3b4bd3/docsets/matplotlib

[2015-11-03 15:41] Kapeli commented on #693
@iamaziz Is it ok if I remove your MatPlotLib docset or would you like to keep supporting it?

[2015-11-03 15:42] Kapeli commented on #693
Also, the Pandas docset should probably be removed as well.

[2015-11-03 16:32] iamaziz commented on #693
Which one is the official, are there other docsest for matplotlib and pandas ? I am following here :/

[2015-11-03 16:33] Kapeli commented on #693
Dash 3.1.3 which was just released contains docsets for MatPlotLib and Pandas in Preferences > Downloads > All Docsets.

[2015-11-03 16:39] iamaziz commented on #693
Oh, great! just updated, Dash is going more pythonic now :+1:  sure thing it's better to remove them since there is official releases now. Doesn't make sense to keep both.

[2015-11-03 16:40] iamaziz commented on #693
I would vote for renaming the MatPlotLib to matplotlib.

[2015-11-03 16:44] #693 closed

[2015-11-03 18:29] 153957 commented on #693
+1 on the rename, use either matplotlib or Matplotlib (both are used in the documentation).

[2015-11-03 19:31] Kapeli commented on #693
I'll rename it to Matplotlib.

[2015-11-05 20:53] HyShai opened #695 "Request: Microsoft Azure and OpenXML"
You should be able to use the same script that you use for the .NET docs. They have a similar table of contents menu.

Azure base URL: https://msdn.microsoft.com/en-us/library/azure/dn578280.aspx

OpenXML base URL:  https://msdn.microsoft.com/en-us/library/office/bb448854.aspx

Thanks!

[2015-11-06 13:46] sharstream opened #696 "Request VistA API Reference"
VistA is an electronic health care system that uses the MUMPS programming language.

[2015-11-08 22:13] PierreR commented on #686
Sorry to hijacking the issue but would it be possible to have docsets for **all** packages present in stackage ?

[2015-11-08 22:20] Kapeli commented on #686
@PierreR Support for Haskell packages is something I'm working on right now, but I'll be using Hackage and not stackage. It should come in the next Dash update.

![screen shot 2015-11-09 at 00 18 45](https://cloud.githubusercontent.com/assets/1445635/11023091/b156ac3e-8677-11e5-8158-5f362b7f2b25.png)

[2015-11-08 22:32] PierreR commented on #686
@Kapeli So I will be able to choose any package from Hackage ? That would be wonderful !

[2015-11-08 22:33] Kapeli commented on #686
Yep.

[2015-11-17 15:12] aviflax commented on #671
+1

[2015-11-17 17:46] Kapeli opened #706 "Vue.js docset is outdated"
@chase can you update it when you can?

[2015-11-20 18:25] chase commented on #706
@Kapeli Afraid I don't use Dash any longer and I don't have time to maintain the docset.

The docset generator source code from 2 years ago is located here: https://github.com/chase/vue-dash-generator

[2015-11-20 18:27] #686 closed

[2015-11-25 12:27] simobasso commented on #689
Django rest framework is supported https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Django_REST_Framework

[2015-11-25 21:25] #689 closed

[2015-11-25 21:25] Kapeli commented on #689
Thanks @simobasso :+1:

[2015-11-25 21:26] #448 closed

[2015-11-26 09:23] janmonschke opened #714 "React Native 0.15.0"
Currently there's only 0.13.0 in the repository

[2015-11-26 22:47] Kapeli commented on #714
@epitaphmike Can you update this when you can?

[2015-11-27 00:49] epitaphmike commented on #714
Will update within the next day or two.
On Thu, Nov 26, 2015 at 5:47 PM Bogdan Popescu <notifications@github.com>
wrote:

[2015-11-30 16:30] epitaphmike commented on #714
Pull Request in. Sorry for the delay. Its been a busy few weeks.

[2015-11-30 16:42] janmonschke commented on #714
@epitaphmike Thx a lot :)

[2015-11-30 16:47] #714 closed

[2015-12-02 11:37] DaSchTour opened #721 "Request: JSTL / Expression Language"
Would be great to have docs for JSP, JSTL, EL or how you may call it.
I mean this: https://en.wikipedia.org/wiki/Unified_Expression_Language

[2015-12-08 18:33] chauncey-garrett opened #731 "Request: Siesta"
### Homepage

http://www.bryntum.com/products/siesta/

### Docs

http://www.bryntum.com/docs/siesta/#!/api

[2015-12-08 18:34] chauncey-garrett opened #732 "Request: Zsh"
The Zsh

[2015-12-09 11:19] merqurio commented on #548
+1

[2015-12-09 12:03] a3ammar commented on #120
Would really love this.

[2015-12-11 23:20] Tkizzy opened #739 "Responsive text justification missing"
Would be great if this docset was responsive to different view sizes.

[2015-12-12 02:21] Kapeli commented on #739
Which docset?

[2015-12-12 03:02] Tkizzy commented on #739
Apologies. The Pythonista set. I have word from the uploader that he's working on it.

[2015-12-12 03:12] leesavide commented on #739
The Pythonista & Editorial docsets have some slight issues concerning being displayed to the device width properly when being viewed on mobile devices. The quickest and easiest fix is to simply view the these docsets in landscape mode.

If an alternative is preferred, I'll see if their might be a way to tease the static CSS & HTML files to play nicely with smaller screens. :)

If that doesn't work

[2015-12-12 03:25] leesavide commented on #739
The other issue that could be causing the text justification could be the font size on the iOS app. If you reduce the font size, it'll make the page fit the screen, as well, without landscape.

[2015-12-14 01:27] Kapeli commented on #706
The next version of Dash (v3.2.0) will include an "official" Vue.js docset maintained by me. When that is released, the current user contributed Vue.js docset will be removed.

[2015-12-14 01:27] #706 closed

[2015-12-14 03:26] michaelsilver commented on #548
+1

[2015-12-14 15:54] tkambler opened #742 "Forced upgrade - why are you ignoring my support requests?"
@Kapeli / Bogdan - I have contacted you at support@kapeli.com *five* times over the past two weeks to no avail. Why are you ignoring my repeated requests for support?

I was a happy, satisfied, *paid* user of Dash v2 until recently. OS X complained that Dash had become corrupted and that I must re-download it. I did so, and was *forced* to upgrade to v3. As a result, I am now continually harassed

[2015-12-14 16:37] #742 closed

[2015-12-14 16:38] Kapeli commented on #742
This is not the place for support requests.

[2015-12-15 18:34] Kapeli opened #743 ""Official" Jekyll docset"
Hi @alexlafroscia. This is just a heads-up that a Jekyll docset made by me will be released in the next Dash update.

Please let me know what you would like to happen with your Jekyll docset in the user contributed section? Should I remove it or will you continue to support it alongside my own docset? Either way is fine with me.

If you want to check out my own docset, you can grab it from http://

[2015-12-15 18:45] ear opened #744 "History Navigation: Backspace (Previous Page)"
Would it be possible to add `backspace` as a way to go back 1 page in the history, like the browsers do?

Thank you!

[2015-12-15 18:49] alexlafroscia commented on #743
Oh no, definitely just remove it. Thanks for the heads-up!

[2015-12-15 18:52] Kapeli commented on #743
:+1:

[2015-12-15 18:52] #743 closed

[2015-12-15 19:01] Kapeli commented on #744
I will add this if more users ask.

Please note that this is not the place for feature requests. Please contact me here in the future: https://kapeli.com/contact.

[2015-12-15 19:01] #744 closed

[2015-12-15 19:07] ear commented on #744
Sorry! Thank you for considering it. Muscle memory is hard to combat :)

[2015-12-24 07:36] yinghaochan opened #747 "ImmutableJS docs"
https://github.com/mikz/immutable-js.docset

Someone's already created one, except there's no feed.

[2016-01-01 19:19] sataly1995 opened #752 "@tanasilli"
action

[2016-01-01 19:21] #752 closed

[2016-01-01 19:21] sataly1995 commented on #752
a

[2016-01-07 00:20] ppwwyyxx opened #754 "Keyword for Eigen"
According to https://github.com/zealdocs/zeal/issues/383, the default search keyword for docset is ``DocSetPlatformFamily``.
With the eigen docset, this keyword is set to ``doxygen``, which doesn't make a lot of sense.

[2016-01-07 03:15] Kapeli commented on #754
@elrnv Can you set the keyword to something like `eigen`?

[2016-01-08 19:20] elrnv commented on #754
Can do. It must have been changed during the latex pictures were updated, so I'm gonna need some time to figure out how to get a build with latex pictures to show properly ( would appreciate a hint from @oracleyue :) ). Also, I might as well update the docs to the latest version.

[2016-01-12 03:41] leesavide opened #771 "Can't upload new version of Pythonista docsets"
I unfortunately can't push the current docsets without being able to use Git LFS, as the docsets is now over the 100 MB cap. (´●△● `) I'm also unable to push the files to my fork, and get the message:
[code]
How can we fix this?

[2016-01-12 10:23] Kapeli commented on #771
Make a pull request that changes the `docset.json` to add the new version and upload the docset somewhere else (e.g. Dropbox). I'll handle it from there.

Git LFS is great but I can't have it as a requirement for this repo.

[2016-01-12 10:23] #771 closed

[2016-01-12 14:47] leesavide commented on #771
Perfect, I've got it uploaded from Github releases :) :+1: Thanks!

[2016-01-12 15:01] #754 closed

[2016-01-14 10:00] davidwed opened #776 "Request: GNU C Library (glibc) / POSIX.1-2008 Library"
I know that the Doxygen documents can be convert to docset easily on Mac OS.
I' am using Windows/Linux. When I try to generate the docset, I can't found the alternatives for the 'docsetutil' provided by Xcode.
Would you please offer the  GNU C Library (glibc) / POSIX.1-2008 docset?

http://pubs.opengroup.org/onlinepubs/9699919799/functions/contents.html

[2016-01-17 05:17] iamaziz commented on #637
here it is #781

[2016-01-17 09:05] #637 closed

[2016-01-21 23:58] JMichaelTX opened #785 "Request: AppleScript / JXA SDEF (Scripting Dictionary) Import"
Could you please add a docset creation process using any AppleScript scripting dictionary (SDEF) or scripting addition (OSAX).

This would be huge.  It would open up adding to Dash any SDEF or OSAX file used by AppleScript or JavaScript for Automation (JXA).

Thanks.

[2016-01-25 04:14] dubuqingfeng opened #791 "Request: IntelliJ Platform SDK"
The documentation is here: http://www.jetbrains.org/intellij/sdk/docs/index.html
The repository is here: https://github.com/JetBrains/intellij-sdk-docs
ths

[2016-01-27 13:03] maplewizard opened #795 "I want to submit a new version of theano docs"
I have made a new dash docs for theano. I have two questions:
1. I found theano 0.6 in this repo, but I can't find theano docsets in dash's download list. Why?
2. I have made a theano 0.7 docs, I want to know wheather I can submit it?

[2016-01-27 13:32] Kapeli commented on #795
1. I'm able to find Theano in Preferences > Downloads > User Contributed
2. Yes, you can

[2016-01-27 13:32] #795 closed

[2016-01-27 14:24] maplewizard commented on #795
@Kapeli Should I put my files into the Theano floder or I should create a new one?

[2016-01-27 14:24] Kapeli commented on #795
You should update the current Theano docset

[2016-01-28 19:53] sunaku opened #804 "Request: POSIX.1-2008 specification"
http://pubs.opengroup.org/onlinepubs/9699919799/

This is useful for developing portable software that runs on Linux, BSD, Mac OS X, and traditional UNIXes.

[2016-01-29 00:27] #791 closed

[2016-02-04 11:27] #747 closed

[2016-02-07 09:28] redwolf0302 opened #818 "Webpack"
The webpack

[2016-02-10 08:26] Evanion opened #824 "Request: Loopback.js"
I'm trying to find a docset for [LoopBack.js](https://github.com/strongloop/loopback), anyone know if someone have generated a set?

[2016-02-11 14:18] Zearin opened #825 "Docset request: Autocode"
I’d love a docset for [Autocode](https://autocode.readme.io)!

[2016-02-13 00:52] girvo commented on #688
I've got the same problem as you @princed -- I paid for Dash and love it as a tool, but having React's latest docset hidden away unless I pay full price for the new version is a bit of a shame (even if I can understand why). Dash 2 works brilliantly, and the features that 3 offers aren't features I need, so I've never needed to upgrade...

[2016-02-13 01:05] Kapeli commented on #688
It was the @chenglou's [decision to remove](https://github.com/chenglou/react-dash/issues/9#issuecomment-119071085) the React docset from User Contributed, not mine. If anyone decides to start maintaining a React docset in User Contributed again, I'll happily accept it, as long as it's different from the "official" docset.

It costs $10 to upgrade from Dash 2 to Dash 3. For upgrade issues please c

[2016-02-13 01:07] chenglou commented on #688
Yep, I removed it because it's a subset of what's now officially maintained. Not sure what's hidden away? It's in the official section now.

[2016-02-13 01:28] girvo commented on #688
Like I said (but didn't communicate particularly well), I completely understand why the decision was made. When I say "hidden away", what I mean is that as far as my Dash installation is concerned, the React docs are only yours @chenglou and there's not much of an indication that there in fact is an updated officially supported docset: you'd only know that if one owned Dash 3!

@Kapeli I truly did

[2016-02-13 02:05] chenglou commented on #688
![screenshot 2016-02-12 21 03 41](https://cloud.githubusercontent.com/assets/1909539/13024996/24852556-d1cc-11e5-8f13-eeae7cd5fef8.png)

I do own a purchased Dash 3 and I do see (and use) the official react docs maintained by Kapeli. It's weird that you don't see it though? It's in the All Docsets section now btw, since it's official.

[2016-02-13 02:07] girvo commented on #688
Sorry @chenglou I'm confusing the issue :) I (up until about 15 minutes ago when @Kapeli was nice enough to send me through an upgrade code) only had Dash 2, as I hadn't seen a need to upgrade for my personal use-case for Dash. In Dash 2, React v0.13.1 is the latest version as it's the latest version that you released as a community docset, but I couldn't see why it was only at that version until

[2016-02-13 02:12] #739 closed

[2016-02-13 02:12] Kapeli commented on #688
I just realised ... I forgot to remove the React docset from User Contributed.

[2016-02-16 05:24] iamaziz commented on #548
Here it is #830 :-)

[2016-02-16 10:18] #548 closed

[2016-02-22 01:23] espen opened #834 "Request: Memcached"
http://memcached.org
https://github.com/memcached/memcached/

[2016-02-26 06:13] rspeed commented on #732
It should be present under manpages.

[2016-03-02 23:48] ProLoser opened #849 "Update Bluebird to 3.x"
I ran into some bugs immediately after installing the Bluebird docs because they are not on the latest major version.

[2016-03-03 16:12] Kapeli commented on #849
@giladgray Can you update the docset when you get a chance please?

[2016-03-09 02:28] get9 opened #854 "Adding ITK docset"
I'd like to add the [Insight Toolkit](http://itk.org/) documentation to Dash. However, it's a fairly large toolkit with extensive documentation. The compressed version of the docset is 2.3 GB. I can shrink that down probably by two thirds by excluding inheritance maps and collaboration diagrams included on every class doxygen page [like this](http://www.itk.org/Doxygen/html/classitk_1_1Array__inhe

[2016-03-09 08:53] Angerlababy opened #855 "New Annotation"
1.

- [x] > e.g. Chuck Norris

- New Annotation

`)
**> e.g. The Debuggers

`_

[Uploading Save.rtfd.zip…]()
__`

[2016-03-09 21:27] #855 closed

[2016-03-09 21:29] Kapeli commented on #854
Just make a pull request containing everything except the actual docset tgz, and upload the tgz separately somewhere (anywhere) and let me know where it is and I'll set up the rest.

[2016-03-09 21:29] #854 closed

[2016-03-16 09:43] VileTouch opened #858 "Request: Windows Command-line reference"
from: https://technet.microsoft.com/en-us/library/cc754340.aspx (or a more recent one  if it exists -searching technet is an exercise in futility)

I will probably end up doing it myself, but in case someone else is already working on it...

also, in case you're interested there is a PowerShell docset [here](dash-feed://http%3A%2F%2Fpowershell.docset.citruspi.io%2Ffeed%2F)

[2016-03-16 13:51] dustinschultz commented on #595
:+1:

[2016-03-17 03:45] h3l commented on #824
+1

[2016-03-18 15:39] afang opened #861 "Request: Redux Docs"
http://redux.js.org
https://github.com/reactjs/redux

[2016-03-25 17:10] chinuka opened #875 "Elm Docset: Redundant package name bug"
I use this docset, thanks for maintenance.
https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Elm

I found this docset has displayed redundant package names.

Example: [Signal#merging](http://package.elm-lang.org/packages/elm-lang/core/3.0.0/Signal#merging)
Elm official: `merge : Signal a -> Signal a -> Signal a`
Dash.app: `merge : Signal.Signal a -> Signal.Signal a -> Signal.Si

[2016-03-25 17:28] Kapeli commented on #875
@splodingsocks or @pdamoc can you look into this?

[2016-03-25 17:49] pdamoc commented on #875
This is an issue with the generator.
I have added the issue and will look for a solution.

[2016-03-25 17:50] Kapeli commented on #875
Thanks @pdamoc!

Closing here. No need to have this issue tracked in 2 places.

[2016-03-25 17:50] #875 closed

[2016-03-26 13:03] icq4ever opened #876 "for update to new version, how can I write author information?"
I want to contribute to update new version of openFrameworks.
in docset.json, how can I update **author** ? do I need to contact author of older version?

[2016-03-26 13:33] icq4ever commented on #876
I just created pull request. close this issue.

[2016-03-26 13:33] #876 closed

[2016-03-26 13:42] jadedevin13 commented on #861
:+1:

[2016-04-12 15:56] nikitavoloboev opened #894 "Add a hotkey to 'add a comment'"
I think this hotkey would be a really nice addition as I often like to make comments in my documentation.

Thank you for considering it.

[2016-04-12 16:06] Kapeli commented on #894
This is not the place for Dash user feedback/suggestions. The repo is only for user contributed Dash docsets.

Please [contact me](https://kapeli.com/contact) with anything else.

[2016-04-12 16:06] #894 closed

[2016-04-12 22:32] marclundgren opened #897 "Generating a docset from a RAML file"
I would like to export a [RAML](http://raml.org/) file to a Dash docset

[2016-04-12 22:32] marclundgren opened #898 "Generating a docset from a Swagger file"
I would like to export a [Swagger](http://swagger.io/) file into a Dash docset.

[2016-04-13 17:34] Kapeli commented on #898
There's no script to do this as far as I'm aware. You can make your own script by following the instructions at https://kapeli.com/docsets.

[2016-04-13 17:34] #898 closed

[2016-04-13 17:34] Kapeli commented on #897
There's no script to do this as far as I'm aware. You can make your own script by following the instructions at https://kapeli.com/docsets.

[2016-04-13 17:34] #897 closed

[2016-04-15 23:09] Unrepentant-Atheist opened #900 "Docset Request: AutoHotkey"
They have it online: https://autohotkey.com/docs/AutoHotkey.htm

Would be nice to have it in Zeal and / or Dash!

[2016-04-18 06:48] iigorkarpov opened #902 "Terraform readme outdated?"
%git clone https://github.com/f440/terraform.git
Cloning into 'terraform'...
remote: Counting objects: 69540, done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 69540 (delta 17), reused 7 (delta 7), pack-reused 69514
Receiving objects: 100% (69540/69540), 40.56 MiB | 1.80 MiB/s, done.
Resolving deltas: 100% (42622/42622), done.
Checking connectivity... done.
%cd terraform/website

[2016-04-18 07:42] Kapeli commented on #902
@f440 Can you look into this please?

[2016-04-18 08:48] f440 commented on #902
I'm sorry for the confusion. I fixed it at #903.

[2016-04-18 12:09] #902 closed

[2016-04-23 20:57] frankhommers opened #916 "Offer: PostGIS 2.2.3dev and PostGIS 2.3.0dev"
I haven't exactly followed your steps to create docsets, instead I forked the existing PostGIS docset generator and improved (a lot) on it.

What do I need to do next to include these as a User Contribution?
Files are here: https://github.com/frankhommers/postgis-docset/tree/master/dist

[2016-04-24 09:08] Kapeli commented on #916
You need to fork this repo and update the files at https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/PostGIS. Specifically, you need to update the `docset.json` to change its version and add the `PostGIS.tgz` archive inside that folder.

If you want to support multiple versions of the docset, you need to add `specific_versions` to the `docset.json`. See https://github.com/Kapel

[2016-04-24 09:08] #916 closed

[2016-04-24 10:58] ilpianista opened #917 "Request: SailfishOS"
I'd like to request docsets for [SailfishOS SDK](https://sailfishos.org/develop/docs/)

I'm trying to do it myself, but I could fail :-)

[2016-04-28 03:25] CatTail opened #920 "Node.js docset missing some modules"
Missing modules including

* [debugger](https://nodejs.org/dist/latest-v6.x/docs/api/debugger.html)
* [Errors](https://nodejs.org/dist/latest-v6.x/docs/api/errors.html)
* [Process](https://nodejs.org/dist/latest-v6.x/docs/api/process.html)

[2016-04-28 07:50] Kapeli commented on #920
I'll look into `debugger` not being indexed.

`Process` is not a module as far as I can tell. The NodeJS index marks it as a [`global`](https://nodejs.org/dist/latest-v6.x/docs/api/process.json). If you search for `process` in Dash you'll find it.

Same thing for `Errors`, it's not a module as far as I can tell.

[2016-04-28 07:50] #920 closed

[2016-04-28 08:25] CatTail commented on #920
Thanks for your response :), Further issue will directly mail to contact.

[2016-05-01 15:51] Naville opened #921 "How can I contributed way-toooo-large docsets?"
Or, any idea on reducing their size?

I'm talking about https://github.com/Naville/LLVM_Docsets

[2016-05-01 15:54] Naville commented on #921
fyi, I used this doxygen cfg to generate the docset from Clang SVN Trunk

https://gist.github.com/Naville/7169ffdcc5ad132898d46f83cc70b688

[2016-05-02 00:11] Kapeli commented on #921
There's no way to reduce the size as far as I know.

To contribute them you should make a pull request adding everything that's needed (e.g. `docset.json`), but don't add the docset archive. Instead of the archive, give me a link to where I can download it.

[2016-05-02 00:11] #921 closed

[2016-05-02 14:51] marcblabla commented on #355
Hi

What ever happened to this?
Because I can't seem to find the OpenStack docset anywhere.

[2016-05-02 17:02] Kapeli commented on #355
@marcblabla I've never received a pull request for the docset.

[2016-05-02 18:46] marcblabla commented on #355
@Kapeli Well that explains it :-). Do you know anywhere else I can get it?

[2016-05-02 19:19] Kapeli commented on #355
No, sorry.

[2016-05-03 07:54] jni opened #923 "Update scikit-learn to 0.17 and scikit-image to 0.12"
Those would be the most up-to-date versions.

Thank you!

[2016-05-03 07:54] jni commented on #923
CC @iamaziz

[2016-05-09 11:06] dudymas commented on #355
Ahoy, I know this is dead, but wanted to explain a bit more. I had this working back in March on openstack juno, but quickly found:
1) I had to utterly roll my own doc builder
2) still found pages that broke Dash and needed hand editing
3) The search indexes were no where near as good as the actual hosted documentation
4) oh and look at that, kilo is already out and way better than juno

I just wo

[2016-05-23 07:23] liyangio opened #938 "Request:FreeMarker"
Could You add FreeMarker docset to Dash.
http://freemarker.org/docs/api/index.html
JavaDoc for FreeMarker is not sufficient.
thk

[2016-06-03 04:10] phoenixenero opened #948 "Request: Lithium (li₃) – unionofrad/lithium"
Would be nice to have [li₃](https://github.com/unionofrad/lithium) as a docset.

[2016-06-05 02:52] jmsenrra opened #950 "Request: Docset for NASM"
It would be nice to have a docset for NASM:

http://www.nasm.us/xdoc/2.12.01/html/nasmdoc0.html

[2016-06-07 12:41] epitaphmike opened #953 "Transfer Others User Contributed Docsets to iOS"
I just bought a new iPad and I wanted to download a few docsets. I have no problem downloading base docsets or transferring docsets I have created, but I can't seem to be able to transfer other user contributed docsets. I am guessing because you remove the .docset files from your github repo.

Any suggestions?

Thanks.

[2016-06-07 17:43] Kapeli commented on #953
Support for user contributed docsets on iOS is planned. In the meantime, the workaround is to install them using Dash for OS X and then transfer them to iOS using iTunes.

[2016-06-07 17:43] #953 closed

[2016-06-13 23:52] LizzyBradley commented on #615
@Kapeli Mocha was added in Version 1.3.2 (Dec. 21, 2015).

[2016-06-13 23:54] LizzyBradley commented on #261
@Kapeli Sails.js was added in Version 1.3.1 (Nov 2, 2015).

[2016-06-13 23:55] #615 closed

[2016-06-13 23:56] Kapeli commented on #615
Thanks @LizzyBradley

[2016-06-13 23:56] Kapeli commented on #261
Thanks @LizzyBradley 👍

[2016-06-13 23:56] #261 closed

[2016-06-16 23:44] milad-soufastai opened #968 "Request for WP CLI"
I know PHPDoc based Docsets are supported but I'm unsure how to generate these. https://wp-cli.org/commands/

[2016-06-22 08:54] jakudlaty commented on #595
👍

[2016-06-23 15:32] tardyp opened #978 "add docset for yocto"
Yocto provides a bunch of documentation:

https://www.yoctoproject.org/documentation

That would be very nice to have that available in  dash and zeal

@rpurdie

[2016-06-28 22:08] jordandobson commented on #533
Did this ever happen? I can't seem to find it when I search for a download.

[2016-06-28 23:37] Kapeli commented on #533
@jordandobson It has. TypeScript is available in Dash since v3.1.3.

[2016-06-29 02:32] liyangio commented on #595
👍

[2016-07-06 07:02] deadloko commented on #776
I have generated glibc documentation from official one available here: https://www.gnu.org/software/libc/manual/

I'm think it's still not ready for contribution, but you may want to check it out. https://github.com/deadloko/glibcdash

[2016-07-06 07:19] grtlr opened #991 "Request: GLM"
GLM is a very commonly used math library for graphics programming. It would be awesome if docsets were provided for Dash, especially since their [website](https://glm.g-truc.net/) is often not reachable from all computers.

The project manages its documentation with Doxygen and a prebuilt documentation is included in the [repository](https://github.com/g-truc/glm).

[2016-07-07 23:01] davidwed commented on #776
Looks good. Thanks.

[2016-07-09 17:06] MarcSteven opened #994 "Cannot read DocSet when import the DocSet via iTunes into my iPhone"
Good nite,I have a doubt.
I imported downloaded DocSet into my iPhone,and then  I enter into the menu of transfer DocSets and then I found the DocSet and then click the icon,it started to transfer ,finally it got successful.
But the issue appeared here.I opened the DocSet ,it crashed right now....
Eg:I imported the iOS offline DocSet ,the size of DocSet is 2.57GB.........the mode of transferring

[2016-07-09 17:14] Kapeli commented on #994
This is not the place to report issues for the iOS app. Please [contact me](https://kapeli.com/contact).

[2016-07-09 17:14] #994 closed

[2016-07-17 03:40] iamaziz commented on #461
@speedcell4 here it is #1002 :-)

[2016-07-17 03:48] speedcell4 commented on #461
Thank you~ @iamaziz 👍

[2016-07-17 03:48] #461 closed

[2016-07-18 13:15] davidwed commented on #776
In my opinion the docset is good enough :+1: Do you provide the docset to the Dash-User-Contributions repo ?

[2016-07-20 18:38] hndrewaall opened #1007 "Request: Docset for Codeception (PHP)"
Took a whack at generating from the markdown [here](https://github.com/Codeception/Codeception/tree/2.2/docs), but to no avail :(

[2016-07-20 18:38] hndrewaall commented on #1007
Will also take pointers on generation :)

[2016-07-21 20:27] iamaziz commented on #923
@jni thanks for the ping, just updated Scikit-learn to 0.17.1 #1010

[2016-07-21 20:36] #923 closed

[2016-07-23 20:39] ldionne opened #1012 "[Question] Contributing docsets for individual boost libraries"
I tend to find that the docsets for the Boost libraries are not very useful,  since searching in them is difficult (perhaps I don't know how?). It seems like only full text search is available.

As the author of the Boost.Hana library, I would like Hana's docset to be better than that. Hence, I added support for generating docsets from Doxygen in Hana's build system (basically just run `make docse

[2016-07-23 20:46] Kapeli commented on #1012
Your only option is to contribute the docset here. I don't support any other way for users to contribute docsets.

The current Boost docset only indexes the library names, but nothing inside them. This is because the Boost libraries are documented using different formats.

[2016-07-23 20:46] #1012 closed

[2016-07-27 01:30] ViViDboarder opened #1015 "Docset submission best practices"
I'm about ready to submit a docset for Salesforce development, but I wanted to ask advice about packaging. Salesforce has two types of languages. One is the Apex coding language for controllers. The other is Visualforce for the front-end markup.

Should these be submitted as "Salesforce Apex" and "Salesforce Visualforce" or "Salesforce" with both bundled inside?

[2016-07-27 09:00] Kapeli commented on #1015
That's up to you. Are the docs separate for the 2 languages? If yes, I'd say separate the docsets too.

[2016-07-27 18:04] ViViDboarder commented on #1015
Sounds reasonable. Thanks.

[2016-07-27 18:04] #1015 closed

[2016-07-30 01:08] alexbilbie opened #1019 "Request: Learn X in Y"
https://learnxinyminutes.com

[2016-07-30 20:38] jiayihu opened #1021 "Request: RxJS"
I know [Angular 2](https://angular.io/docs/ts/latest/api/) is still in RC but a lot of people is starting using it, along with [RxJS v5-beta](http://reactivex.io/rxjs/) so I believe it would be very nice to add them to the available docs.

[2016-07-31 04:39] stvn66 opened #1022 "Bokeh: Trouble running doc2dash on sphinx generated documentation"
I compiled the documentation for [bokeh](https://github.com/bokeh/bokeh/tree/master/sphinx) and was able to view the results by running `python docserver.py`.  I then successfully ran `doc2dash -Ajf -n bokeh ./_build/html` (though there were many failed attempts because of a bad soft-link.

When I load the resulting output using Dash, the result is drastically different visually from the web versi

[2016-07-31 07:20] Kapeli commented on #1022
User contributed docsets show up in Preferences > Downloads > User Contributed. Bokeh should show up there.

I have no idea what's going wrong with your docset. Please [send the docset to me](https://kapeli.com/contact) and I'll look into it.

I'm closing the issue here because this repo is for contributing docsets, not for helping with generating them.

[2016-07-31 07:20] #1022 closed

[2016-07-31 07:21] Kapeli commented on #1021
The Angular docset will be updated to v2 as soon as it becomes stable.

[2016-08-02 14:36] wenroo commented on #533
Great!!!

[2016-08-05 18:14] haifzhan commented on #595
+1

[2016-08-07 15:58] Crocmagnon opened #1025 "Request: API Blueprint"
Hello !
[apiary](https://apiary.io) has a special templating language for writing API specifications. It's called API Blueprint.
The specification of the language can be found here on GitHub : https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md#def-introduction

There are a lot of examples too.

[2016-08-12 07:15] #776 closed

[2016-08-12 17:35] alessandroorru opened #1031 ""Particle" reference"
Particle is an hardware solution similar to Arduino. It comes in 3 different versions, each one with its own firmware documentation (all similar, but slightly different)

Core:
https://docs.particle.io/reference/firmware/core/

Photon:
https://docs.particle.io/reference/firmware/photon/

Electron:
https://docs.particle.io/reference/firmware/electron/

[2016-08-12 19:51] glukki opened #1032 "Update chrome extension docset"
Could you, please?

Current docset covers Chrome v37.
The latest documentations seems to cover Chrome v46 or even later.

[2016-08-12 20:19] Kapeli commented on #1032
@gebrkn Can you look into this when you get a chance please?

[2016-08-21 09:32] gebrkn commented on #1032
Sorry for the delay guys, here's the PR https://github.com/Kapeli/Dash-User-Contributions/pull/1044

[2016-08-21 14:07] #1032 closed

[2016-08-26 09:41] i7Grendel opened #1052 "Yii 1 Docset"
Yii is a PHP framework which has existed for quite some time. There are two major versions: Yii 1 and Yii 2. Dash already comes with a Yii docset, but it's a docset for Yii 2. However, Yii 1 is still quite popular because Yii 1 and Yii 2 are very different so upgrading is a big undertaking.

I've built a Yii 1 docset for my own usage but I think that the many developers who are still using Yii 1 w

[2016-08-26 10:05] Kapeli commented on #1052
Yii 1 is also available in Dash:

![screen shot 2016-08-26 at 13 05 12](https://cloud.githubusercontent.com/assets/1445635/18001905/c37a2994-6b8d-11e6-8cbe-61ec8815d255.png)

[2016-08-26 21:00] i7Grendel commented on #1052
Thank you, I didn't know you could select the version. Then again, I'm using Zeal instead of Dash, which doesn't seem to support version selection.

[2016-08-26 21:00] #1052 closed

[2016-08-27 16:29] schalermthai commented on #595
👍

[2016-09-01 15:53] thuandt opened #1063 "Request: Kubernetes"
All documents is already in Markdown.

Link from offical repos with [1.3 series releases](https://github.com/kubernetes/kubernetes/tree/release-1.3.0/docs)

[2016-09-05 14:14] squiddle commented on #1021
just for reference there is an attempt by @riiid

https://github.com/riiid/rxjs-dash

[2016-09-07 17:12] #223 closed

[2016-09-08 21:25] #1063 closed

[2016-09-11 18:51] deanishe opened #1079 "How to update docsets shared via this repo?"
I have a [docset for my Alfred-Workflow library](https://github.com/deanishe/alfred-workflow/tree/master/docs/Alfred-Workflow.docset), which I'd like to make "officially" available to other AW+Dash users, but I'm not sure as to how I should best go about that ("best" meaning "easiest for me, as long as it's not a PITA for users").

Adding docsets to this repo is "highly recommended" over providing

[2016-09-11 19:28] Kapeli commented on #1079
You're not missing anything. You have to make a pull request whenever you want to update the docset.

A feed is easier, yes.

[2016-09-11 19:28] #1079 closed

[2016-09-11 20:05] deanishe commented on #1079
Right you are. Thanks for the speedy response, and more importantly the awesome app.

Out of interest, how often does Dash check feeds for updates?

[2016-09-11 20:05] Kapeli commented on #1079
At each launch and every 24 hours.

[2016-09-11 20:08] deanishe commented on #1079
Bloody hell, you're quick!

Thanks again!

[2016-09-13 09:23] royling commented on #1021
I am doing the same 😋
https://github.com/royling/rxjs.docset

[2016-09-13 18:16] shahbour commented on #595
+1

[2016-09-19 12:43] andrew-h-lee opened #1088 "Request: Angular2"
I just want to inform Contributors that [Angular2](https://github.com/angular/angular/blob/master/CHANGELOG.md) is Finally Stable. I thought it would be beneficial to add them as a Request.

[2016-09-19 12:47] #1088 closed

[2016-09-19 12:48] andrew-h-lee opened #1089 "Request: Angular2"
I just want to inform Contributors that [Angular2](https://github.com/angular/angular/blob/master/CHANGELOG.md) is Finally Stable. I thought it would be beneficial to add them as a Request.

[2016-09-19 16:17] Kapeli commented on #1089
The "official" Angular docset inside Dash was updated to v2.

[2016-09-19 16:17] #1089 closed

[2016-09-24 22:09] Andreasjuette opened #1094 "Dash"
User

[2016-09-25 10:03] #1094 closed

[2016-09-28 05:40] britzl opened #1099 "Defold docset not updating"
I made a pull request for Defold 1.2.89 (https://github.com/Kapeli/Dash-User-Contributions/pull/1098) and it was accepted and merged. But I'm still getting 1.2.88 when I install from user contributions. What could be wrong?

[2016-09-28 08:09] Kapeli commented on #1099
I forgot to push the update to my servers. Should be ok now. Sorry!

[2016-09-28 08:09] #1099 closed

[2016-10-03 15:36] andrey-yantsen opened #1102 "Request: Docset for Espressif SDKs"
Here is an example documentation for SDK v1.5.4:
https://github.com/OLIMEX/ESP8266/blob/master/IoT%20Firmware/document/English/2C-ESP8266-SDK__API%20Guide__EN_V1.5.4.pdf

[2016-10-04 16:08] dephiros opened #1105 "Request: angularJs2 in typescript"

[2016-10-04 18:38] Kapeli commented on #1105
This is coming in the next update of Dash.

[2016-10-04 18:38] #1105 closed

[2016-10-06 13:40] fabien-michel opened #1106 "Request : Webix"
Webix is a JS UI framework

- Online documentation : http://docs.webix.com/
- Documentation markdown source : https://github.com/webix-hub/docs
- Documentation in CHM format : http://docs.webix.com/chm/webix.zip

[2016-10-07 14:52] Andreasjuette opened #1109 "Dash"
issue

[2016-10-07 17:02] #1109 closed

[2016-10-08 02:22] ideascape commented on #595
Yes please

[2016-10-12 00:51] dav- opened #1125 "Request: Go Local Docs"
In this issue I'm requesting support for viewing local Golang documentation within Dash, akin to how the `godoc -http` tool works. This isn't directly related to this repo, but since there is no general Dash issue tracker I can find, it seems like the most appropriate place.

---

#### Reasoning
A large portion of the documentation I reference on a daily basis is part of private projects with only

[2016-10-12 09:54] #442 closed

[2016-10-12 10:06] Kapeli commented on #1125
Thanks for the very detailed request. Dash does not have a public issue tracker, so please [contact me](https://kapeli.com/contact) in the future with your requests.

This is something that I plan on doing, but it's quite low priority as I haven't seen much demand for it. You're the 2nd or 3rd user to mention it so far.

If you'd like to implement something yourself, please email me and I'll be ha

[2016-10-12 10:06] #1125 closed

[2016-10-12 18:39] paddycakes commented on #595
👍

[2016-10-13 02:48] fgcui1204 commented on #595
+1

[2016-10-18 07:18] klausbadelt opened #1140 "FFmpeg Docset: Guides gone"
Guides are gone after #1132. This makes it "almost useless", to quote #1118 ;-).

_Little side note - I wonder if maybe a PR to my  [original docset generator](https://github.com/klausbadelt/ffmpeg-docset) would have been more productive/collaborative than a competing project..?_

[2016-10-18 10:46] Kapeli commented on #1140
Would you like me to revert the docset to your version? Or would you like to make a pull request that also updates the docset?

// cc @steve3d

[2016-10-18 11:03] steve3d commented on #1140
OK，l have found the problem, I'll update the docsets later today.

[2016-10-18 20:56] klausbadelt commented on #1140
@Kapeli I apprectiate @steve3d 's contribution but his generator is new from scratch, so I can't really submit a PR now. (My understanding of the Github collaborative coding spirit is somehow different.. ) But practically speaking, let's keep going with this new one as it includes a missing feature of the other one. Once @steve3d fixes his we should be better off for Dash, and that's all we want :

[2016-10-18 23:33] Kapeli commented on #1140
Does https://github.com/Kapeli/Dash-User-Contributions/pull/1142 fix this?

[2016-10-21 01:27] psrivongse opened #1144 "Angular 1.X.X?"
I can no longer access angular 1.x docs because they are now 2.x.

I am using Zeal on Windows, from my understanding, utilizes Dash Docsets.
Hoping there will be two versions of documentation for Angular!

Thank you!

[2016-10-21 09:01] Kapeli commented on #1144
Dash users can install Angular 1.x from Preferences. Downloads. As far as I know Zeal doesn't support versioned docsets yet. There's a GitHub issue about it in Zeal's repo, but I can't find it.

![screen shot 2016-10-21 at 11 59 52](https://cloud.githubusercontent.com/assets/1445635/19592768/e3f1d63a-9785-11e6-9572-446bcfc1a0a3.png)

[2016-10-21 09:01] #1144 closed

[2016-10-22 06:36] prakritidev opened #1147 "pd.read_html() not working showing error in _html5lib.py"
pd.read_html() not working showing error in _html5lib.py,line 70 class TreeBuilderForHtml5lib
**CODE**
import pandas as pd
import html5lib
import lxml
data  = pd.read_html('https://blockchain.info/blocks')

**OUTPUT:**
after updating beautifulsoup this is the output

File "C:\Anaconda2\lib\site-packages\bs4\builder\_html5lib.py", line 70, in <module>
class TreeBuilderForHtml5lib(html5lib.treebuild

[2016-10-22 09:03] Kapeli commented on #1147
This is not the right repo.

[2016-10-22 09:03] #1147 closed

[2016-10-27 20:47] klausbadelt commented on #1140
Yes but introduced other issues (which I had solved already... ;-) ).

[2016-10-27 20:49] Kapeli commented on #1140
Should I revert the docset to your version?

[2016-10-27 20:56] klausbadelt commented on #1140
I think he is closer to a complete set now, thank you.

[2016-10-27 20:57] Kapeli commented on #1140
Ok. Closing this issue.

[2016-10-27 20:57] #1140 closed

[2016-11-02 13:05] steve3d opened #1158 "html docset have so many missing files"
In recent html docset update, I've found so many missing files, even those head, title tags link from index page.

Please fix that.

[2016-11-03 00:21] 4goodapp opened #1160 "Request: Realm (for Android)"
https://realm.io/docs/java/latest/
https://realm.io/docs/java/latest/api/
https://realm.io/

[2016-11-03 01:31] Kapeli commented on #1158
Thanks for letting me know about this! I've fixed it. Check for updates in Preferences > Downloads.

[2016-11-03 01:31] #1158 closed

[2016-11-10 02:20] jpolete commented on #595
+1

[2016-11-17 01:26] BryanJBryce opened #1169 "Request: Elm 0.18"

[2016-11-29 18:46] mrzv opened #1190 "Request: python-future"
There is a fantastic resource at [python-future](http://python-future.org/). It's very helpful for writing code that works with both Python 2 and 3. Their [cheat sheet](http://python-future.org/compatible_idioms.html) is especially helpful for converting code that works in only one version to work with both. It would be fantastic to have this available in Dash.

[2016-11-30 14:01] JamaicanRumCream opened #1191 "User contribution "SDL" name"
Using acronyms for doc sets should be spelled out or have the full name in parenthesis. I work with an "SDL" framework which is "Smart Device Link" which is for automobile-phone connections. The Dash SDL is "simple direct media layer". Without more context, any acronym name can easily be misunderstood.

[2016-11-30 14:14] Kapeli commented on #1191
Thanks for the feedback. I won't allow acronyms in the future.

[2016-11-30 14:14] #1191 closed

[2016-12-01 07:26] Ovilia opened #1194 "How to create a documentation with i18n?"
I'm generating a documentation for [ECharts](http://echarts.baidu.com) and wonder how can I generate Dash doc with both Chinese and English version?

[2016-12-01 15:09] Kapeli commented on #1194
My recommendation would be to make separate docsets for Chinese and English. If you want to merge them into one, then you'll need to implement some form of language switching on the HTML side.

[2016-12-01 15:09] #1194 closed

[2016-12-07 07:59] Ovilia opened #1205 "How can I regularly know download amount of my contributed docset?"

[2016-12-07 11:59] Kapeli commented on #1205
You can't. I don't track any analytics for user contributed docsets currently. Sorry!

[2016-12-07 11:59] #1205 closed

[2016-12-24 15:18] Mahmoud-Miri commented on #595
+1

[2016-12-25 12:00] pixeline opened #1218 "Docset for Fat-Free Framework (php, mvc)"
Hello,

I have tried to create a docset for the fat-free framework using Doxygen. It seemed to go fine, but when I used it inside Dash, it says the docset is empty. I've published an open repository so you can have a look and tell me what I'm doing wrong.

https://github.com/pixeline/Fat-free-Framework-Docset-generation-for-Dash

Here is what I did:
- installed Doxygen Mac Os X GUI
- let it parse

[2016-12-26 13:42] Kapeli commented on #1218
See https://kapeli.com/docsets#doxygen for instructions on how to use Doxygen to generate docsets

[2016-12-26 13:42] #1218 closed

[2016-12-30 06:08] 9IPHP opened #1224 "Request: yarn"
Yarn

[2017-01-03 12:23] DallasBuyer opened #1227 "How to find the docsets"
I think I'm asking a stupid question. I can't find the docsets here. In the README, there is a sentence to say "As soon as your docset gets distributed to my CDN, it will get removed from the repo automatically". I want to ask how can i download the docsets files in the CDN,is there a URL?

[2017-01-03 13:28] Kapeli commented on #1227
You can download docsets from Dash, in Preferences > Downloads > User Contributed.

[2017-01-03 13:28] #1227 closed

[2017-01-03 13:46] DallasBuyer commented on #1227
thank you, but I use the zeal not dash, I can not find  the "User Contributed". Then how can I get the docsets?

[2017-01-03 13:46] Kapeli commented on #1227
Please contact Zeal's developer for help regarding Zeal.

[2017-01-03 13:53] DallasBuyer commented on #1227
thanks for your patient explanation!

[2017-01-03 21:27] pixeline commented on #1218
Thanks @Kapeli . I did, but the generated makefile is looking for a nonexistent docsetutil. It seems one needs xcode. Also saw a tweet from you (2013) that states docsetutil is not necessary. I guess I've lost my way inside the documentation :) Will try another time.

[2017-01-03 21:28] Kapeli commented on #1218
docsetutil is needed for Doxygen-generated docsets, as it produces docsets that are compatible with Xcode.

It's not needed for Dash-only docsets - https://kapeli.com/docsets#dashDocset.

[2017-01-08 05:29] davewasmer opened #1232 "NPM Package Readmes"
Would you be open to accepting an NPM registry docset, with the readme's of the available packages? I have a first stab locally that just points package names to the live npmjs.org URL, but might be able to improve that to download the readme content for offline usage.

[2017-01-08 09:55] Kapeli commented on #1232
Sure, as long as it's not huge (>1GB).

[2017-01-08 09:55] #1232 closed

[2017-01-11 22:50] williamli commented on #968
+1

[2017-01-12 13:58] jannismain opened #1236 "Request: pyqtgraph"
URL: http://www.pyqtgraph.org/documentation/

This is generated by sphinx, so the docset creation should be pretty straight-forward. I will look into this, when I have time to read through the docset generation guidelines :-)

[2017-01-20 05:58] luvwinnie opened #1245 "Request Chainer and Kaldi-ASR doc set"
Chainer : http://docs.chainer.org/en/stable/
Kaldi-ASR - http://kaldi-asr.org/doc/
Please add the docsets!

[2017-01-25 23:45] ADB991 commented on #256
What's the status on this?

[2017-01-26 00:39] iamaziz commented on #256
see #1116

[2017-02-02 16:59] jiaqingw commented on #1125
I found myself in the same boat as the dav was.

[2017-02-05 00:52] tmaiaroto commented on #1125
I'm constantly keeping open browser tabs for documentation now when working with Go. It's defeating the purpose of Dash and I reach for Dash less and less the more familiar I become with Go's standard library. I suspect this is similar for many languages...The problem is that most don't have a great built-in documentation facility whereas Go does.

If there's even some command line process I could

[2017-02-05 01:42] Kapeli commented on #1125
I completely agree I should add what @dav- described, but unfortunately I have to prioritise other things that would benefit a larger number of users.

What I told @dav- still stands:

If you'd like to implement something yourself, please email me and I'll be happy to explain how Dash generates the docsets based on godoc (Preferences > Downloads > Go Docsets) and also provide the source code.

[2017-02-06 18:27] Dirklectisch commented on #691
It seems that documentation is generated using [js-dossier](https://github.com/jleyba/js-dossier) which understands specific Closure Compiler JSDoc annotations. We could try to modify it so that it generates an output Dash will like.

[2017-02-13 04:28] haasDev commented on #1169
The docset under user contributed is for v0.18.  https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Elm

[2017-02-13 11:10] #1169 closed

[2017-02-15 04:09] wesalvaro commented on #691
I don't think that's a great idea as parsing the HTML is not only easier, but also yields links to the documentation directly.

I should get back to this but my current project has yet to include the Closure Library (grumble grumble) so it hasn't been high on my priority list.

[2017-02-18 20:50] yeelan0319 opened #1269 "Request: Pytorch"
Here is the [documentation](http://pytorch.org/docs/index.html)

It is the python implemented version of Torch, so it is very easily work with other python libs such as Numpy, Scipy etc..

[2017-02-20 21:05] Yanpas commented on #804
I've created script to generate docsets from man, details here https://github.com/Yanpas/mandocset
It uses man2html utility, avaiable on Ubuntu and Debian e.g. In `etc` folder there are two docsets (posix and linux) which are "compiled", you may use them

I wasn't able to find author of this utility. Beware of a bug: this util may go to endless loop with printf.1p file from posix.

I guess whether

[2017-02-21 07:51] qiluo commented on #533
@Kapeli, I didn't find it in my Dash 2, do I have to upgrade Dash major version to see it? Thanks

[2017-02-25 16:07] Yanpas commented on #804
Submitted PR #1276

[2017-02-25 16:59] Kapeli commented on #804
Please rename this to "Linux Man Pages" (in Info.plist and docset.json) and "Linux_Man_Pages" (folder name within this repo).

Please remove the `specific_versions` support. It doesn't make sense to have it for this docset.

Also hide the version from users as it doesn't make sense to display it for this docset. You can do this by starting the version with a `/` in docset.json (e.g. `/1.0.0`).

[2017-02-27 14:42] datenbrille commented on #595
+1

[2017-03-01 02:06] Alex-Mann opened #1290 "GraphQL Docset!"
This would be a great addon for the app.

http://graphql.org/learn/

[2017-03-02 11:46] raszi opened #1291 "Request: clojuredocs"
https://clojuredocs.org/ has very nice examples provided by the community.

There is a repository on GitHub which provides a way to download that and build a docset out of it, but it is not working entirely correctly, a couple of definitions are missing, like `are` or `is`.

[2017-03-04 10:40] katerlouis opened #1293 "Request: GreenSock GSAP"
https://greensock.com/docs/#/HTML5/GSAP/

Insanely awesome Animation Library, that makes animating things in a browser very easy and intuitively.

I'd love to have this in Dash!

[2017-03-13 09:13] weitianyi commented on #595
+1

[2017-03-13 10:05] mrFranklin commented on #595
+1

[2017-03-14 13:18] glenjamin opened #1308 "Latest update of terraform docset has broken static assets"
See screenshot for what it looks like

<img width="1436" alt="screen shot 2017-03-14 at 13 17 56" src="https://cloud.githubusercontent.com/assets/151272/23902325/a74bddb2-08b8-11e7-99d9-4b62ade4644d.png">

[2017-03-14 14:11] Kapeli commented on #1308
@f440 Can you look into this please?

[2017-03-14 15:14] f440 commented on #1308
Sorry, It's my mistake. Please wait for merging with #1309.

[2017-03-14 18:48] #1308 closed

[2017-03-14 20:05] dudeofawesome commented on #824
There is a super basic one in the user contributed sets, but it's far from complete.

[2017-03-16 01:00] comeNie commented on #595
+1

[2017-03-18 14:59] abishekrsrikaanth opened #1319 "Request: FabricJs"
FabricJS is a Javascript Canvas Library, SVG-to-Canvas (& canvas-to-SVG) Parser

Documentation URL: http://fabricjs.com/docs/

Docs Repository: https://github.com/kangax/fabricjs.com/tree/gh-pages/docs

[2017-03-20 13:19] slcott opened #1326 "Update Tensorflow docset"
https://github.com/ppwwyyxx/dash-docset-tensorflow

is newer than

https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/TensorFlow

[2017-03-20 17:55] Kapeli commented on #1326
@ppwwyyxx Can you update when you get a chance?

[2017-03-20 18:02] ppwwyyxx commented on #1326
Of course! Will update soon.

[2017-03-20 20:22] #1326 closed

[2017-03-27 00:35] sunaku commented on #804
Sorry if I'm mistaken, but `mandocset` and `manpages-posix` don't provide the same information (for example, they lack the "Base Definitions" chapters 1-13 as well as the convenient "Topics" index) as the [IEEE Std 1003.1™-2008, 2016 Edition](http://pubs.opengroup.org/onlinepubs/9699919799/) documentation I originally requested. :scream_cat:  So please reopen this. :crying_cat_face:

[2017-03-27 14:03] monkpit opened #1337 "Request: Protractor"
Protractor is the toolset for automating browser-based testing, geared towards testing AngularJS applications.

Someone appears to have created a Dash version of the documentation already on Github here: https://github.com/jonniespratley/protractor-dashdocset

And the official documentation exists here: http://www.protractortest.org/#/api

[2017-03-28 06:31] iamaziz commented on #1269
Here you go #1338 :-)

[2017-03-28 07:13] #1269 closed

[2017-04-01 23:04] Alok commented on #637
Could this be updated for the latest version of keras?

[2017-04-01 23:40] iamaziz commented on #637
For some reason, it's not allowing me download the html files as usual. It we could get the files, the update should not be an issue.

[2017-04-03 09:52] edouard-lopez opened #1355 "Request: Fish Shell"
Also check fish-shell/fish-shell#3935 for information.

[2017-04-03 13:02] edouard-lopez commented on #1355
You seem to have some a [fish docsets](https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/fish), but there is nothing useful.

[2017-04-03 19:18] darthjoel commented on #595
+1

[2017-04-20 13:53] linusgg opened #1374 "Packer docset is outdated"
Packer recently updated to version 1.0.0

[2017-04-20 17:28] alexgorbatchev opened #1375 "Relay.docset has a JS "virus""
![infected items_20170420102559](https://cloud.githubusercontent.com/assets/65633/25243991/d5d3ba52-25b3-11e7-88c7-8333c3c3715d.png)

saw this alert with my corporate installed protection

[code]

[2017-04-20 17:36] dazoakley commented on #1374
Yup, saw the new release in my email this morning. I'll take a look, but it might take a little while as the site (and documentation) has been totally reworked. :)

[2017-04-20 17:59] Kapeli commented on #1375
@epitaphmike can you take a look?

[2017-04-20 18:02] epitaphmike commented on #1375
I'll take a look.

[2017-04-22 00:53] mesalu opened #1376 "wxWidgets docset displays user's full path in #include hints"
Here is an example:
![screen shot 2017-04-21 at 5 51 04 pm](https://cloud.githubusercontent.com/assets/6109654/25299999/213ea4c2-26bb-11e7-99f6-d865aada009f.png)

Note the `#include` section:
`#include </Users/Rand0m/Desktop/Temp/wxWidgets-3.1.0/interface/wx/gbsizer.h>`

wx's documentation is generated by doxygen, and if I remember correctly setting doxygen's STRIP_FROM_INC_PATH to the appropriate

[2017-04-22 06:22] mesalu commented on #1376
Looking at wx's current doxygen config file:
https://github.com/wxWidgets/wxWidgets/blob/master/docs/doxygen/Doxyfile

This has already been accounted for.
A fresh doxygen build will solve this.

[2017-04-22 08:33] Kapeli commented on #1376
@davidwed Can you take a look at this please?

[2017-04-23 12:50] #1374 closed

[2017-04-25 06:05] kkweon opened #1381 "Keras not maintained?"
I was about to send a PR but I've found out the Keras docset is already in the repo.
But, it seems it's not updated to the latest considering the latest version of keras is 2.0+

So the question is
* Can I overwrite it? If not, please let me know what I can do.
* my github link for Keras docset: https://github.com/kkweon/keras-docset

[2017-04-25 08:36] Kapeli commented on #1381
You can take over and maintain it yourself if you want.

// cc @iamaziz

[2017-04-25 20:29] #1376 closed

[2017-04-25 20:30] #1381 closed

[2017-05-03 21:24] Yanpas opened #1393 "Haskell docset remove GL functions"
The vast majority of functions in hakell docset relate to GL, (Graphics.GL module). How about removing all of them or most of them? The spoil search results, mostly consist of C macros and IMHO very rarely used. It would be much easier to read OpenGL documentation instead of haskell's own

[2017-05-03 21:55] Kapeli commented on #1393
Good idea. I'll do that.

Please note that this repo is for user contributed docsets (Haskell is not user contributed). In the future please [contact me](https://kapeli.com/contact) with issues regarding the main docsets.

[2017-05-03 21:55] #1393 closed

[2017-05-04 03:59] gy28 opened #1394 "Kotlin Content Flash Pass"
Kotlin DocSets's Content Flash Pass, when select keyword. the content show up and disappear with blank page right away. then loading for many seconds ....to appear again.

it should be a local, should be very fast load content in 1 second.
![screenshot](https://cloud.githubusercontent.com/assets/20417182/25690162/0a4381b0-30c1-11e7-99ac-8d79d7f4ff23.png)

[2017-05-04 09:59] Kapeli commented on #1394
@sirlantis Could you take a look please?

[2017-05-04 19:54] sirlantis commented on #1394
@Kapeli Can I attach the Safari Debugger to Dash 4 somehow?

[2017-05-04 19:59] Kapeli commented on #1394
@sirlantis If you right click somewhere in the loaded page you should have an "Inspect Element" option.

[2017-05-08 20:45] rgreen-code commented on #968
+1

[2017-05-15 00:16] ooJerryLeeoo opened #1406 "Update latest Atom docset"
as the title.

[2017-05-15 06:50] Kapeli commented on #1406
@Ephemera and @bkbooth can you take a look at this when you can please?

[2017-05-15 23:05] bkbooth commented on #1406
It's been ages since I've looked at this or the Atom docs, but I'll try and carve out some time to update it (unless @Ephemera has time before I do). At least the Atom API is at 1.x now, should be more stable.

[2017-05-16 04:38] bkbooth commented on #1406
I spent a little bit of time on this to try and gauge how much work to get my Atom docs scraper working again, it's a fair bit, the structure of the docs have changed almost completely since I wrote my scraper. I'll try and get it done in the next few days when I can get some time.

[2017-05-16 17:15] hrxi opened #1411 "Request: Valadoc"
Vala, the programming language.

https://valadoc.org/

[2017-05-21 11:09] ooJerryLeeoo commented on #1406
@bkbooth Any update on this ?

[2017-05-21 23:21] bkbooth commented on #1406
In short, there's not too much to update other than that I have progressed with it.

In a few more words, I'm basically rewriting my docs scraper from scratch because (as I mentioned previously) the Atom docs structure has changed almost completely since I wrote my original scraper (Atom v0.120) and my old method had a bunch of manual steps to manipulate the HTML. I'm trying to automate the scrapi

[2017-05-22 09:36] kspeeckaert opened #1421 "Please implement redirection"
Currently the function _Open Online Page_ doesn't work because the docset is missing support for _Online Redirection_.

This functionality can be implemented either be adding a key to the docset's Info.plistor by adding a HTML comment inside each and every HTML file of the docset.

More information on how to implement this is available in the [documentation](https://kapeli.com/docsets#onlineRedire

[2017-05-22 09:37] #1421 closed

[2017-05-22 12:43] bkbooth commented on #1406
🎉 https://github.com/Kapeli/Dash-User-Contributions/pull/1422

[2017-05-22 12:45] Kapeli commented on #1406
Thank you!

[2017-05-22 12:45] #1406 closed

[2017-05-23 19:43] sahiltalwar88 opened #1423 "Enzyme Docset"
I'd love a docset for [Enzyme](http://airbnb.io/enzyme/docs/api/), one of the (if not _the_) most popular tools for testing React.

[2017-06-03 23:03] jnothman opened #1433 "Should have a repository with doc compilation scripts"
Asking each docset to be contributed independently has the benefit of quality assurance, but is a waste of energy when docs get updated.

A more maintainable model would include:
* a docset compilation script for each project, which fetches the code required for documentation and builds it to a specified location
* perhaps a version check script for each project to determine if the documentation i

[2017-06-04 11:58] ArduousBonze commented on #595
+1

[2017-06-05 06:00] Treri commented on #1021
request for RxJS docset +1

[2017-06-05 07:18] Kapeli commented on #1433
Docs often change, so I've found that an automated update process doesn't work, as these doc changes would not be noticed and the quality of the docset decreases over time.

Most docset authors include a link to the repository containing the generation script in the README.

[2017-06-05 07:18] #1433 closed

[2017-06-05 08:00] jnothman commented on #1433
And what's the harm of automatically updating, with or without human
intervention, if the docs change frequently? The main issue I see is
managing dependencies for build scripts

On 5 Jun 2017 5:18 pm, "Bogdan Popescu" <notifications@github.com> wrote:

[2017-06-05 11:56] Kapeli commented on #1433
I think there's a misunderstanding. By "docs often change" I mean the doc format itself changes and the script becomes outdated. For example if the CSS class that defines a function is changed from "func" to "function", a script that relies on that will stop indexing functions.

Human verification is required, so there's not much benefit in automating the process.

[2017-06-05 12:31] jnothman commented on #1433
right :/ That's a bit disappointing. thanks for your attention

On 5 Jun 2017 9:56 pm, "Bogdan Popescu" <notifications@github.com> wrote:

[2017-06-07 19:54] eamigo86 commented on #1227
Hi @DallasBuyer,
Did you find any url from the CDN to download the docset ? I also use Zeal

[2017-06-09 10:50] ooJerryLeeoo opened #1443 "Update lastest 🐉 Clang docset"
Update :dragon: Clang docset to 4.0.0

[2017-06-10 08:05] Kapeli commented on #1443
@Chilledheart please update when you get a chance. Thank you!

[2017-06-10 13:49] Chilledheart commented on #1443
sure. you can check in pr #1444 and #1445 now.

[2017-06-10 20:06] Kapeli commented on #1443
Thank you! 👍

[2017-06-10 20:06] #1443 closed

[2017-06-12 19:52] OliverCole opened #1448 "Request: Terraform"
[Terraform](https://www.terraform.io) is an infrastructure-as-code tool that works on many different cloud providers. It has copious [docs](https://www.terraform.io/docs/providers/index.html).

I believe they are planning a structural change in the docs however: https://github.com/hashicorp/terraform/issues/14266#issuecomment-300221900, so it might be worth waiting a little while.

[2017-06-15 08:53] yanwork commented on #595
👍

[2017-06-15 20:44] michaelmrose commented on #1227
Would be great if you could provide a url for the additional docsets

[2017-06-21 19:16] takecare opened #1456 "[Kotlin docset] Comparator compare() 404"
`Comparator#compare()` leads to a 404.

![screenshot 2017-06-21 at 20 14 49](https://user-images.githubusercontent.com/212528/27402382-5ce6ba86-56be-11e7-8823-11d5c98d3ec3.png)

![screen shot 2017-06-21 at 20 15 39](https://user-images.githubusercontent.com/212528/27402418-7bc5f46c-56be-11e7-9dbe-368efe207524.png)

[2017-06-22 19:39] Kapeli commented on #1456
@sirlantis Please look into this when you can.

[2017-06-25 14:31] michael-ji0406 opened #1457 "I hope we can have a sklearn docset."
The website is http://scikit-learn.org/. I really need a docset of sklearn. Thx

[2017-06-26 00:32] payers1 commented on #1224
@9IPHP
https://github.com/Kapeli/Dash-User-Contributions/pull/1417

[2017-06-29 19:46] Kapeli commented on #1457
A user-contributed scikit-learn docset is already available.

[2017-06-29 19:46] #1457 closed

[2017-06-29 19:46] #1224 closed

[2017-07-04 06:38] #1423 closed

[2017-07-04 09:43] iansinnott commented on #1021
I also decided to make a docset and was almost done before finding this issue 😄. It's been working well for me so far. The online docs for RxJS especially aren't the most easy to navigate so it's been great having it within Dash. If anyone wants to use it you can check it out here: https://github.com/iansinnott/rxjs-dash-docset

[2017-07-04 21:15] Kapeli commented on #1021
Closed by https://github.com/Kapeli/Dash-User-Contributions/pull/1472.

[2017-07-04 21:15] #1021 closed

[2017-07-06 18:42] bendichter opened #1474 "cvxpy documentation"

[2017-07-07 19:22] #1474 closed

[2017-07-11 20:26] bendichter opened #1480 "seaborn 0.8.0"
seaborn just release an update with a few api changes. An update to Dash documentation would be nice when you get to it.

[2017-07-11 20:56] Kapeli commented on #1480
@peixian Can you look into this please?

[2017-07-13 13:04] verne91 opened #1482 "Could you please add the doc for pysam?"
http://pysam.readthedocs.io/en/latest/

[2017-07-15 23:34] ashareye opened #1485 "react native show nothing in version 4.04"
i download react native lib in user contribution which Shared by Michael, but it shows nothing

[2017-07-15 23:35] Kapeli commented on #1485
What do you mean by shows nothing? Seems to work fine for me.

[2017-07-19 00:12] davewongillies commented on #1448
The Terraform docset is already been contributed to this repo by @f440: https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Terraform

[2017-07-19 07:23] #1448 closed

[2017-07-24 20:39] ElvisXuHuang opened #1491 "Cannot download bloomberg/bde"
I kept getting error "Error: Could not clone git repo. Output:". I can run git clone directly without an issue. The git repo is https://github.com/bloomberg/bde

Since BDE is the only thing used in Bloomberg and there are 4000 developers there, it might also be a good idea to add a docset

[2017-07-25 06:37] Kapeli commented on #1491
Please email me about this.

This repo is for Preferences > Downloads > User Contributed, not Preferences > Downloads > GitHub.

[2017-07-25 06:37] #1491 closed

[2017-07-27 20:47] davewongillies commented on #1355
This repo already has [fish docsets](https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/fish)

[2017-07-28 19:00] peterpme opened #1494 "Flowtype: Upgrade to v0.51.1 Documentation"
Hey everyone,

Awesome awesome work! I'm looking for Opaque Type Aliases and unfortunately they're not in this docset. What can _I_ do to personally help get this updated, otherwise what can be done to upgrade?

Thanks!

[2017-07-28 19:48] Kapeli commented on #1494
@epitaphmike Can you update when you get a chance please?

@peterpme You can update the docset and submit a pull request yourself if you want. Start at https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Flow.

[2017-07-29 10:50] awareness481 opened #1497 "Request: DOM Docset"
The [MDN offline docs](https://developer.mozilla.org/en-US/docs/MDN/About) include a separate folder for DOM documentation. Also, the [offline docs](https://kapeli.com/mdn_offline) made by Kapeli include DOM documentation as well.

Presumably, given the easy access to DOM documentation files, it shouldn't be too hard for someone who has some experience with docsets regarding Dash to implement it.

[2017-07-29 11:22] Kapeli commented on #1497
DOM docs are part of the JavaScript docset.

[2017-07-29 11:22] #1497 closed

[2017-08-06 09:10] OliverCole opened #1505 "Request: Screeps"
[API docs](http://docs.screeps.com/api/)
[Regular docs](http://docs.screeps.com)

[2017-08-16 13:24] D1mon opened #1517 "Request: caniuse.com"
Request: caniuse.com

[2017-08-16 16:48] Kapeli commented on #1517
A Can I Use docset is already available in Preferences > Downloads > User Contributed.

[2017-08-16 16:48] #1517 closed

[2017-08-18 21:51] lucasg opened #1524 "Powershell modules"
Not an issue *per se*, more asking for some clarifications.

I've written a docset generator for the ["Powershell modules" API browser](https://docs.microsoft.com/en-us/teamblog/announcing-unified-powershell-experience) and I was thinking of contributing back if your're interested.

* Powershell currently support several API versions (`3`,`4`,`5.0`,`5.1` & `6`) and the docs are versioned also. Wha

[2017-08-18 22:37] Kapeli commented on #1524
I'd say use [`specific_versions`](https://github.com/Kapeli/Dash-User-Contributions/blob/master/Sample_Docset/docset.json#L14-L26). You can also make separate docsets for each major version if you must though.

Best if you use the Command type. I can definitely add the Cmdlet type if you want me to, but I don't think it's a good idea to add a type that's specific only to one docset.

Yep.

[2017-08-18 22:37] #1524 closed

[2017-08-21 06:27] chusiang opened #1529 "Request: GitLab CI"
GitLab CI is a Continuous Integration framework.

* Online documentation: https://docs.gitlab.com/ee/ci/README.html#gitlab-ci-for-gitlab-pages
* Documentation markdown source:
  * GitHub: https://github.com/gitlabhq/gitlabhq/blob/master/doc/ci/README.md
  * GitLab: https://gitlab.com/gitlab-org/gitlab-ee/blob/master/doc/ci/README.md

[2017-08-21 06:52] ckidow opened #1530 "uikit version 3"
Hi there!

Is it possible to update the uikit docset to uikit version 3? Would be awesome!

Thx in advance

[2017-08-21 06:55] devtype commented on #1530
Hi,
I agree this would be very helpful

[2017-08-21 07:05] Kapeli commented on #1530
@coxy or @schinckel Can you update when you get a chance?

[2017-08-21 07:07] schinckel commented on #1530
@Kapeli Do I need to do anything to allow pinning to the previous version (because I'm not updating my installation of UIkit anytime soon... ;)

[2017-08-21 07:22] schinckel commented on #1530
Or should I have a seperate UIkit3 docset?

[2017-08-21 07:29] schinckel commented on #1530
Okay, think I have figured out the versions stuff. Do I need my old file to move to `versions/x.y.z/UIkit.tgz`, or can I leave it as the original location?

[2017-08-21 21:10] Tafkas opened #1534 "Request: Upgrade Scikit-learn documentation to v0.19"
Current version is [0.19](http://scikit-learn.org/0.19/documentation.html). It would be nice to have it as a package for Dash.

@jaypeedevlin

[2017-08-21 21:12] jaypeedevlin commented on #1534
@Tafkas the instructions for updating it yourself [are here](https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Scikit), it's very straightforward!

[2017-08-22 10:35] #1534 closed

[2017-08-22 11:45] jaypeedevlin commented on #1534
Nice work!!

[2017-08-23 13:59] Tafkas commented on #1480
I submitted at a PR #1538

[2017-08-23 17:47] aindong commented on #595
+1

[2017-08-23 20:03] #1480 closed

[2017-08-29 08:53] coxy commented on #1530
@schinckel thanks - happy for you to take over any future updates too as I don't have a lot of free time lately

[2017-09-06 09:57] zmwangx commented on #732
Fixed by #1546.

[2017-09-06 17:09] #732 closed

[2017-09-13 08:52] hughohoho opened #1555 "django-redis documentation"
django-redis is a BSD Licensed, full featured Redis cache/session backend for Django.

[2017-09-13 21:46] snoblenet opened #1557 "Reqeust: Webdriver.io"
It would be absolutely marvellous if someone more experienced at docset creation that I would create a docset for Webdriver.io.

The automatically generated docset in Dash's Github section lacks the API pages and an index and does not sort the guide's pages into sections. #

[2017-09-13 21:51] christian-bromann commented on #1557
We created an issue for that years ago https://github.com/webdriverio/webdriverio/issues/863. I haven't had time to get to this. All we probably need to do is add a new template [here](https://github.com/webdriverio/wddoc) which is a script we use to generate all the markdown templates for our static website (http://webdriver.io).

[2017-09-14 05:00] jeroldhaas commented on #1227
There are users that are very eager to consume these docsets, however they are not using MacOS or iOS, and thus are forced to use Zeal as the consuming product.

Requesting that end-users harass an open-source project maintainer to add a feature is a bit unreasonable. Rather would be easier to simply provide a URL (even redirect) to the respective repository. Building high walls and barrier to ent

[2017-09-14 07:41] Kapeli commented on #1227
My core product is Dash. I can't provide support for Zeal and missing features in Zeal. I don't even remember the time when I've last used Zeal, probably 3-4 years ago. I have no idea what features Zeal supports currently. At the time of responding to this issue in January, I had no idea if Zeal started supporting User Contributed docsets or not. Now that I've looked things up, I know that it hasn

[2017-09-14 15:32] ericychoi commented on #1125
+1 here this is keeping me from purchasing the full version atm..

[2017-09-14 16:10] jeroldhaas commented on #1227
I concede, and apologize if my tone came off as abrasive.

I didn't want to open a duplicate issue, so commented on this one.

Thank you for the additional information -- it may be precisely what is needed for others seeking a similar resolution.

[2017-09-14 21:03] jeroldhaas commented on #1227
For any others running into this issue, http://zealusercontributions.herokuapp.com/ (e.g.: http://zealusercontributions.herokuapp.com/docsets/Emacs.xml ) is the current lazyman method.

[2017-09-15 01:00] snoblenet opened #1560 "Request: aframe"
It would be absolutely marvellous if someone more experienced at docset creation that I would create a docset for aframe.

[2017-09-18 12:04] epitaphmike opened #1565 "React Native Docset maintainer needed"
I can no longer have time to maintain this docset and I am looking for additional contributors to assist. My repo is located at https://github.com/epitaphmike/react-native-dash. If this is something you are interested in helping with please reach out. Thank you.

[2017-09-18 12:05] epitaphmike opened #1566 "Redux Docset maintainer needed"
I can no longer have time to maintain this docset and I am looking for additional contributors to assist. My repo is located at [https://github.com/epitaphmike/redux-dash](https://github.com/epitaphmike/redux-dash). If this is something you are interested in helping with please reach out. Thank you.

[2017-09-18 12:06] epitaphmike opened #1567 "Flow Docset maintainer needed"
I can no longer have time to maintain this docset and I am looking for additional contributors to assist. My repo is located at [https://github.com/epitaphmike/flow-dash](https://github.com/epitaphmike/flow-dash). If this is something you are interested in helping with please reach out. Thank you.

[2017-09-18 12:07] epitaphmike opened #1568 "DraftJS Docset maintainer needed"
I can no longer have time to maintain this docset and I am looking for additional contributors to assist. My repo is located at https://github.com/epitaphmike/draft-js-dash. If this is something you are interested in helping with please reach out. Thank you.

[2017-09-18 12:07] epitaphmike opened #1569 "Jest Docset maintainer needed"
I can no longer have time to maintain this docset and I am looking for additional contributors to assist. My repo is located at https://github.com/epitaphmike/jest-dash. If this is something you are interested in helping with please reach out. Thank you.

[2017-09-18 12:07] epitaphmike opened #1570 "Flux Docset maintainer needed"
I can no longer have time to maintain this docset and I am looking for additional contributors to assist. My repo is located at https://github.com/epitaphmike/flux-dash. If this is something you are interested in helping with please reach out. Thank you.

[2017-09-18 12:08] epitaphmike opened #1571 "Relay Docset maintainer needed"
I can no longer have time to maintain this docset and I am looking for additional contributors to assist. My repo is located at https://github.com/epitaphmike/relay-dash. If this is something you are interested in helping with please reach out. Thank you.

[2017-09-20 11:02] fratealberto opened #1574 "Doxygen docset please"

[2017-09-20 17:48] hky470591521 opened #1575 "iss"

[2017-09-20 17:49] hky470591521 commented on #1575
好

[2017-09-20 18:00] #1575 closed

[2017-09-21 04:25] ejconlon opened #1576 "Request: Apache Spark (Scala) and PySpark update to 2.2.0"
They're all under https://spark.apache.org/docs/latest/api/

https://spark.apache.org/docs/latest/api/scala/#package

[2017-09-21 16:53] ejconlon commented on #1576
For what it's worth, this seems like a pain so far.  I get HTML validation errors when using mkScalaDocset on unidoc output.

[2017-09-22 08:48] almai opened #1579 "index.html not working in Google Apps Script docset"
I've added the Google Apps Script docset yesterday to the repository. When I generate it and and include it locally the index.html page gets displayed. But when I call the docset from within Dash there's no index page at all. Please let me know what to do, to fix that problem.

[2017-09-22 09:44] Kapeli commented on #1579
Change the path in Info.plist from `./gas/index.html` to `gas/index.html` and it should work. Submit a pull request with the updated docset.

[2017-09-22 09:44] #1579 closed

[2017-09-25 09:15] phcerdan commented on #854
This would be great @get9!

[2017-09-28 07:32] joshualawson commented on #1125
+1 for this, would be amazing and also open up dash to go devs!

[2017-10-04 08:49] D1mon opened #1599 "Request: Wiki Archlinux"
Arch Linux documentation on the web
https://wiki.archlinux.org/

[2017-10-07 13:30] finnoleary commented on #804
If you are still interested in this, it might be trivial to do, albeit illegal. POSIX provides HTML copies of their documentation here:

http://pubs.opengroup.org/onlinepubs/9699919799/download

There's a tool for generating docsets from HTML here: https://github.com/technosophos/dashing#readme

And instructions on how to do it manually here: https://kapeli.com/docsets#dashDocset

However, please

[2017-10-11 09:25] comeNie commented on #595
+1

[2017-10-19 14:42] byaruhaf opened #1618 "Remove: Parse_iOS_SDK docset"
The docset for the Parse_iOS_SDK should be removed since the Parse service was shutting down.
See [Blog](http://blog.parse.com/announcements/a-parse-shutdown-reminder/)

[2017-10-19 14:42] #1618 closed

[2017-10-22 20:52] kwantida opened #1620 "Cartoon"
Good

[2017-10-23 06:37] #1620 closed

[2017-10-23 19:28] jinalskothari opened #1621 "Request: Styled Components"
https://www.styled-components.com/docs

[2017-10-30 08:30] speedcell4 opened #1628 "Request: DyNet"
http://dynet.readthedocs.io/en/latest/index.html

[2017-11-02 16:55] filiph opened #1637 "AngularDart docset stopped updating"
AngularDart is now on version 4, Dash only has version 2.0.

The api reference is here: https://webdev.dartlang.org/api (same format as AngularJS)
API docs (probably what you want) is here: https://www.dartdocs.org/documentation/angular/4.0.0/angular/angular-library.html

Also, a cheat sheet is here: https://webdev.dartlang.org/angular/cheatsheet

[2017-11-02 16:59] filiph opened #1638 "Please add Flutter docs"
Flutter is a relatively new SDK for building custom-design mobile apps: flutter.io, [github](https://github.com/flutter/flutter).

API docs: https://docs.flutter.io/ (same format as Dart docs)

[2017-11-03 10:18] Kapeli commented on #1637
I've decided to discontinue the AngularDart docset for now. They've changed their documentation format 3 times I think and each time it was JavaScript-heavy (which is very hard to turn into a docset). The AngularDocset was used only by 0.1% of Dash users.

Feel free to open a new issue requesting a user-contributed AngularDart docset.

[2017-11-03 10:18] #1637 closed

[2017-11-07 22:20] wa3l commented on #706
@Kapeli any updates on this? The [website](https://kapeli.com/dash) says there is a Vue.js docset but the app doesn't actually have it.

[2017-11-07 22:40] Kapeli commented on #706
A Vue.js docset is available in Dash since v3.2.0. If you're not seeing it in Preferences > Downloads, it means you're using an older version of Dash.

[2017-11-08 01:49] wa3l commented on #706
@Kapeli emailed you about a license issue after updating to the latest version.

[2017-11-16 22:06] hobbestigrou commented on #1599
I agree with that. It will be a very good and useful idea.

[2017-11-16 22:08] hobbestigrou commented on #1555
I agree with that. It will be a very good and useful idea.

[2017-11-16 22:08] hobbestigrou commented on #1529
I agree with that. It will be a very good and useful idea.

[2017-11-17 03:58] chusiang commented on #1529
Thanks, I very want this feature. :muscle:

[2017-11-27 15:57] Jie211 commented on #595
+1

[2017-12-01 12:59] iamstevendao opened #1672 "Docset for Bootstrap-Vue"
I am just wondering if you have Bootstrap-Vue docset yet?
You can find it here: [https://bootstrap-vue.js.org/docs](https://bootstrap-vue.js.org/docs )

[2017-12-05 02:22] ipfans opened #1674 "Request: aiohttp update to 2.3.6"
Docs： https://docs.aiohttp.org/en/stable/

[2017-12-12 21:01] homosaur opened #1679 "Request for OpenAPI/Swagger"
If I can get the chance, I will try to learn how to submit a documentation set myself and fulfill this, but in the meantime I wanted to request a docset for OpenAPI, which is used in Swagger. The newer 3.0 spec is located here: https://swagger.io/specification/

[2017-12-13 07:47] epmartini opened #1682 "Asciidoc docset"
It would be nice to have also asciidoc docset.

[2017-12-15 19:29] jesseditson opened #1685 "Request: Solidity docs"
http://solidity.readthedocs.io/

[2017-12-20 22:50] joeblau commented on #1685
I just came here to request this as well.  I was just on a 5 hour flight with no internet and this would have been handy.

[2017-12-21 02:29] khanrc opened #1691 "Request: PyTorch update to 0.3.0"
docs: http://pytorch.org/docs/0.3.0/

[2017-12-21 09:13] Kapeli commented on #1691
// @iamaziz

[2017-12-21 16:24] iamaziz commented on #1691
Thanks for pointing this out.

At the moment, I'm having an issue with `make`  on my machine.
However, the steps to build and generate the updated docset are pretty simple:

[code]

I'll try this again later at some point.

[2017-12-22 02:09] daviyang35 opened #1692 "Electron 1.7.9 docset have a lot of blank at top"
Such as the title

Dash 4.1.2(460)
Electron v1.7.9 docset from User Contributed

[code]

[2017-12-22 08:39] Kapeli commented on #1692
// cc @pirafrank @wearhere

[2017-12-22 08:47] pirafrank commented on #1692
I’m aware of the issue. Electron completely changed the way their doc website works. I’ve already drafted a fix on my github and I need some time to further test. I should make it for this holiday season.

Cheers

Francesco

[2017-12-23 04:28] daviyang35 commented on #1692
@pirafrank Thanks a lot.

[2017-12-24 11:00] #968 closed

[2017-12-25 05:53] Cat7373 opened #1695 "Request: Kotlin update to 1.2"
docs: https://kotlinlang.org/docs/reference/whatsnew12.html

[2017-12-25 13:07] Kapeli commented on #1695
// cc @sirlantis

[2017-12-31 08:31] rojiani commented on #1695
@Cat7373 I used the [kotlin-docset](https://github.com/sirlantis/kotlin-docset) scripts to generate a 1.2 docset. There's some minor issues with images & fonts, but all the API documentation is there. You can download it [here](https://github.com/rojiani/kotlin-1.2-dash-docset).

[2018-01-04 18:14] AhmedNazir opened #1709 "Request: CSSreference"

[2018-01-07 21:18] wolfbeast opened #1714 "XUL docset has a spanish page among English"
The XUL docset available within Zeal has a Spanish-language page in among the otherwise English references. I hope this is the correct location to report this.
The Spanish page is the "content" element reference linked from the index page in the docset.

[2018-01-07 21:39] Kapeli commented on #1714
The XUL docset has been discontinued a while ago (almost no Dash user was using it). @trollixx you should consider removing XUL from Zeal.

[2018-01-07 21:39] #1714 closed

[2018-01-07 22:03] wolfbeast commented on #1714
Um, no please don't remove it from Zeal. Mozilla has made the XUL reference pretty much undiscoverable at this point and will probably remove it from MDN; XUL however is alive and well and having a language reference in Zeal is going to be indispensable when the on-line references are removed.

[2018-01-07 22:10] trollixx commented on #1714
Too late, sorry :)

If it's really needed, then consider contributing it to this repo. Then you'd be able to install it in Zeal via http://zealusercontributions.herokuapp.com and eventually directly from Zeal (when zealdocs/zeal#170 is implemented).

[2018-01-07 22:47] wolfbeast commented on #1714
How am I going to contribute it to this repo if you've yanked it out from under me? XD

[2018-01-07 22:59] trollixx commented on #1714
It was never in this repo, but in [Kapeli/feeds](https://github.com/Kapeli/feeds).

[2018-01-12 11:22] reuben commented on #1691
Fixed by #1717.

[2018-01-12 14:59] khanrc commented on #1691
thx :)

[2018-01-12 14:59] #1691 closed

[2018-01-27 19:02] Kapeli commented on #1565
https://github.com/Kapeli/Dash-User-Contributions/pull/1731

[2018-01-27 19:02] #1565 closed

[2018-01-30 08:09] htower opened #1734 "LiveCode.tgz in the tree"
With pulling of https://github.com/Kapeli/Dash-User-Contributions/pull/1705 now we have huge tgz archive inside git repo :(

[2018-01-30 08:12] Kapeli commented on #1734
Thanks for letting me know about this. I've fixed it.

[2018-01-30 08:12] #1734 closed

[2018-01-30 10:12] ubuntudroid opened #1736 "Update Android Gradle Plugin docset to 3.0.0"
Hey, would be great if the Android Gradle Plugin could be updated to version 3.0.0, currently it's on 2.2.0.

https://google.github.io/android-gradle-dsl/current/index.html

[2018-01-30 11:19] Kapeli commented on #1736
// cc @faithfracture & @tokou

[2018-01-30 14:07] tokou commented on #1736
#1738

[2018-01-30 16:23] #1736 closed

[2018-01-30 17:56] ubuntudroid commented on #1736
Wow, that was really fast! Thanks a lot! 😍

[2018-01-30 20:17] ardaltd opened #1739 "Request: Magento 2"
https://github.com/magento/devdocs
http://devdocs.magento.com

thx

[2018-01-30 20:29] Orrison opened #1740 "Request: Ability to strip string from @clipboard variable in snippets"
It would be awesome if something could be done with defining certain strings that should be stripped from the @clipboard variable.

Use case example:

- I want to make a snippet to quickly look up the URL in my clipboard on dnsspy.io
- Their link format to look up a site is: https://dnsspy.io/scan/[URL OF SITE WITHOUT PROTOCOL]
- Because DNSSpy requires the URL submitted to NOT contain protocol (H

[2018-01-30 20:31] Kapeli commented on #1740
This repo is for user contributed docsets. It's not for Dash feature requests. Please [contact me](https://kapeli.com/contact) with those.

[2018-01-30 20:31] #1740 closed

[2018-01-30 21:02] Orrison commented on #1740
Great, sorry about that

[2018-02-09 17:34] yesmeck opened #1750 "Can not download Ant Design"
After #1744 been merged, I can search Ant Design now

<img width="820" alt="screen shot 2018-02-10 at 01 33 06" src="https://user-images.githubusercontent.com/465125/36041060-5d46245c-0e02-11e8-81e0-7fc84a324013.png">

But I can not download it

<img width="820" alt="screen shot 2018-02-10 at 01 33 54" src="https://user-images.githubusercontent.com/465125/36041092-78d72446-0e02-11e8-942f-85dd4ce83

[2018-02-09 18:57] #1750 closed

[2018-02-09 18:57] Kapeli commented on #1750
Should be ok now.

[2018-02-09 19:09] yesmeck commented on #1750
Thanks

On Sat, 10 Feb 2018 at 02:57 Bogdan Popescu <notifications@github.com>
wrote:

[2018-02-12 10:55] samuelololol commented on #1576
Any updates? If Apache Spark docset on dash, it will be cool!

[2018-02-15 21:36] oschvr commented on #1685
I've made a repository to aggregate the docset to Dash. Just sent a pull request in order to add them.

Feel free to [check it out](https://github.com/oschvr/solidity-dash)

[2018-02-20 10:21] bornio commented on #1576
I too would love to know if there's any update

[2018-02-21 17:20] laoreja opened #1770 "Dash crashes very frequently when looking up APIs in PyTorch"
My Dash never crashes before, but it crashes very frequently when looking up APIs in PyTorch.
Dash version: 3.4.4
Installed PyTorch docset from Preferences -> Downloads -> User contributed

[2018-02-23 11:20] Kapeli commented on #1770
Please email me about this and include a crash log.

[2018-02-23 11:20] #1770 closed

[2018-02-26 07:50] sansSpoon opened #1777 "Request: Koa@2"
http://koajs.com
https://github.com/koajs/koa/tree/master/docs

Please!

[2018-02-26 10:59] D1mon opened #1778 "[Request] w3c"
https://www.w3.org/TR/

[2018-03-07 21:09] ealiagach commented on #595
Spring Boot documentation can be downloaded from the "Downloads" section of Dash's Preferences. Just select the "Java Docs" third-party source and search for "org.springframework.boot:spring-boot".

Just in case it's useful to someone.

[2018-03-12 11:29] Anrock commented on #1692
@pirafrank any updates? Also, are you going to upload docs for 1.8.x?

[2018-03-12 12:53] pirafrank commented on #1692
Hi, docs were packed for 1.8.x.
I have to check them then I’ll submit PR.
I’ll notify to you here too if you want to.

Also fix for this bug was deployed to my github repo weeks ago. It works for all but the homepage (displays in non US lang).

Francesco

[2018-03-12 12:55] Anrock commented on #1692
@pirafrank thank you for your work. No need to notify about PR here - i'll just wait until Dash updates it.

[2018-03-13 01:43] daviyang35 commented on #1692
@pirafrank Thans for your job.

[2018-03-13 18:48] D1mon opened #1792 "Request: Fabric"
Fabric - Pythonic remote execution
[http://docs.fabfile.org](http://docs.fabfile.org)

[2018-03-13 18:53] D1mon opened #1793 "Request: Graphene"
[http://docs.graphene-python.org/en/latest/](http://docs.graphene-python.org/en/latest/)
[http://docs.graphene-js.org/en/latest/](http://docs.graphene-js.org/en/latest/)

[2018-03-13 23:46] pirafrank commented on #1692
Little update on this.
I need some time to nail a fix for v1.8.x as starting with this version they seem to have broken my sqlite indexing. Need to rebuild.
v1.7.9 (repack) and 1.7.11 work fine btw.
I'll do just one PR as soon as I fix.

[2018-03-15 21:30] bwiggs commented on #1692
Looking forward to it @pirafrank !

[2018-03-19 12:55] MarZab opened #1808 "Request: Mozilla Firefox Addon Docset"
I would like Dash to include the MDN section "[Add-ons](https://developer.mozilla.org/en-US/docs/MDN/About)".

I did look into making the docset myself since the docs are available in the same format as the [kapeli offline mdn docs](https://kapeli.com/mdn_offline) but the [tarbal](https://developer.mozilla.org/en-US/docs/MDN/About) is not regulary updated.

Could you include this section in the mo

[2018-03-23 15:13] scontini76 opened #1814 "Meson build system documentation"
http://mesonbuild.com
https://github.com/mesonbuild/meson/tree/master/docs

[2018-03-26 05:19] wuudjac commented on #1125
Hi, I've written a command line tool called `godocdash` to do it.

Typically, just `go get` this command and run, it takes only a few seconds to generate the docset.

I've tested the docset generated in Zeal, but I don't have any Mac device now, maybe someone could help me test how the docset looks in Dash?

[2018-03-28 14:38] skgbanga opened #1825 "how to add for zeal"
Is it possible to add these to zeal?

`Dash's Preferences > Downloads > User Contributed.` probably only works for Dash, and not zeal.

[2018-03-28 18:36] Kapeli commented on #1825
I have no idea what the current state of User Contributed docset support is in Zeal. Please ask this in Zeal's repo.

[2018-03-28 18:36] #1825 closed

[2018-03-28 20:16] skgbanga commented on #1825
Fair enough. Thanks for the pointer.

[2018-04-03 11:06] marcoslater opened #1828 "Add CloudFlare Docs."
Hello,

It would be great to have the CloudFlare developer documentation added.

API is most important, but with them expanding on so many services, it would be great to have all their categories added.

Thank you!

[2018-04-10 08:27] bjornbjorn commented on #1638
I've had Flutter docs working for a while using the dartdocs.org third party source. However, lately flutter shows up as "empty docset", not sure why. See screenshot with flutter + cloud_firestore (which works, from dartdocs.org as well):

![Screenshot](https://i.imgur.com/3dkG21M.png)

[2018-04-11 20:17] PeterFaiman commented on #1125
@wuudjac it looks fine in Dash, only complaint so far is the sidebar shows really long names, e.g. `github.com/prometheus/client_model/go.Gauge`. My sidebar is about 200px wide, so it shows `github.com/prome`, which is obviously close to useless. I currently depend on few enough Go packages that I'd rather manually install them all for the shorter names. But I would LOVE to use this tool, or even

[2018-04-12 22:08] xster commented on #1638
Flutter isn't fully hosted on pub.dartlang.org like other packages. https://pub.dartlang.org/packages/flutter is only at 0.0.20 while at the time of writing, Flutter is at 0.2.11. A custom docset would be needed.

The docset should also include platform components at https://docs.flutter.io/javadoc/ and https://docs.flutter.io/objcdoc/ on top of the dartdocs.

[2018-04-14 21:09] VirgileACM opened #1844 "Request: PYMC3 docset"
The documentation is available at http://docs.pymc.io/.
Would it be possible to have a dash integration of this documentation?

[2018-04-18 07:11] aidenhx opened #1849 "Hibernate JavaDoc"
It's available on [Hibernate JavaDoc](http://docs.jboss.org/hibernate/jpa/2.1/api/)

[2018-04-18 07:30] ghost opened #1850 "mybatis"
[mybatis-3](http://www.mybatis.org/mybatis-3/)

[2018-04-18 11:30] #1849 closed

[2018-04-18 12:03] D1mon opened #1851 "Request: Sanic"
[docs](https://sanic.readthedocs.io/en/latest/index.html)

[2018-04-21 11:53] D1mon opened #1854 "Request: selenium-python"
[docs](https://selenium-python.readthedocs.io/)

[2018-04-21 11:54] D1mon opened #1855 "Request: Splinter"
[docs](https://splinter.readthedocs.io/en/latest/index.html)

[2018-04-23 12:09] tyabu12 opened #1858 "Request: React-Native update to 0.55"
Docs: http://facebook.github.io/react-native/

[2018-04-23 12:13] MarZab commented on #1672
Looks like adding the github bootstrap-vue/bootstrap-vue repo under "other" docsets works quite well, since the docs are hosted in the repo itself.

[2018-04-23 19:36] #1485 closed

[2018-04-23 19:38] Kapeli commented on #1858
// cc @epitaphmike @vexus2

[2018-04-24 07:15] petermakowski commented on #1778
Just commenting to request this as well. I'm using dash less and less because these docs aren't available...

[2018-04-27 01:43] laoreja opened #1861 "How to maintain docset of two versions"
Hi, I would like to keep the docsets for both PyTorch 0.3.0 and 0.4.0, but I failed to trigger PyTorch 0.4.0 until I delete PyTorch 0.3.0's docset.

My PyTorch 0.3.0 comes from the user contribution.
I made 0.4.0 myself, with some basic effort to rename it (both in the filename and the plist).

I cannot put my 0.4.0 here, it's generated from this script: https://github.com/pytorch/pytorch/blob/v0.

[2018-04-27 20:11] Kapeli commented on #1861
Docsets support specific versions:

![screen shot 2018-04-27 at 23 11 15](https://user-images.githubusercontent.com/1445635/39383019-5432e72e-4a70-11e8-997f-8dd2ee16dbd7.png)

[2018-04-27 20:11] #1861 closed

[2018-05-01 02:12] tnorthcutt opened #1870 "Request: Tailwind CSS"
Docs for the [Tailwind CSS](https://tailwindcss.com/docs/installation/) framework would be fantastic. 😁

[2018-05-03 22:10] pirafrank commented on #1692
I think this issue can be closed as I fixed it in [PR 1816](https://github.com/Kapeli/Dash-User-Contributions/pull/1816)

[2018-05-03 23:13] #1692 closed

[2018-05-04 15:26] bhyde opened #1876 "Request: Systemd"
List of the manpages can be [found here](http://0pointer.de/public/systemd-man/), there is [a need :)](https://unix.stackexchange.com/tags).

[2018-05-08 12:12] icq4ever opened #1880 "how can I generate index file?"
recently openFrameworks updated to 0.10.0 so I want to make docset for dash.
but I got stucked.

first, docsetutil is missing on macos sierra. (it's not issue with dashdoc right?)

second, after `make` in `build/html` directory,  and trying to open docset file, dash saids
"The docset does not have a index file, maybe the docset has not been indexed?"

it's not happened I did before. something chan

[2018-05-08 13:12] icq4ever commented on #1880
I tried with [doxytag2zealdb](https://github.com/vedvyas/doxytag2zealdb) but same error message.
opend with SQL DB viewer. seems that indxed. (screenshot below)

<img width="1256" alt="screen shot 2018-05-08 at 10 10 35 pm" src="https://user-images.githubusercontent.com/530796/39759090-aa177200-530c-11e8-8c0b-f739fe513348.png">
<img width="1256" alt="screen shot 2018-05-08 at 10 10 37 pm" src="htt

[2018-05-08 21:44] Kapeli commented on #1880
There are 2 docset formats: Apple (which has been discontinued), and Dash.

You can get docsetutil by downloading an older version of Xcode. I think Xcode 8.3.3 has it (use https://xcodereleases.com).

As for your doxytag2zealdb attempt, I think what went wrong is that you don't have the `isDashDocset` key in your Info.plist. See https://kapeli.com/resources/Info.plist.

[2018-05-08 21:44] #1880 closed

[2018-05-08 21:52] Kapeli commented on #1494
Closing in favor of https://github.com/Kapeli/Dash-User-Contributions/issues/1567

[2018-05-08 21:52] #1494 closed

[2018-05-08 21:52] Kapeli commented on #1394
Closing due to inactivity

[2018-05-08 21:52] #1394 closed

[2018-05-08 21:53] Kapeli commented on #1375
Closing due to inactivity

[2018-05-08 21:53] #1375 closed

[2018-05-08 21:53] Kapeli commented on #1456
Closing due to inactivity

[2018-05-08 21:53] #1456 closed

[2018-05-08 21:54] #1530 closed

[2018-05-08 22:01] icq4ever commented on #1880
@Kapeli what a stupid mistake.. `isDashDocset` is missing. now it works. thanks a lot :+1:

[2018-05-19 02:12] txytju opened #1892 "Please update PIL for python"
python PIL is now 5.1.X, please update for that, thanks!

[2018-05-19 10:07] Kapeli commented on #1892
@153957 Could you update when you get a chance?

[2018-05-19 11:34] 153957 commented on #1892
Im on it!

Would it be useful to still add some in-between versions? e.g. 4.3.0, 3.4.0 (latest for each major version)

[2018-05-19 17:09] #1892 closed

[2018-05-19 17:11] Kapeli commented on #1892
Thanks for the update! No idea if the other versions would be needed, it's up to you.

[2018-05-20 04:43] txytju commented on #1892
Thanks for that! @153957 @Kapeli

[2018-05-22 18:20] jesseditson commented on #1685
You're a hero! Here's how to install:

![image](https://user-images.githubusercontent.com/370239/40381998-15fa611c-5db2-11e8-8ae7-213768395e18.png)

[2018-05-22 18:20] #1685 closed

[2018-05-23 21:05] chris commented on #1291
There's also [this one](https://github.com/raffy2010/dash-clojuredocs) which actually is in the Dash contribs, but the formatting and viewing of it in Dash is pretty sub-par and it also seems out of date, as two of the contributions for example for [assoc](https://clojuredocs.org/clojure.core/assoc) are missing.

[2018-05-24 06:00] TheFrogDaddy commented on #1679
👍

[2018-05-26 10:02] specter119 opened #1904 "feed for zeal is needed"
I have multiply devices including mac and Linux. and I have to use zeal on Linux instead of Dash.

The only way for zeal to get user contributed docsets automatically is  build a feed like [dash-contrib-docset-feeds](https://github.com/hashhar/dash-contrib-docset-feeds). But it will be more continent if there is an "official feed" for the ones who use windows and Linux. I don't know whether you mi

[2018-05-26 13:15] Kapeli commented on #1904
Please contact Zeal's developer regarding this. I have no idea what the current state of user contributed docsets is in Zeal.

[2018-05-26 13:15] #1904 closed

[2018-05-28 15:23] sanssecours opened #1909 "Bug: Pale DocSet Icons"
👋 Hi,

it looks like some process modifies the icons for DocSets. At least the icon for the [Elektra DocSet](https://github.com/Kapeli/Dash-User-Contributions/blob/master/docsets/Elektra) looks much paler in Dash (left), than the one I added to the repository (right):

<img width="839" alt="elektra" src="https://user-images.githubusercontent.com/691989/40621038-8183ac20-629b-11e8-9ac0-948e5194e54c

[2018-05-30 19:10] Kapeli commented on #1909
Thanks for letting me know about this. I've fixed it.

[2018-05-30 19:15] Kapeli commented on #1909
Actually looks like I didn't fix it. They display correctly now in Preferences > Downloads > User Contributed, but they're still faded when you install the docset.

I'll have a look tomorrow.

[2018-06-01 14:02] Kapeli commented on #1909
This will be fixed in the next Dash update. I couldn't fix it server-side 😞

[2018-06-01 14:02] #1909 closed

[2018-06-02 13:15] chinesedfan commented on #1569
@epitaphmike I will take it. 😄

[2018-06-02 23:57] epitaphmike commented on #1569
@chinesedfan Join the group https://github.com/dash-docs-community to start maintaining the jest-dash docset. Then merge the set to this repo.

[2018-06-02 23:57] #1569 closed

[2018-06-03 13:51] dimitarnestorov opened #1915 "Request: cssreference.io"
The images/animations just make working with css so much easier
Source: https://github.com/jgthms/css-reference

[2018-06-04 16:48] ssbarnea opened #1920 "Unable to create doc2dash feed with multiple entries inside"
Because number of packages build can easily become  huge, I attempted to create a consilidated all.xml feed file for all of the,

See http://s3.sbarnea.com/docsets/all.xml

Sadly, it appears that Dash is unable to load these feeds. What can we do to fix this?

Please note that for each individual docset I have both the `.tgz` and the `.xml` file, at same location.

I aim to build a `Python Docset`

[2018-06-04 17:48] maksimr commented on #1638
Now Dash documentation for **Flutter** doesn't work at all

![](https://content.screencast.com/users/maksimrv/folders/Jing/media/d5528636-cfe5-49ef-891c-d38647634a4f/00000915.png)

[2018-06-04 19:56] Kapeli commented on #1920
This is not supported. Only one docset per feed.

Alternatives are:
1. Submit your docsets to this repo, as user contributed docsets - https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset
2. If you plan on supporting **all** Python modules, I could add a separate option in Dash, like Preferences > Downloads > Python Docsets which would install these docsets only

[2018-06-08 13:07] cfanpnk commented on #1576
I'm interested too.

[2018-06-11 08:02] ilpianista opened #1928 "Request: liquibase"
Please consider to package [liquibase documentation](http://www.liquibase.org/documentation/index.html).

Thank you!

[2018-06-21 22:30] chris4gl opened #1939 "New DocSet files (too large)"
Hello,

I have new docset files for OpenEdge (11.5, 11.6 and 11.7).  I checked in the other files required, but these were over the 100MB github limit (they are about 140-150).  Can you let me know where to send them in?

I also have an older docset for OpenEdge checked in that should be removed.

Thanks,
Chris

[2018-06-22 10:05] bkbooth commented on #1870
Is anyone working on this? I might take a look at it

[2018-06-22 18:03] Kapeli commented on #1939
You need to upload the docset somewhere (e.g. Dropbox) and send me the link.

Please mention the download links in the issue where you submit the update for the docset itself. I'll close this issue and we'll continue there.

[2018-06-22 18:03] #1939 closed

[2018-06-28 13:25] aidenhx opened #1954 "Request: neovim"

[2018-06-28 17:15] #1920 closed

[2018-07-05 12:41] Sorosliu1029 opened #1962 "Request: nestjs"

[2018-07-07 07:16] mathieujobin commented on #1638
I look forward being able to install Flutter's doc into Zeal
Thanks

[2018-07-25 00:37] rspeed commented on #1792
I think I'll take this one on.

[2018-07-30 14:41] apouche commented on #1638
Any update on this ? No support for Flutter is definitely a no go for me for purchasing Dash.

[2018-07-30 14:45] maksimr commented on #1638
@apouche as a workaround you can use the [zip](https://github.com/flutter/flutter/issues/9955#issuecomment-401955171) created by @imWildCat (Thanks  @imWildCat)

https://github.com/flutter/flutter/issues/9955#issuecomment-401955171

but I'm totally sure that it should be officially supported by the Dash

[2018-07-30 14:46] apouche commented on #1638
Thanks @maksimr, I tried indeed but it seems the link doesn't work anymore

[2018-08-06 15:41] katerlouis opened #2005 "Request: vuex"
Vuex is a state manager tailored for Vue JS
the structure is very similar to the main Vue docset.
https://vuex.vuejs.org/guide/state.html

So I guess you can implement this quickly :)

Would be really cool!

[2018-08-14 20:07] wkoszek opened #2014 "Request: Stripe docs"
I'd be great to get a Stripe English docset into Dash. I'd be willing to donate $20 for this effort.

[2018-08-17 20:27] oalders commented on #120
As @victorhooi mentioned there is the HTTP Status Codes cheat sheet.  Should this issue be closed?

[2018-08-17 20:58] ylansegal commented on #120
The status code cheat sheet is great, but I think that complete HTTP/1.1 docset would be very useful.

[2018-08-18 18:42] kassane opened #2020 "Request: Unreal Docset"
Is it possible to add this complete documentation?
[Unreal Doc](https://docs.unrealengine.com/en-us/Programming)
[Unreal API](https://api.unrealengine.com/INT/API/)

[2018-08-22 10:13] gisu commented on #2005
👍

[2018-08-22 11:00] sanssecours commented on #1909
Seems like a recent update reintroduced this bug:

<img width="252" alt="dash sidebar" src="https://user-images.githubusercontent.com/691989/44459637-aac94100-a60a-11e8-8ea5-90b3e51a05bb.png">

. The icon looks correct inside “Preferences…” though:

<img width="820" alt="preferences" src="https://user-images.githubusercontent.com/691989/44459692-d51afe80-a60a-11e8-9858-6f7c747ce40d.png">

.

[2018-08-22 12:05] Kapeli commented on #1909
I'm not able to replicate it. Did you try to reinstall the docset? It might be using the old icon.

[2018-08-22 12:56] sanssecours commented on #1909
Thank you for the quick reply.

Yes. I just removed it and installed it again. The symbol looks incorrect in Finder too:

<img width="696" alt="docset icon" src="https://user-images.githubusercontent.com/691989/44464521-4c588e80-a61b-11e8-96cb-5bb8041de848.png">

.

[2018-08-22 12:59] Kapeli commented on #1909
Weird. What macOS and Dash version are you using?

[2018-08-22 13:10] sanssecours commented on #1909
Dash `4.2.0` on macOS `10.13.6`

I just reinstalled the [DocSet for Fish](
https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/fish). Now the sidebar of Dash shows two pale icons:

<img width="250" alt="dash sidebar" src="https://user-images.githubusercontent.com/691989/44465219-3fd53580-a61d-11e8-90b7-b37bbf8abbc6.png">

.

[2018-08-22 16:29] Kapeli commented on #1909
I'm not able to replicate the issue using the same macOS and Dash version.

Can you think of anything that might be different with your Mac? Are you sure you're not using an older version of Dash?

[2018-08-22 17:52] sanssecours commented on #1909
Not really.

After I downloaded the latest version of Dash (`4.4.0`) it worked. Thank you for your help 💖. I am kind of puzzled why Dash did not update itself, though…

[2018-08-22 20:46] Kapeli commented on #1909
Ah, sorry about that. I read the version you mentioned previously as `4.4.0` so I thought you were on the latest one.

[2018-08-25 16:21] alexwhittemore opened #2024 "Request: Bokeh update to 0.13.0"
It looks like @jbcrail's Bokeh docs are now a bit out of date. I tried to build an update, but after almost-maybe-sort-of figuring out how to fly doc2dash (trying to follow https://gist.github.com/wcooley/f21e36818c91eb7eff6a9e6c15587d18), I ran into walls trying to even build the bokeh docs in the first place, which seems to be a more involved process than I'm up for. If someone's already gotten

[2018-08-25 16:56] Kapeli commented on #2024
Nothing. That's just a file that my script leaves around after it processes a docset archive. You can ignore it.

[2018-08-25 17:14] alexwhittemore commented on #2024
Ahh- so then what’s the workflow to actually commit the archive? Commit it in normal form then you remove it after pull? That part confuses me.

[2018-08-25 17:15] Kapeli commented on #2024
You submit the docset archive, yes. See https://github.com/Kapeli/Dash-User-Contributions#contribute-a-new-docset.

[2018-08-29 09:07] sunt05 opened #2037 "Request: python xarray"
we need xarray, a pandas-compatible toolkit for analytics on multi-dimensional arrays.
http://xarray.pydata.org/en/stable/

[2018-08-29 18:34] mattdavenport opened #2039 "Request: MariaDB"
https://mariadb.com/kb/en/library/documentation/

[2018-09-02 08:44] D1mon opened #2041 "Take a video: how to create a docset"
Many requests and a little number of made docsets. At the moment of open requests 89.
Video should be done as much as possible - for each technology (Sphinx, ...) and how to put all this in a common base.

[2018-09-05 05:48] cgjosephlee opened #2043 "Request: Biopython"
This is a huge and complicated package used in bioinfomatics.
http://biopython.org/DIST/docs/tutorial/Tutorial.html

[2018-09-05 17:43] bwente opened #2044 "Update MODX docset"
Please update to the latest version.

Input and Output Filters (Output Modifiers) has new options available  for example.

[2018-09-06 11:27] Kapeli commented on #2044
cc @mkay

[2018-09-07 16:44] slmjkdbtl opened #2048 "Request: amulet"
http://www.amulet.xyz/doc/

[2018-09-26 00:14] mathieujobin commented on #1638
there is an updated version on the same thread mentioned above.
https://github.com/flutter/flutter/issues/9955#issuecomment-422946714

[2018-10-02 17:46] #1482 closed

[2018-10-03 14:45] imWildCat commented on #1638
I created a repo for the instructions to install the docset easily:
https://github.com/imWildCat/flutter-docset

[2018-10-07 07:42] jsekamane opened #2085 "Request: Wolfram MathWorld"
Site: http://mathworld.wolfram.com
Area: Mathematics

[2018-10-07 22:44] swellingt0n opened #2088 "Request: fastlane"
https://docs.fastlane.tools/

[2018-10-11 10:23] unikitty37 opened #2093 "Request: Bulma"
https://bulma.io/documentation/

It looks like dashing can get you most of the way there, though the colours are wrong in dark mode (the grey shades on the Typography helpers page are inverted for one thing). Not sure of the best way to fix that, especially on Mojave where the only way to get Dash into light mode seems to be to change the setting for the entire OS :)

[2018-10-30 22:33] pdefreitas commented on #1679
+1

[2018-11-12 17:54] JopLaane opened #2130 "Eris"
I want to request a new docset!
either: http://erisdocs.cfapps.io/index.html
or: https://abal.moe/Eris/docs/getting-started

if you need anything else, just say so :D

[2018-11-12 20:18] kassane opened #2131 "Request: CryEngine"
[CEPROG](https://docs.cryengine.com/display/CEPROG/CRYENGINE+Programming)
[CEV MANUAL](https://docs.cryengine.com/display/CEMANUAL/CRYENGINE+V+Manual)

[2018-11-13 01:42] warmwaffles opened #2132 "Vulkan docs extremely slow"
The current vulkan docs are extremely slow due to it being one big html file.

Instead it should probably use the https://www.khronos.org/registry/vulkan/ the  [API Reference Pages](https://www.khronos.org/registry/vulkan/specs/1.1-extensions/man/html/)

[2018-11-14 08:45] Kapeli commented on #2132
//cc @antiagainst

[2018-11-14 17:05] antiagainst commented on #2132
Yeah, originally the Vulkan spec does not have a really good chunked version. I think that gets better now. I can look into switching to the chunked version.

[2018-11-14 22:05] warmwaffles commented on #2132
@antiagainst that would be awesome.

[2018-11-16 22:11] berrylaw opened #2135 "dash user"

[2018-11-18 17:55] #2135 closed

[2018-11-22 21:54] #2132 closed

[2018-11-27 21:02] gaotongsh opened #2146 "Request: Update Scikit-image to 0.14"
I tried to follow instructions on [the docset page](https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Scikit-image) but the `doc2dash` program says
`"/Users/xxx/Dash-User-Contributions/docsets/Scikit-image/scikit-image.org/docs/0.14.x" does not contain a known documentation format.`
Could someone help me with this, or update the Scikit-image directly? Thanks!

[2018-11-27 21:18] #1571 closed

[2018-11-27 21:18] #1570 closed

[2018-11-27 21:18] #1568 closed

[2018-11-27 21:19] #1567 closed

[2018-11-27 21:19] #1566 closed

[2018-11-29 20:05] Kapeli commented on #2146
@iamaziz Can you take a look at this please?

[2018-12-03 09:40] scontini76 opened #2154 "Request: PyGObject documentation for gtk3/python3 programming"
The documentation are already used in devhelp, so maybe is it possible to have it in dash without so much trouble:

https://github.com/pygobject/pgi-docs-devhelp

maybe @lazka can help

[2018-12-03 11:21] scontini76 commented on #2154
see also:
https://github.com/pygobject/pgi-docgen/issues/175

[2018-12-07 02:18] singularitti opened #2158 "ghc.io is no longer available in Haskell.docset"
The main Haskell.docset provides an online REPL in the past: https://ghc.io. However, this domain is no longer what it used to be. Could you please disable the little triangle on the docset which redirects to this URL?
<img width="234" alt="haskell" src="https://user-images.githubusercontent.com/25192197/49623618-689af400-f99c-11e8-8d86-6d582711624f.png">
<img width="649" alt="error" src="https://

[2018-12-07 20:40] Kapeli commented on #2158
Thanks for letting me know about this. I'll fix it ASAP.

[2018-12-07 20:40] #2158 closed

[2018-12-07 22:19] gspencergoog commented on #1638
Flutter's build now produces offline docsets for Dash and Zeal that you can subscribe to.

The feed for Flutter 1.0 (stable) docset feed URL: is https://docs.flutter.io/offline/flutter.xml
The feed for Flutter master channel (cutting edge) docset feed URL is: https://master-docs.flutter.io/offline/flutter.xml

FYI, Unless there is a way to contribute Flutter's docs to Dash via the feed URL, we pro

[2018-12-10 09:30] Kapeli commented on #1638
It's not currently possible to contribute using the feed URL, sorry.

Any chance the pull request could be automated as well?

[2018-12-14 19:11] mikerogne commented on #2014
I'll put in an additional $20.

[2018-12-17 09:24] speedcell4 opened #2163 "Request: pytext"
[pytext](https://pytext-pytext.readthedocs-hosted.com/en/latest/)

[2018-12-17 09:25] speedcell4 opened #2164 "Request: torchtext"
[torchtext](https://torchtext.readthedocs.io/en/latest/)

[2018-12-19 18:49] mrinterweb commented on #2005
Are there plans to add vuex docs? I'm pretty sure it would be fine to include vuex in the vue docs since they are pretty coupled.

[2018-12-29 12:44] schrodincat opened #2174 "Request: update fish docset to 3.0"

[2018-12-29 19:11] schrodincat commented on #2005
Vue basically consists from a number of core components:
1. [Vue.js](https://vuejs.org/v2/guide/) (which what we have now)
2. [Vue Router](https://router.vuejs.org)
3. [Vuex](https://vuex.vuejs.org)
4. [Vue Server Renderer](https://ssr.vuejs.org)

They are all integral part of the Vue and have similarly (if not identical) structured documentation. Including only Vue.js in the main docset is not re

[2018-12-30 22:52] #2174 closed

[2018-12-31 02:12] Kapeli commented on #2005
I haven't seen much demand for this yet (around 10 requests only).

Are you sure you're not overstating how many Vue developers are using Vue Router, Vuex and Vue Server Renderer? I'm mainly worried that if I add these docs to the current Vue docset, I'll get yelled at that I'm cluttering it with stuff people don't want/need.

I'll add them within a few days, but please note that if others complai

[2018-12-31 02:57] katerlouis commented on #2005
5 months ago I had to jump into the cold water and make a „real Vue project“ for the first time. I struggled a lot with all these new things like node, npm, es6, webpack, vue-cli, vue itself etc.

I can tell you these things are a very essential part of vue. Especially vuex is something you shouldn‘t remove, even if somebody complains. I personally haven‘t used the server renderer yet, but can ass

[2018-12-31 11:12] schrodincat commented on #2005
I don’t have numbers, unfortunately, maybe someone from the @vue project can provide some insight and guide us.

I don’t see any harm of including them in the bundled Vue docset, as they are not big. But if you worry, just add them separately, user can use search profiles to search them simultaneously, if he wishes. The important bit is to add them.

That said I’m not sure about bundling based on

[2018-12-31 11:21] schrodincat commented on #2005
As a compromise you can add them bundled, but separately from Vue.js docset and call it “Vue Core Libraries”. That should satisfy everyone.

[2018-12-31 13:37] Kapeli commented on #2005
I understand these docs are important to you, but I have to prioritise things. I have docs with 70+ requests that I haven't gotten around to generating docsets for. The Vue stuff seems to be 3 separate docsets and I haven't had more than 10-15 requests for. The other problem is that the Vue docs don't have clearly marked API types, so stuff is pretty much hardcoded. I've copy pasted the code that

[2019-01-03 00:42] modosc commented on #1571
hey @epitaphmike i'd be happy to help out.

[2019-01-10 05:10] kkew3 opened #2182 "Pytorch 0.4.1 doc page shows "unstable" while it's not"
Hi. I downloaded pytorch 0.4.1 dashdoc. The doc page it opens says:

Apparently 0.4.1 was stable a long time ago. I suspect dashdoc is using an old link to the unstable official pytorch doc published before the release of 0.4.1. I feel it might be better to have an update. Thank you so much.

[2019-01-10 18:39] Kapeli commented on #2182
// cc @taketwo

[2019-01-11 07:47] taketwo commented on #2182
Not sure why the page says "unstable" but I can confirm that I've generated the documentation from released 0.4.1 sources.

That said, an update is indeed needed since 1.0.0 was released since then. I'll send a PR some time soon.

[2019-01-11 15:50] taketwo commented on #2182
Actually, 1.0.0 docs were already contributed (#2159), so this may be closed.

[2019-01-11 18:50] #2182 closed

[2019-01-19 05:57] TomasKunka commented on #1576
I've built the newest pyspark version. How can I contribute it, if pyspark folder already exists in docksets directory? Should I edit it?

[2019-01-19 14:04] scontini76 opened #2190 "Request: libfmt"
http://fmtlib.net/latest/index.html

Very popular and powerful modern formatting library for c++ documented with sphinx/doxygen.

[2019-01-21 03:09] Kapeli commented on #1576
@TomasKunka You should edit it, yes, to update the docset.

[2019-01-21 12:58] TimonVS opened #2191 "Request: Apollo client (React)"
I'd like to put in a request for adding the Apollo client docs (for React).
https://www.apollographql.com/docs/react/

[2019-01-24 04:51] #1858 closed

[2019-01-24 08:31] grawlinson commented on #1566
This really should be re-opened due to the docset being out of date, and the repository mentioned above has disappeared.

@epitaphmike, do you have a local copy, hopefully?

[2019-01-31 02:15] halloleo opened #2199 "Request: Plotly for Python"
I'd like to put in a request for adding the [Plotly for Python docs](https://plot.ly/python/reference/).

Plotly is a popular visualsation library. From its Wikipedia page:

[2019-02-04 23:14] schmidh opened #2210 "css file not loaded on Windows"
The newly created docset for Perl 6 does not render well on Windows because the css file is not loaded.

[Windows renders incorrectly](https://github.com/schmidh/Perl6-Dash-Docset-Generator/issues/1)

[2019-02-05 12:15] schmidh opened #2212 "docsetcontrib & Ubuntu"
Is the binary docsetcontrib also available on Ubuntu? Are the sources open?

[2019-02-06 10:44] Kapeli commented on #2210
Zeal is not made by me, so if it's a Zeal issue there's nothing I can do. My best guess is the docset has special characters in its paths which Windows doesn't handle correctly. Please consider opening an issue in Zeal's GitHub repo.

[2019-02-06 10:45] Kapeli commented on #2212
It's not. It's written in Objective-C so I don't think there's any way to get it to run on Linux.

The source is not open, but I can send it to you if you email me.

[2019-02-06 10:45] #2212 closed

[2019-02-06 11:01] schmidh commented on #2210
Sorry, my bad.

[2019-02-06 11:01] #2210 closed

[2019-02-06 18:29] KBoyarchuk opened #2216 "Update Jest"

[2019-02-12 17:08] KBoyarchuk opened #2243 "Update Flow.js docset"

[2019-02-14 18:52] slcc2c commented on #1576
This would be great to have

[2019-02-18 01:54] thyrgle opened #2254 "Request: Godot"
Docs:

https://docs.godotengine.org/en/3.0/

[2019-02-19 13:51] Belco90 commented on #2216
<img width="1443" alt="image" src="https://user-images.githubusercontent.com/2677072/53019657-89300180-3455-11e9-8335-aabdd18863b5.png">
Jest doc is broken after they moved their [doc to the new website](https://jestjs.io/blog/2019/01/25/jest-24-refreshing-polished-typescript-friendly#new-website).

[2019-02-20 17:55] #1870 closed

[2019-02-22 01:50] phene opened #2260 "AWS CloudFormation Templates docs are out of date and the generator is broken"
The AWS CloudFormation Template docs are quite out of data and unfortunately the generator is now broken due to some significant structural changes to the docs made by AWS. Consider removing support for these as the https://github.com/pdhodgkinson/AWSCloudFormationTemplateReference-dash-docset is likely a dead project.

[2019-02-26 13:19] andreineculau commented on #2216
poke @Kapeli @chinesedfan

PS: @KBoyarchuk "fix" is the word, not "update" 😜

[2019-02-26 13:21] andreineculau commented on #2216
meanwhile you can pin jest to the older 23.1.0

[2019-02-26 15:03] chinesedfan commented on #2216
That's strange. I am using Dash v4.6.1(730) and everything looks well, even with uninstalling and installing again.

![dash](https://user-images.githubusercontent.com/1736154/53422461-7bace580-3a1a-11e9-8d7e-3bbb22b65a83.gif)

[2019-02-26 18:50] andreineculau commented on #2216
I'm experiencing the problem on 4.6.2 (740)

[2019-02-26 18:52] andreineculau commented on #2216
I would have liked to downgrade to 4.6.1 and see if there's a change, but I can't figure out how to do that.

[2019-02-26 19:46] maltsev opened #2263 "Request: Liquid template language"
https://shopify.github.io/liquid/

[2019-02-26 21:54] Kapeli commented on #2216
I'm not able to replicate the issue in Dash 4.6.2 and Jest 24.1.0 (installed from Preferences > Downloads > User Contributed).

The Jest docset is not really optimised for offline use and it loads some resources online, so maybe you're blocking some network requests and that's causing the page to fail to load?

Can you try to press CMD+B to open the page in your browser? Does it work there?

Can y

[2019-02-26 22:24] andreineculau commented on #2216
Hmm, pressing CMD+B opens the page in the browser, and all is good there.
But not in Dash...
And you know what the problem is?... Width! The Jest website switches to
some mobile layout if width is less than X, and it just becomes a 99% white
page at that point :(

Good to close, and some issue should be opened on the Jest website side...
#facepalm

[2019-02-26 22:31] andreineculau commented on #2216
actually if I go to the Jest website all is good.
So it is actually something on the Dash side.

OK e.g. https://jestjs.io/docs/en/expect.html#tobeclosetonumber-numdigits
NOT OK e.g.
http://127.0.0.1:49321/Dash/xfpayytj/jest/docs/en/expect.html#tobeclosetonumber-numdigits
Tested both in Safari and Chrome.

[2019-02-27 02:22] chinesedfan commented on #2216
@andreineculau Nice digging! It fails in 13-inch Mac, but works in 15-inch. Simple workaround is changing the width of Dash's left menu. I will try to fix it this week.

[2019-02-27 09:56] Belco90 commented on #2216
@andreineculau resizing the dash window definitely works for me:

<img width="1556" alt="image" src="https://user-images.githubusercontent.com/2677072/53481853-3fab6c00-3a7e-11e9-930c-2bc3c2d7bd52.png">

So the problem is related to the width of the website for sure.

[2019-02-28 08:50] #2216 closed

[2019-02-28 11:14] andreineculau commented on #2216
I can confirm the problem is fixed. Thanks!

[2019-03-03 03:48] thyrgle opened #2273 "Request: Nim"
Nim Programming Language:

https://nim-lang.org/documentation.html

[2019-03-04 12:46] Thesharing opened #2275 "Update docs of Tensorflow and PyTorch"
The version of Tensorflow is 1.13.0 and 2.0 is under preview, but the docs on dash still remain 1.9.0.

Same for PyTorch.

[2019-03-04 23:22] Kapeli commented on #2275
// cc @fossil12 @ppwwyyxx @solidfox @iamaziz @Time1ess @JiamingSuen @reuben @taketwo

[2019-03-05 08:34] majwhite commented on #2260
@phene - I have raised https://github.com/Kapeli/Dash-User-Contributions/pull/2280 to update the docset in Dash - now that the PR against the Docset generator has been merged.

[2019-03-05 08:53] #2260 closed

[2019-03-09 05:44] singularitti opened #2286 "Repl.it now supports Julia language"
Please add the [online runtime](https://repl.it/languages/julia) of [Julia language](https://julialang.org) to the Julia docset.

[2019-03-09 16:10] Kapeli commented on #2286
I've updated the Julia docset to include this. Check for updates in Preferences > Downloads. Thanks for letting me know!

[2019-03-09 16:10] #2286 closed

[2019-03-14 00:46] vedvyas commented on #1880
The latest release of doxytag2zealdb (0.3.0) now updates Info.plist by default (unless users pass `--dont-update-info-plist`). Sorry about that :-)

[2019-03-14 20:38] thomasplevy opened #2293 "Contribute LifterLMS docset"
Hey there,

I'm the lead dev and one of the cofounders of LifterLMS (https://lifterlms.com), an open-source WordPress plugin for building online courses.

We've just (finally) launched our developer hub with a complete code reference at https://developer.lifterlms.com/

As a longtime Dash user I've been awaiting the day I finally could get this project completed and a docset contributed to Dash.

[2019-03-19 15:20] stamm opened #2298 "Add docs for calico"
Can you add docs for https://docs.projectcalico.org/v3.6/introduction/ with versioning

[2019-03-21 19:16] shahasad78 commented on #2020
I too have been wanting this.  There used to be a tool that converted the Unreal documentation's CHM file.  but the newer versions of UE4 removed the chm file.

[2019-03-25 12:06] carestad opened #2305 "Javascript docset links to Statements"
Should mention I use Zeal, but the problem should lie within the docset itself.

When looking up `let` og `const`, which both are located under `Web/JavaScript/Reference/Statements`, they will not show. Manually manoeuvring with the  breadcrumbs on the top of the MDN page will lead me to the `JavaScript reference` page, where `let` and `const` are listed, and where I can copy the (local) URL.

If

[2019-03-26 09:53] Kapeli commented on #2305
See https://github.com/zealdocs/zeal/issues/1009 and https://github.com/zealdocs/zeal/issues/1009#issuecomment-429325244 specifically.

[2019-03-26 09:53] #2305 closed

[2019-03-26 10:26] anephew commented on #2263
+1

[2019-03-31 09:59] ldorigo opened #2310 "Request: Bison and Flex"
Hi there.

Flex (lexer) and Bison (parser generator) are common tools for creating parsers/interpreters/compilers. It would be nice to have Dash integration for them. Manuals can be found at:

https://www.gnu.org/software/bison/bison.html
https://github.com/westes/flex

[2019-04-01 12:50] dpitic opened #2312 "scikit-learn Latex math markup"
I'm having problems rendering Latex markup when displaying scikit-learn documentation in Dash.  It renders correctly in Safari.  I've attached a screenshot from Dash.
![image](https://user-images.githubusercontent.com/4505681/55328805-c90bef00-54bf-11e9-85a5-554c74509ae1.png)

[2019-04-01 14:57] Kapeli commented on #2312
JavaScript has been disabled for this docset (`isJavaScriptEnabled` is set to `false` in Info.plist). Setting it to true might fix it, but might break something else.

// cc @iamaziz, @jaypeedevlin, @tafkas, @jnothman

[2019-04-01 20:25] jnothman commented on #2312
I wouldn't expect it to break anything else.

[2019-04-04 15:21] coldJune commented on #2312
I can't find a label named `isJavaScriptEnabled` in Info.plist

[2019-04-04 15:22] coldJune commented on #2312
I can't find a label named isJavaScriptEnabled in Info.plist

[2019-04-04 15:55] Kapeli commented on #2312
It's there...

<img width="566" alt="Screenshot 2019-04-04 at 17 54 32" src="https://user-images.githubusercontent.com/1445635/55569941-bdf4d100-5702-11e9-8550-b451f13b439f.png">

[2019-04-06 12:25] kassane opened #2318 "Request: Free Pascal Documentation"
Free Pascal Documentation: [here](https://www.freepascal.org/docs.var)

[2019-04-08 09:40] katerlouis commented on #2005
What's the status on this one?
Adding `vue-router` in the process would be nice, aswell.

[2019-04-10 06:23] slangenbach opened #2326 "Request: lightgbm"
Provide a docset for lightgbm: https://lightgbm.readthedocs.io/en/latest/index.html

[2019-04-10 06:27] slangenbach opened #2327 "Request: XGBoost"
Provide the XGBoost documentation as docset: https://xgboost.readthedocs.io/en/latest/python/python_api.html

[2019-04-10 06:33] slangenbach opened #2328 "Request: fast.ai"
Provide the fast.ai documentation as docset: https://docs.fast.ai/index.html

[2019-04-13 15:44] lzane commented on #818
there is webpack 3 doc already there to be downloaded.
but it is not up to date since webpack 4 has released for quite a long time.

[2019-04-17 23:08] brunobely commented on #2020
Also after this!  Unity's docs in Dash look great, would be nice to have UE4's as well

[2019-04-29 15:20] hongwen000 opened #2342 "Bug: failed to build sklearn docset"
I tried to use ```Dash-User-Contributions/docsets/Scikit/build.sh``` to build the docset.
But it just failed ... need help, thanks!
[code]

System configuration: Archlinux with latest Python 3.7.3

Full output: [output.txt](https://github.com/Kapeli/Dash-User-Contributions/files/3128009/output.txt)

Sphinx traceback:
[sphinx-err-6q148fir.log](https://github.com/Kapeli/Dash-User-Contributions/files

[2019-04-29 19:01] Kapeli commented on #2342
// cc @jaypeedevlin @jnothman

[2019-04-29 21:26] jnothman commented on #2342
Downgrade numpydoc or use scikit-learn master

[2019-04-30 02:39] hongwen000 commented on #2342
Observing the output, it seems the build script created a new `virtualenv` and collect every package automatically, including `numpydoc`. In this way, how can I do the downgrading?

[code]

[2019-04-30 03:03] jnothman commented on #2342
Modify the build script to specify numpydoc==0.8

[2019-05-01 04:29] hongwen000 commented on #2342
Thanks, this modification did solved the problem. However, I'm still failing to build it, which seems to be due to my unstable network connection.

[2019-05-01 04:29] #2342 closed

[2019-05-02 11:46] dfv-ms opened #2346 "Problem with sklearn docset"
I've got the same problem as in issue #2342. I've changed the build.sh-file

`pip install numpy==1.15 scipy cython nose coverage matplotlib sphinx pillow sphinx-gallery numpydoc==0.8  scikit-image joblib pandas`

But I get this error:
[code]

Any ideas? What kind of additional information do you need?

[2019-05-02 21:07] #671 closed

[2019-05-04 21:45] ycshao opened #2351 "Request: ionic 4"
Please update the ionic docset version to 4 https://github.com/ionic-team/ionic/releases/tag/v4.3.1

[2019-05-04 23:21] Kapeli commented on #2351
I plan on doing this, but as the doc format has changed, it's going to take a while.

Please note that this repo is for user contributed docsets, not for the ones maintained by me. For the docsets maintained by me, please [email me](https://kapeli.com/contact).

[2019-05-04 23:21] #2351 closed

[2019-05-15 14:11] vanthiyathevan opened #2364 "Request: Rust crates docs from Docs.rs"
It would be nice to have docs rust crates from
https://docs.rs
https://docs.rs/about

[2019-05-15 16:59] Kapeli commented on #2364
Check out https://github.com/rust-lang/docs.rs/issues/174

[2019-05-15 16:59] #2364 closed

[2019-05-17 08:42] KBoyarchuk opened #2371 "Update Nightwatch.js docs"

[2019-05-17 10:22] Kapeli commented on #2371
@eschaefer Can you update the docset when you get a chance please?

[2019-05-17 11:51] eschaefer commented on #2371
@Kapeli Will do so this weekend. Thanks for the heads-up.

[2019-06-01 14:52] kibs opened #2384 "Request: material-ui"
Would be awesome if dash had support for the React Material UI system: https://material-ui.com/

[2019-06-05 07:05] Thulium-Drake opened #2387 "Update Ansible docset"
Hi folks,

The Ansible has been outdated by the release of 2.8.0. Can you please update it?

Thanks!

[2019-06-05 09:43] rcoup opened #2388 "Request: AWS Redshift"
AWS Redshift developer guide would be great to get in — SQL-wise it's substantively different to PostgreSQL in all sorts of tricksy ways.

Markdown source: https://github.com/awsdocs/amazon-redshift-developer-guide
HTML: https://docs.aws.amazon.com/redshift/latest/dg/index.html

There's a lot of AWS docs available at https://github.com/awsdocs, so potentially if the markdown from/for one got down

[2019-06-05 10:19] rcoup commented on #2388
Happy to flick someone some $ to build this, email me at robert.coup@koordinates.com if you're interested.

[2019-06-05 11:17] Kapeli commented on #2387
Thanks for letting me know about this. I'll update it ASAP.

[2019-06-05 11:17] #2387 closed

[2019-06-06 18:46] Thulium-Drake commented on #2387
Would you mind sharing the recipe used to create the docset? :-) I'd like to have multiple versions in my Zael, but when building the docs from source, it doesn't index that well...

[2019-06-25 13:51] postalservice14 commented on #2388
@rcoup sent you an email - I can do this for ya.

[2019-06-26 20:12] postalservice14 commented on #2388
Done.  See PR #2411

[2019-06-26 22:13] #2388 closed

[2019-06-30 21:46] joelkrause opened #2417 "Request: Advanced Custom Fields"
Would be cool to have ACF on here! If I can work it out myself I might do it myself...

https://www.advancedcustomfields.com/resources/

[2019-07-04 07:31] lvHiei opened #2423 "Request: Android Open Source Project(AOSP)"
The Android Open Source Project is a wonderful document for Android develops.
Can dash add this docset?
https://source.android.com/

[2019-07-07 05:43] acbetter commented on #41
see #2425

[2019-07-07 13:20] #41 closed

[2019-07-23 05:43] dennyf opened #2444 "WordPress docset - file not found error"
I'm getting a File Not Found error for all entries in the WordPress docset:

<img width="936" alt="dash" src="https://user-images.githubusercontent.com/901213/61685335-c7608280-ad5f-11e9-8ac8-a91e7c35e134.png">

I opened the docSet.dsidx file and it doesn't seem that the path is set correctly, for example:

```<dash_entry_name=comment_max_links><dash_entry_originalName=comment_max_links><dash_entr

[2019-07-23 10:42] Kapeli commented on #2444
The latest WordPress docset does not support Dash 2. Please consider upgrading to Dash 4.

[2019-07-23 10:42] #2444 closed

[2019-07-23 11:10] jramapuram opened #2445 "Pytorch Latex Equations"
Pytorch docs don't seem to display latex equations:

![Screen Shot 2019-07-23 at 11 08 23 AM](https://user-images.githubusercontent.com/8204807/61707612-2ff13480-ad4b-11e9-8ce0-67c2e14bd3b6.png)

[2019-07-23 15:42] Kapeli commented on #2445
@anticlimactic  Can you look into this please? As a first step, make sure JavaScript is enabled for the docset - https://kapeli.com/docsets#enableJavascript.

[2019-07-24 01:45] anticlimactic commented on #2445
I will take a look at it.

[2019-07-24 02:10] anticlimactic commented on #2445
I have tried enabling javascript but the issue persists. The comment on this [issue](https://github.com/hynek/doc2dash/issues/82#issuecomment-361261970) here (on doc2dash, the dash document generator for Sphinx) seems to suggest that there is no simple solution for rendering LaTeX in documentation right now.

[2019-07-24 13:34] zhangchenkai commented on #2445
Thanks Kapeli, it works for me.

1.Open the docset on your mac;
2.Edit `info.plist`, under the `Contents` folder of this docset package;
3.change `isJavaScriptEnabled` as `true`, or create an item `<key>isJavaScriptEnabled</key><true/>`;
4.Delete it the item in your dash preference (do not remove the docset file) , and click rescan to add it again.
Done.

[2019-07-30 04:38] jnothman commented on #2346
Are you running it in the directory with `build.sh`? `userguide.py` is defined there.

[2019-07-30 04:42] jnothman commented on #2312
Would you recommend enabling javascript, or making the docs fully offline by displaying math as pngs?

[2019-07-30 08:58] Kapeli commented on #2312
I was never able to get MathJax to work while offline, so even in the docsets I maintain the LaTeX is rendered only when online.

If you know/find a way to convert the MathJax to PNGs, let me know.

[2019-07-30 09:33] jnothman commented on #2312
Oh, I was just going to use a python Sphinx switch to render pngs.

[2019-07-30 09:37] Kapeli commented on #2312
That would be better I think.

[2019-07-31 23:15] jramapuram commented on #2445
Can confirm that @zhangchenkai 's fix works:

<img width="928" alt="Screen Shot 2019-08-01 at 1 14 25 AM" src="https://user-images.githubusercontent.com/8204807/62254512-b667df00-b3f9-11e9-862b-0d7feca29244.png">

Can we make this permanent?

[2019-08-01 14:23] #2312 closed

[2019-08-28 21:54] darko20 opened #2486 "Request: Win32 API"
Possibly can be derived from [MicrosoftDocs/win32](https://github.com/MicrosoftDocs/win32) which is in Markdown format with annotations. There may be existing (open sourced) tools for processing this but I haven't found them (yet).

[2019-08-30 21:04] #2037 closed

[2019-09-02 20:54] #1850 closed

[2019-09-13 13:01] inspirity commented on #2005
I'missing the vuex documentation too. Im using vue and vuex a lot and mostly I'm fine without documentation. But each time i need some information about vuex i realize how much I rely on Dash for a quick answer to my question.
Is there any way to support the implementation of vuex?

[2019-09-13 21:55] ryanpcmcquen opened #2502 "What is the CDN url?"
I'd like to point to one of the `.tgz` archives for use in Zeal, but I can't find any documentation on where the CDN is that archives get uploaded to.

[2019-09-14 02:57] Kapeli commented on #2502
See https://github.com/zealdocs/zeal/issues/170#issuecomment-71310603

[2019-09-14 02:57] #2502 closed

[2019-09-17 02:47] ianding1 commented on #1954
PR: #2512

[2019-09-25 12:03] #2318 closed

[2019-09-25 18:55] silvenon opened #2522 "Request: MDN Accessibility"
Hey, @Kapeli, as I understand you maintain some MDN docsets like CSS, HTML, and JS. Do you think you could create one for the [MDN Accessibility reference](https://developer.mozilla.org/en-US/docs/Web/Accessibility) as well? If not, do you have source code for how you generate other MDN docsets so we can use some of that logic to create the one for accessibility?

[2019-09-25 22:58] Kapeli commented on #2522
I haven't seen much demand for a MDN Accessibility docset. If more users ask, I'll add it.

The scripts I use to generate the CSS/HTML/JS docsets would be of no use, as I only index APIs for those docsets, while the docs you link to seem to contain only guides/tutorials.

[2019-09-27 13:13] heilerich opened #2523 "Automated submission of large docsets"
A docset I am managing has just hit the 100 MB mark with its latest update. I read about your usual process for such docsets (uploading it somewhere and then providing a link in an issue/PR), but since I automated the whole process of docset generation and submission as much as possible I was wondering if we could also do something about the submission of large docsets that is a little more automa

[2019-09-27 23:29] Kapeli commented on #2523
Couldn't you automatically upload the docset somewhere and automatically include the link in the pull request somewhere?

I'm getting very very few pull requests containing large docsets so it's not worth automating on my end.

[2019-09-28 19:23] heilerich commented on #2523
Okay, whatever works best for you 👍🏻 I‘ll find a solution.

[2019-09-28 19:23] #2523 closed

[2019-10-08 02:54] alexgleason opened #2542 "Request: Solarus"
[Solarus](https://www.solarus-games.org/doc/latest/) is a 2D game engine tuned for developing games similar to The Legend of Zelda.

Solarus 1.6 documentation is here: https://www.solarus-games.org/doc/latest/ It's generated with Doxygen. Would be great to have here!

[2019-10-08 03:48] alexgleason opened #2543 "Request: Mastodon"
Mastodon is a federated social media software. Their docs are here: https://docs.joinmastodon.org/

It's a static site built in Hugo: https://source.joinmastodon.org/mastodon/docs

[2019-10-09 14:11] steve3d opened #2545 "three.js docset with examples compressed over 240m, how to contribute?"
the current three.js docset is very old one, so I build a new one, and of  course with all the examples, the docset is 374m, and over 250m in tgz format, there is no way to upload to github.

so how can I contribute?

[2019-10-10 00:31] Kapeli commented on #2545
Please make all the changes you need to the repo (i.e. update the `docset.json`), without actually including the docset.

Upload the docset anywhere you want and submit a pull request and mention the URL where I can download the docset.

[2019-10-10 00:31] #2545 closed

[2019-10-15 20:33] andrewcl commented on #1638
Has there been any movement on this issue?

[2019-10-16 00:27] imWildCat commented on #1638
Hi @andrewcl, you can try: https://api.flutter.dev/offline/flutter.xml

Reference: https://github.com/flutter/flutter/issues/9955#issuecomment-444702105

[2019-11-01 09:32] hologerry opened #2565 "Request: Please update torchvision to latest version."

[2019-11-01 17:24] Kapeli commented on #2565
@Time1ess can you look into this when you get a chance?

[2019-11-09 10:36] ripperhe opened #2570 "GitHub docsets can't search mzlogin/chinese-copywriting-guidelines"
GitHub docsets can't search mzlogin/chinese-copywriting-guidelines

mzlogin/chinese-copywriting-guidelines
https://github.com/mzlogin/chinese-copywriting-guidelines

![Jietu20191109-183635](https://user-images.githubusercontent.com/13943595/68527249-e17a9c80-031f-11ea-957d-16d44502cacc.png)

[2019-11-10 15:11] Kapeli commented on #2570
Seems to be a GitHub issue - https://api.github.com/search/repositories?q=chinese-copywriting-guidelines.

[2019-11-10 15:11] #2570 closed

[2019-11-11 01:52] ripperhe commented on #2570
@Kapeli OK, thank you!

[2019-11-23 05:19] a2sheppy commented on #1574
I would very much like to have a Doxygen commands docset too.

[2019-12-01 12:58] codecog opened #2583 "Update React Native docs to 0.61"
Latest stable release is currently 0.61 but showing 0.57 on the app.

Can we have an update for this please?

http://facebook.github.io/react-native/versions

[2019-12-05 17:56] mustaqimM opened #2588 "Docker set has unnecessary files downloaded"
I saw under the dir structure that it downloads so many files that are not directly related to Docker, including PDFs and analytics:

![image](https://user-images.githubusercontent.com/24436622/70257281-e6e1d000-1781-11ea-94bb-3bec2f90b920.png)
[code]

[2019-12-05 19:19] Kapeli commented on #2588
Docker is not an user contributed docset. Please contact me directly regarding it.

The download script is set to fetch all resources linked from the pages it downloads. Those files are downloaded because they're mentioned/linked to somewhere in the docs.

[2019-12-05 19:19] #2588 closed

[2019-12-06 12:33] holyjak opened #2589 "Terraform docset 0.11.13 is actully for Terraform 0.12"
I have just downloaded my first Terraform docset, for 0.11.13. Yet when I search for the `element` function, the page displayed contains this notification:

So obviously the docset is for 0.12 and not 0.11?!

[2019-12-07 06:35] Kapeli commented on #2589
@rolandjohann can you look into this please? I think this is related to `versions/0.11.13/Terraform.tgz`.

[2019-12-11 09:42] EugenMaysyuk commented on #595
I think it is worth mentioning that this is not HTML reference. It's JavaDoc documentation for Spring Boot.

[2019-12-11 09:42] EugenMaysyuk commented on #595
+1

[2019-12-13 13:01] dsully opened #2598 "Click user contributed dockset shows up as "html""
The Click user contributed dockset shows up as "html", and uses the "html:" search keyword.

[2019-12-18 11:21] baxang opened #2601 "Request: AWS CDK (Cloud Development Kit)"
https://github.com/aws/aws-cdk
https://docs.aws.amazon.com/cdk/api/latest/

The CDK is available in the following languages:

- JavaScript, TypeScript (Node.js ≥ 10.3.0)
- Python (Python ≥ 3.6)
- Java (Java ≥ 8 and Maven ≥ 3.5.4)
- .NET (.NET Core ≥ 3.0)

[2019-12-19 21:23] MTCoster opened #2602 "Update GLFW docs to 3.3.0"
The GLFW docs are showing as last updated in 2014 for version 3.1.0, while the current release is 3.3.0.

[2019-12-21 12:51] Robert-M-Muench opened #2603 "cheatsheets: allow multiple notes entries on every cheatsheet level"
* 1..N top-level notes
* 1..N category notes
* 1..N entry notes

[2019-12-29 00:51] Kapeli commented on #2602
@rcolinray Can you update when you get a chance please?

[2019-12-29 00:53] Kapeli commented on #2603
Please open issues/pull requests regarding cheat sheet features at https://github.com/Kapeli/cheatset.

[2019-12-29 00:53] #2603 closed

[2019-12-30 18:29] imciner2 commented on #2486
There is a user-contributed one on the web here: https://rotemy.com/dash/msdn/msdn.xml

[2019-12-30 18:57] mnmaraes commented on #2583
Never maintained a docset here before, but would be willing to do so, provided some guidance

[2019-12-30 21:40] darko20 commented on #2486
Thanks for the tip, but I've had that one for a while. I was hoping for something that will be kept up to date. This really needs an import script of some sort that can be run periodically.

[2020-01-06 14:59] mnmaraes commented on #2583
Tried doing some work on this today. It seems like the script used to export the docset is out of sync with how the website is laid out. Will try to do some more looking into this later. Don't really know what I'm doing, though, so it might take a while

[2020-01-16 16:57] kh0kv opened #2622 "@rcolinray Can you update when you get a chance please?"
@rcolinray Can you update when you get a chance please?

_Originally posted by @Kapeli in https://github.com/Kapeli/Dash-User-Contributions/issues/2602#issuecomment-569463667_

[2020-01-16 16:57] kh0kv opened #2623 "https://github.com/Kapeli/Dash-User-Contributions/issues/2602#issuecomment-569463667"

[2020-01-16 16:57] kh0kv opened #2624 "https://github.com/Kapeli/Dash-User-Contributions/issues/2602#issuecomment-569463667"

[2020-01-17 07:38] #2622 closed

[2020-01-17 07:38] #2624 closed

[2020-01-17 07:38] #2623 closed

[2020-01-17 16:11] codecog commented on #2583
@mnmaraes how did you go?

[2020-01-20 12:09] mnmaraes commented on #2583
Still on it. Haven't had as much time to work on it lately, though.

Just to make it available to everyone who doesn't want to wait for my schedule to clear up. The work consistis in updating: https://github.com/dash-docs-community/react-native-dash to the new site layout.

As I remember the issues is in  running `node src/createSectionJSON.js`. It fails to index the sections (returning an empty a

[2020-01-25 08:58] rramphal opened #2635 "Request: react-router"
https://reacttraining.com/react-router/core
https://reacttraining.com/react-router/web
https://reacttraining.com/react-router/native

[2020-02-06 14:12] dsummersl commented on #1569
Does this project still need a maintainer? I notice its about 5 major versions out of date...

[2020-02-06 14:35] epitaphmike commented on #1569
Very much so. You can join the group here
https://github.com/dash-docs-community/jest-dash to start maintaining, then
merge to https://github.com/Kapeli/Dash-User-Contributions

Thank you for your help.

On Thu, Feb 6, 2020 at 9:12 AM Dane Summers <notifications@github.com>
wrote:

[2020-02-06 14:49] chinesedfan commented on #1569
@epitaphmike Did you see my apply about 1.5 year ago? In fact, you can invite me directly. :P

[2020-02-09 12:03] lyj0309 opened #2665 "no flutter doc"

[2020-02-09 16:23] schmidh commented on #2273
Can be closed.

[2020-02-10 03:48] #2273 closed

[2020-02-12 08:35] mnmaraes commented on #2583
Done: https://github.com/Kapeli/Dash-User-Contributions/pull/2669
And: https://github.com/dash-docs-community/react-native-dash/pull/4

Happy to keep it up to date moving forward. There are a couple more things to do, like adding Component props to the navigation menu, but this should do for now, I think

[2020-02-17 20:19] #2583 closed

[2020-02-19 12:04] lolleko opened #2672 "Unreal Engine 4 docset"
So im pretty much done creating a ue4 docset.

But I won't be able to contribute it, because I will definitely hit githubs size limit.

The size of the docset is around 4.5GB the size of the compressed tar is around 2GB.
I will most likely have to provide it to you another way (like mentioned in the readme).

Summary of docset contents:

c++ API: 1.6gb
Blueprint API (Unreal's visual scripting lang

[2020-02-20 09:46] Kapeli commented on #2672
Sounds good. Open a pull request which adds everything except the actual docset, and include a link to the docset.

I think it's fine to not include the Python API in any way currently. It's up to you.

There's a "Node" type already. It's not listed at https://kapeli.com/docsets#supportedentrytypes because it's not so common, but it should work just fine.

[2020-02-25 08:54] #2020 closed

[2020-02-25 08:54] #2672 closed

[2020-03-03 17:46] imrehg opened #2682 "Request: mlflow"
[MLFLow](https://www.mlflow.org/) is an open source platform for managing the end-to-end machine learning lifecycle.

Static docs: https://www.mlflow.org/docs/latest/index.html

[2020-03-05 09:43] #2682 closed

[2020-03-16 08:40] shenruisi opened #2691 "Salyut docset (a new script language of website spider)"
docs address: https://www.trico.cloud/tricoDoc/grammar/index.html
docset: http://shenyin.name/feeds/salyut.tgz

[2020-03-24 16:09] kassane opened #2699 "Request: QEMU Documentation"
https://www.qemu.org/docs/master/

[2020-03-26 13:17] hologerry opened #2702 "How to convert the build output html to docset file?"
I am trying to generate latest torchvison dataset, with the Makefile from [torchvision](https://github.com/pytorch/vision/blob/master/docs/Makefile) and got the `html` and `doctrees` output in `build`:
<img width="706" alt="Screen Shot 2020-03-26 at 21 13 15" src="https://user-images.githubusercontent.com/11660168/77650605-b3cc8200-6fa6-11ea-91bf-11c7c2d56748.png">
How could I convert the `html` o

[2020-03-26 19:51] venkatasg commented on #2702
I seem to be having a related issue when I try to run `doc2dash` on the `_build/html` directory for [Huggingface Transformers](https://github.com/huggingface/transformers/tree/master/docs). After building using sphinx, I get a similar output as above (with html and doctrees folders inside build) -- however when I run `doc2dash` with the directory `build/html', the resulting docset that I get is em

[2020-03-27 08:37] hologerry commented on #2702
Thanks for your reply.
`doc2dash -A build/html --name torchvision` works.
Since I am not quite familiar with the Dash docket generation process, I can not help you to address your issue.
Anyway, thanks for your help.

[2020-03-27 11:21] #2702 closed

[2020-03-27 11:28] hologerry commented on #2565
Updated with this [pull request](https://github.com/Kapeli/Dash-User-Contributions/pull/2703).

[2020-03-27 15:29] gingerbeardman opened #2704 "Request: Lua 5.4"
Lua 5.4 (beta) was released October 2019

http://www.lua.org/work/doc/contents.html

[2020-03-30 10:41] #2565 closed

[2020-03-31 10:19] Kapeli commented on #2704
Thanks for letting me know about this. Lua is an officially-supported docset, so I'll add 5.4 to Dash soon.

[2020-03-31 10:19] #2704 closed

[2020-04-02 11:58] mharju opened #2714 "ClojureScript docset misses namespace information"
Thanks for the contributed CLJS docs, they have been in quite an extensive use for me for a long time. However, after updating to Dash 5, the information about the namespace of the matches has disappeared. This makes it hard to know which one is the correct selection.

![image](https://user-images.githubusercontent.com/130086/78246575-0a2f4880-74f2-11ea-9b2e-569d3f8fd263.png)

[2020-04-02 12:08] mharju commented on #2714
@shaunlebron if there is something I can help with to get this working, I'll be happy  to help!

[2020-04-02 16:34] shaunlebron commented on #2714
1. how did the UI display it before?
2. does the official clojure docset do it better?

[2020-04-03 04:14] mharju commented on #2714
It displayed the namespace in conjunction with the match.

Yes, it works like expected. See the attached screenshot.

![image](https://user-images.githubusercontent.com/130086/78323523-c2a0cf00-757a-11ea-86ca-39659bf41665.png)

Thanks!

[2020-04-03 14:03] kassane opened #2715 "Clang and LLVM outdated"
#1787 #1786

[2020-04-04 00:52] shaunlebron commented on #2714
@Kapeli how might I add “hierarchy” information to the symbol index?  Like in your official clojure docs:

<img width="317" alt="Screen Shot 2020-04-03 at 7 49 05 PM" src="https://user-images.githubusercontent.com/116838/78414956-6377a480-75e4-11ea-8701-d6e5e6c31f57.png">

The SQLite index only takes `name`, `type`, and `path`.  Is the path somehow used to construct the hierarchy?

[2020-04-04 03:05] zhanggang807 opened #2716 "want dubbo chinese doc"
url:
https://dubbo.apache.org/zh-cn/docs/user/quick-start.html

[2020-04-07 02:15] zhanggang807 opened #2719 "Advanced Bash-Scripting Guide"
[Advanced Bash-Scripting Guide](http://tldp.org/LDP/abs/html/index.html)

[2020-04-08 09:28] tzh2017 opened #2720 "Flutter support"

[2020-04-08 10:06] Kapeli commented on #2714
That menu is built from the [table of contents](https://kapeli.com/docsets#tableofcontents). It's only for the current page, not the entire docset. It's also no longer available in Dash 5.

Dash docsets do not have any hierarchy.

[2020-04-08 23:06] shaunlebron commented on #2714
@Kapeli how would you suggest attaching a namespace to the search results then?  like the following:

![](https://user-images.githubusercontent.com/130086/78323523-c2a0cf00-757a-11ea-86ca-39659bf41665.png)

[2020-04-09 10:51] Kapeli commented on #2714
Within the `path` field in the SQLite index, add this anywhere: `<dash_entry_titleDescription=%@>`, where `%@` is the namespace you want, percent-encoded.

[2020-04-09 22:02] shaunlebron commented on #2714
I appended `<dash_entry_titleDescription=cljs.core>` to the end of the path field as suggested, and it seems to have corrupted the paths:
<img width="1087" alt="Screen Shot 2020-04-09 at 5 00 36 PM" src="https://user-images.githubusercontent.com/116838/78944509-aeca0100-7a83-11ea-8291-0ab5ca3298d8.png">
Likely not compatible with Dash 2.2.6, but it’s the latest one I can get on High Sierra, I thin

[2020-04-10 12:58] Kapeli commented on #2714
Adding this makes the docset not work in Dash 2, yes. Dash 3+ is ok with it, but only Dash 5 displays it in the interface.

You can use Dash 4 on High Sierra: https://kapeli.com/downloads/v4/Dash.zip.

[2020-04-10 15:19] shaunlebron commented on #2714
@Kapeli thanks

@mharju I’m not likely to add this if it breaks Dash 2.  But returning to the original problem, I’m not even seeing cljs namespaces in Dash 4 search results.  Can you clarify what disappeared in Dash 5?

<img width="780" alt="Screen Shot 2020-04-10 at 10 12 49 AM" src="https://user-images.githubusercontent.com/116838/79001357-f13b1e80-7b13-11ea-880b-b83b58479421.png">

[2020-04-10 17:19] gingerbeardman commented on #2704
@Kapeli any idea when this is coming?

Feels odd for the issue to be closed but the docs still not updated?

Thanks

[2020-04-11 06:20] mharju commented on #2714
@shaunlebron the UI screenshot of yours looks the way it was before. So maybe the difference is that Dash 5 does not show it the way it sums the two matching `get-env`:s for instance.

So – to elaborate, maybe it did not display anything before, but only added the garbled versions in the search?

[2020-04-11 21:34] shaunlebron commented on #2714
okay thanks.  i’ll have to leave it as is since I can only publish one version to this repo.

[2020-04-12 15:03] cocoonkid opened #2729 "request: CSS Tricks almanac"
request: CSS Tricks almanac

https://css-tricks.com/almanac/

[2020-04-13 12:26] Kapeli commented on #2714
By default, those hashes come from the file names of the doc pages (e.g. filename of `/api/cljs.spec.impl.gen/fmap-02bd1f8596236925b11b67bbb95c74eb.html`). If it used to work before, it might have been because the file names contained something different before.

The same info is shown in Dash 2, 3 or 4 when you press platform icon of a search result or the badges that sometimes appear next to sea

[2020-04-13 22:05] firetix commented on #1576
ANy update @Kapeli

[2020-04-14 05:10] shaunlebron commented on #2714
@Kapeli thanks.  And oops, I forgot I added those hashes, as a lazy way to get around macOS filesystem not being case-sensitive.

https://github.com/Kapeli/Dash-User-Contributions/pull/2732 should fix it.  It prefixes the filenames with a namespace (for @mharju), and removes the hashes (safely).

Btw, I was only Dash 2 because I didn’t know about newer versions.  I don’t mind upgrading (and thanks

[2020-04-14 06:05] mharju commented on #2714
Thank you so much for this!

[2020-04-14 08:32] starplanet commented on #2275
The stable version of Tensorflow is 2.1, but the docs on dash still remain 1.15.

[2020-04-14 10:07] reuben commented on #2275
TF 2.x broke the API significantly so there probably needs to be a split (akin to Python 2 vs 3) for docs, so that both the old and the new API are available. The doc generation setup has also changed a bit, but I don't expect it to be a major problem. I'll try to take a look when I have some time.